.container-fluid.custom-header
  .navbar-header
    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
      span(class="sr-only") Toggle navigation
      span(class="icon-bar")
      span(class="icon-bar")
      span(class="icon-bar")
    a(class="navbar-brand" href="/")
      img(src="/IdeaJam-prebeta.png")
    
  div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
    ul(class="nav navbar-nav navbar-right")
      if Object.keys(user).length != 0
        li
          span.userName #{user.nickname}
      else
        li
          span.userName Welcome Imagineer!
      if headshot && Object.keys(user).length != 0
        li.profile-headshot-list-item
          .profile-headshot
            div(class="placeholder" style="height: 40px; width: 40px; background-image : url('" + headshot + "');  background-position: center center; background-repeat: no-repeat; background-size: cover;" + headshotStyle)
            div(class="profile-einstein-points") #{user.einsteinPoints || "0"}
      else  
        li.profile-headshot-list-item
          .profile-headshot
            div(class="placeholder" style="height: 40px; width: 40px; background-image : url('/avatar.png');  background-position: center center; background-repeat: no-repeat; background-size: cover;")
            div(class="profile-einstein-points") #{user.einsteinPoints || "0"}
      if Object.keys(user).length != 0
        li
          a.home-logout.btn.btn-electric( href="/jam/Startup%20Denver%20Pitch%20Battle"  ontouchstart="this.style.background = '#337ab7';" ontouchend="this.style.background = '#D6DE26';") Startup Pitch Battle
        li
          a.home-logout.btn.btn-vision( href="/ideas"  ontouchstart="this.style.background = '#D6DE26';" ontouchend="this.style.background = '#337ab7';") View All Ideas
        if user.nickname
          li
            a.home-logout.btn.btn-vision( href="/imagineer/" + user.nickname ontouchstart="this.style.background = '#D6DE26';" ontouchend="this.style.background = '#337ab7';") My Profile
        li
          a.home-logout.btn.btn-vision( href="/about"  ontouchstart="this.style.background = '#D6DE26';" ontouchend="this.style.background = '#337ab7';") About IdeaJam
        li
          a.home-logout.btn.btn-vision( href="/logout"  ontouchstart="this.style.background = '#D6DE26';" ontouchend="this.style.background = '#337ab7';") Log Out
      else 
        li
          a.home-logout.btn.btn-success( href="/jam/Startup%20Denver%20Pitch%20Battle"  ontouchstart="this.style.background = '#337ab7';" ontouchend="this.style.background = '#D6DE26';") Startup Pitch Battle
        li
          a.home-logout.btn.btn-vision( href="/about"  ontouchstart="this.style.background = '#D6DE26';" ontouchend="this.style.background = '#337ab7';") About IdeaJam
        li
          a.home-logout.btn.btn-vision( href="/"  ontouchstart="this.style.background = '#D6DE26';" ontouchend="this.style.background = '#337ab7';") Log In

  .dropdown.custom-nav
    ul(class="nav navbar-nav")
      li
        a(class="navbar-brand" href="/")
          img(src="/IdeaJam-prebeta.png")
      if Object.keys(user).length != 0
        li
          span.newUserName #{user.nickname}
      else
        li
          span.newUserName Welcome Imagineer!      

      if headshot
        li
          div(class="placeholder" style="height: 40px; width: 40px; margin-bottom: -13px; background-image : url('" + headshot + "');  background-position: center center; background-repeat: no-repeat; background-size: cover;")
        li
          div(class="dropdown-toggle profile-einstein-points" data-toggle="dropdown") #{user.einsteinPoints || "0"}     
          ul.einsteinHistoryDropdown.dropdown-menu.dropdown-menu-right
            if user.einsteinHistory && user.einsteinHistory.length > 0
              each item, index in user.einsteinHistory
                if index < 6
                  li(class="#{index == 0 ? 'first' : ''}") #{item}

      else
        li
          div(class="placeholder" style="height: 40px; width: 40px; margin-bottom: -13px; background-image : url('/avatar.png');  background-position: center center; background-repeat: no-repeat; background-size: cover;")
        li
          div(class="dropdown-toggle profile-einstein-points" data-toggle="dropdown") #{user.einsteinPoints || "0"}
            ul.einsteinHistoryDropdown.dropdown-menu.dropdown-menu-right
              if user.einsteinHistory && user.einsteinHistory.length > 0
                each item, index in user.einsteinHistory
                  if index < 6
                    li(class="#{index == 0 ? 'first' : ''}") #{item}
      li
        button(type="button" class="navbar-toggle desktop dropdown-toggle" data-toggle="dropdown")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        ul.dropdown-menu.dropdown-menu-right(id="test")
          if Object.keys(user).length != 0
            li
              a.home-logout.btn.btn-vision( href="/jam/Startup%20Denver%20Pitch%20Battle"  ontouchstart="this.style.background = '#337ab7';" ontouchend="this.style.background = '#D6DE26';") Startup Pitch Battle
            li
              a.home-logout.btn.btn-vision( href="/ideas"  ontouchstart="this.style.background = '#D6DE26';" ontouchend="this.style.background = '#337ab7';") View All Ideas
            if user.nickname
              li
                a.home-logout.btn.btn-vision( href="/imagineer/" + user.nickname ontouchstart="this.style.background = '#D6DE26';" ontouchend="this.style.background = '#337ab7';") My Profile
            li
              a.home-logout.btn.btn-vision( href="/about"  ontouchstart="this.style.background = '#D6DE26';" ontouchend="this.style.background = '#337ab7';") About IdeaJam
            li
              a.home-logout.btn.btn-vision( href="/logout"  ontouchstart="this.style.background = '#D6DE26';" ontouchend="this.style.background = '#337ab7';") Log Out
          else 
            li
              a.home-logout.btn.btn-vision( href="/jam/Startup%20Denver%20Pitch%20Battle"  ontouchstart="this.style.background = '#D6DE26';") Startup Pitch Battle
            li
              a.home-logout.btn.btn-vision( href="/about"  ontouchstart="this.style.background = '#D6DE26';" ontouchend="this.style.background = '#337ab7';") About IdeaJam
            li
              a.home-logout.btn.btn-vision( href="/"  ontouchstart="this.style.background = '#D6DE26';" ontouchend="this.style.background = '#337ab7';") Log In


    include 
      script(type="text/javascript").

        $(".dropdown-toggle").click(function(event){
          console.log("clicked");
          var customNav = $('.custom-nav');
          if(customNav.hasClass("open")) {
            customNav.removeClass("open");
          } else {
            customNav.addClass("open");
          }
        });
     