.suggestion-element.variant-suggestion-block.image-block
	.idea-image.variant-suggestion.image-block(style="background-image : url('" + '#{imageURL || "/lightbulb.png"}' + "');" + compImageStyle)
	.title-description.variant-suggestion
		p <b>Image Name: </b>#{imageName || 'No suggestion text'}
		if(compHeadshot)
			a(href='/profile/' + accountName)
				img(src=compHeadshot height="50" width="50" style=compHeadshotStyle)
		else
			a(href='/profile/' + accountName)
				img(src="/avatar.png" height="50" width="50")
		.userName #{accountName || user.username}
		.suggestion-category
			ul
				each component in componentList
					li 
						p <b> Component #{component[0]}</b> : #{component[1]}
	if !variantSummary
		.footer.variant-suggestion.image-block
			.radio
				input(type='radio', name='image-'+imageID, value="incorporate")
				|  Incorporate
			.radio
				input(type='radio', name='image-'+imageID, value="notIncorporate")
				|  Don't Incorporate
