.suggestion-element.inventor-block.image-block
	a(href='/imagineer/' + inventorName)
		.idea-image.inventor-block.image-block(style="background-image : url('" + '#{inventorImage || "/avatar.png"}' + "');" + inventorImageStyle)
	.title-description.inventor-block
		p <b>Inventor Name: </b>#{inventorName || 'No Inventor Name'}
		.suggestion-category
			p <b>Einstein Points: </b>#{inventorPoints || 'No Einstein Points'}
		if inventorAptitudeIds.length > 0
			p <b>Aptitudes: </b>
		else
			p No current Aptitudes
		ul
			each aptitude, index in inventorAptitudeIds
				li 
					a(href='/jam/' + aptitude) #{aptitude.title}
	if isPending
		.footer.inventor-block.multiple-button
			a(href='/imagineer/' + inventorName)
				.btn.btn-go.btn-one View Profile
			a(class='btn-pending' data-member=inventorName)
				.btn.btn-go.btn-two Accept Member
	else
		.footer.inventor-block
			a(href='/imagineer/' + inventorName)
				.btn.btn-go View Profile
