.suggestion-element.variant-suggestion-block.problem-summary-block.imperfection-element
  .title-description.variant-suggestion
    div.row.imperfection-row.problem-row(id="#{problem.identifier}")

      .col-sm-2.problem-row-padding.upvote.problem-upvote-link  
        a(class="upvote-suggestion" id="upvote-#{problem.identifier}" data-problem-id="#{problem.id}").glyphicon.glyphicon-fire  #{problem.upvotes.length || 0} <br> Upvote

      .col-sm-7.problem-row-padding.click-row
        if problem['text']
          div Description: #{problem.text}

      .col-sm-3.click-row
        div #{problem.wholeCreator.nickname}

        if(problem.headshot && problem.headshot.url)
          a(href='/imagineer/' + problem.wholeCreator.nickname)
            div(style="height: 50px; width: 50px; background-image : url('" + problem.headshot.url + "');  background-position: center center; background-repeat: no-repeat; background-size: cover;" + problem.headshot.style)
        else
          a(href='/imagineer/' + problem.wholeCreator.nickname)
            img(src="/avatar.png" height="50" width="50")
    
    script(type="text/javascript").

      $(".click-row").click(function(event){
        if ($.contains($("#!{problem.identifier}")[0], event.target)) {
          window.document.location = "/imperfection-profile/" + "!{problem.identifier}";    
        }
      });

