.suggestion-element.variant-suggestion-block.problem-summary-block
  .title-description.variant-suggestion
    div.row.problem-row(id="#{problem.identifier}")
      .col-xs-3
        if(compHeadshot)
          a(href='/imagineer/' + accountName)
            img(src=compHeadshot height="50" width="50" style=compHeadshotStyle)
        else
          a(href='/imagineer/' + accountName)
            img(src="/avatar.png" height="50" width="50")
        span #{accountName || user.nickname}

      .col-xs-3.problem-row-padding
        if problem['date']
          div #{moment(problem.date).format('MM/DD/YY')}

      .col-xs-6.problem-row-padding
        if problem['text']
          div Description: #{problem.text}

    include ../partials/js-includes.jade
    script(type="text/javascript").
    
      $(".problem-row").click(function(event){
        window.document.location = "/imperfection-profile/" + $(this).attr('id');
      });      