div.row.problem-row.idea-edit-problem-element(id="#{problem.identifier}")
  .col-sm-6.problem-row-padding.click-row
    if problem['text']

      if problem.ideaName
        div.suggestionStyle The #[a(href='/ideas/'+problem.ideaName) #{problem.ideaName}] imperfection of #{problem.text}
      else
        div.suggestionStyle The imperfection of #{problem.text}
      <br>
      span By: 
        if(problem.headshot && problem.headshot.url)
          a(href='/imagineer/' + problem.wholeCreator.nickname)
            span.suggestionStyle #{problem.wholeCreator.nickname} 
            div(style="display: inline-block; border-radius: 15px; height: 15px; width: 15px; background-image : url('" + problem.headshot.url + "');  background-position: center center; background-repeat: no-repeat; background-size: cover;" + problem.headshot.style)
        else
          a(href='/imagineer/' + problem.wholeCreator.nickname)
            span.suggestionStyle #{problem.wholeCreator.nickname}
            img(src="/avatar.png" height="15" width="15")

  //- .col-sm-3
  //-   img.ideajam-spinner(src="/IdeaJam-logo.gif" style="display:none;")
  //-   a.btn.btn-vision.btn-block.full-width-mobile.btn-lg(class="upvote-imperfection" id="upvote-#{problem.identifier}" data-problem-id="#{problem.id}"  ontouchstart="this.style.background = '#69847d';" ontouchend="this.style.background='#337ab7';") Upvote #{problem.upvotes.length || 0}

  .col-sm-6.right-jam-col
    img.ideajam-spinner(src="/IdeaJam-logo.gif" style="display:none;")
    a.btn.btn-electric.btn-block.full-width-mobile.btn-lg(href='/imperfection-profile/' + "#{problem.identifier}") Solve This!

script(type="text/javascript").
  $(".click-row").click(function(event){
    if ($.contains($("#!{problem.identifier}")[0], event.target)) {
      window.document.location = "/imperfection-profile/" + "!{problem.identifier}";    
    }
  });

