.suggestion-element.variant-suggestion-block.problem-summary-block
  .title-description.variant-suggestion
    div.row.imperfection-row.problem-row(id="#{problem.identifier}")
      .col-sm-1.click-row
        if(problem.headshot && problem.headshot.url)
          a(href='/imagineer/' + problem.wholeCreator.nickname)
            div(style="height: 50px; width: 50px; background-image : url('" + problem.headshot.url + "');  background-position: center center; background-repeat: no-repeat; background-size: cover;" + problem.headshot.style)
        else
          a(href='/imagineer/' + problem.wholeCreator.nickname)
            img(src="/avatar.png" height="50" width="50")

      .col-sm-2.click-row.problem-row-padding
        span #{problem.wholeCreator.nickname}

      .col-sm-3.problem-row-padding.click-row
        if problem['date']
          div #{moment(problem.date).format('MM/DD/YY')}

      .col-sm-4.problem-row-padding.click-row
        if problem['text']
          div Description: #{problem.text}

      .col-sm-2.problem-row-padding.upvote
        a(id="upvote-#{problem.identifier}")
          div.glyphicon.glyphicon-fire 
        span #{problem.upvotes.length || 0}

    
    script(type="text/javascript").

      $(".click-row").click(function(event){
        if ($.contains($("#!{problem.identifier}")[0], event.target)) {
          window.document.location = "/imperfection-profile/" + "!{problem.identifier}";    
        }
      });

      $(".upvote").click(function(event){      
        event.preventDefault();

        var selector = "#upvote-" + "!{problem.identifier}";
        if ($.contains($(selector)[0], event.target)) {
          $.post('/upvote-imperfection', 
          {
            _csrf : $('[name="_csrf"]').val(),
            problem : "!{problem.id}"
          },
          function(data, response) {
            window.location.reload(true);          
          });
        }

        return false;
      });