.suggestion-element.variant-suggestion-block.problem-summary-block
  .title-description.variant-suggestion
    div.row.imperfection-row(id="#{suggestion.document.identifier}")

      .col-sm-2.problem-row-padding.upvote.problem-upvote-link       
        a(class="upvote-suggestion" id="upvote-#{suggestion.document.identifier}").glyphicon.glyphicon-fire  #{suggestion.document.upvotes.length || 0} <br> Upvote   
      .col-sm-7.problem-row-padding
        if suggestion.document.descriptions[0]
          div.suggestionStyle Suggestion: The solution of #{suggestion.document.descriptions[0]} 
          <br>
          if suggestion.document.ideaSeed && suggestion.document.identifier
            a(href='/component-profile/'+ suggestion.document.identifier)

          div For: My Idea Name
          div By: Inventor Name 
            img(src="/avatar.png" height="15" width="15")             

      .col-sm-3.click-row.problem-row-padding.problem-right-col
        div.suggestionStyle By: #{suggestion.creatorNickname}

        div.click-row(style="height: 50px; max-width: 50px; background-image : url('" + suggestion.creatorProfilePic + "');  background-position: center center; background-repeat: no-repeat; background-size: cover;" + suggestion.profilePicOrientation)

        if(suggestion.creatorProfilePic)
          a(href='/imagineer/' + suggestion.creatorNickname)
        else
          a(href='/imagineer/' + suggestion.creatorNickname)
            img(src="/avatar.png" height="50" width="50")

        if suggestion.document['date']
          div #{moment(suggestion.document.date).format('MM/DD/YY')}        

    include ../partials/js-includes.jade
    script(type="text/javascript").

      $(".upvote-suggestion").click(function(event){
        event.preventDefault();
        var selector = "#upvote-" + "!{suggestion.document.identifier}";

        if ($.contains($(selector)[0], event.target) || ($(selector)[0] == event.target)) {
          $.post('/upvote-suggestion', 
          {
            _csrf : $('[name="_csrf"]').val(),
            suggestion : "!{suggestion.document.id}"
          },
          function(data, response) {
            window.location.reload(true);
          });
        }

        return false;
      });