div.row.suggestion-row.suggestion-element(id="#{suggestion.document.identifier}")
  .col-sm-9.problem-row-padding.suggestion-row-description
    if suggestion.document.descriptions[0]
      if suggestion.ideaName
        div.suggestionStyle The #[a(href='/ideas/'+suggestion.ideaName) #{suggestion.ideaName}] solution of #{suggestion.document.descriptions[0]}
      else
        div.suggestionStyle The solution of #{suggestion.document.descriptions[0]}
      <br>
      if suggestion.document.ideaSeed && suggestion.document.identifier
        a(href='/component-profile/'+ suggestion.document.identifier)

      span By: 
        a(href='/imagineer/' + suggestion.creatorNickname)
          span.suggestionStyle #{suggestion.creatorNickname}
          img(src="/avatar.png" height="15" width="15")

  .col-sm-3.incorporate-suggestion
    if suggestion.document.inventorApproved
      h4 This suggestion has been approved.
    else
      h4 Accept this Suggestion?
      .row
        .col-sm-6.incorporate-suggestion-option
          div
            input.no-input(id="no-suggestion-#{suggestion.document.identifier}", type='checkbox', name="suggestion-#{suggestion.document.identifier}", value="notIncorporate")
            label(for="no-suggestion-#{suggestion.document.identifier}")
              <span><span></span></span>No
        .col-sm-6.incorporate-suggestion-option
          div
            input.yes-input(id="yes-suggestion-#{suggestion.document.identifier}", type='checkbox', name="suggestion-#{suggestion.document.identifier}", value="incorporate")
            label(for="yes-suggestion-#{suggestion.document.identifier}")
              <span><span></span></span>Yes
