.suggestion-element.variant-suggestion-block.problem-summary-block
  .title-description.variant-suggestion
    div.row.imperfection-row(id="#{suggestion.document.identifier}")
      .col-lg-1.click-row(style="height: 50px; max-width: 50px; background-image : url('" + suggestion.creatorProfilePic + "');  background-position: center center; background-repeat: no-repeat; background-size: cover;" + suggestion.profilePicOrientation)
        if(suggestion.creatorProfilePic)
          a(href='/imagineer/' + suggestion.creatorNickname)
        else
          a(href='/imagineer/' + suggestion.creatorNickname)
            img(src="/avatar.png" height="50" width="50")

      .col-lg-2.click-row.problem-row-padding
        span #{suggestion.creatorNickname}

      .col-sm-3.problem-row-padding
        if suggestion.document['date']
          span #{moment(suggestion.document.date).format('MM/DD/YY')}
        //- if problem['date']
        //-   div #{moment(problem.date).format('MM/DD/YYYY')}

      .col-sm-4.problem-row-padding
        if suggestion.document.category
          div Category: #{suggestion.document.category}
        if suggestion.document.descriptions[0]
          div Description: #{suggestion.document.descriptions[0]}
          if suggestion.document.ideaSeed && suggestion.document.identifier
            a(href='/component-profile/'+ suggestion.document.identifier) More...


      .col-sm-2.problem-row-padding.upvote
        a(class="upvote-suggestion" id="upvote-#{suggestion.document.identifier}")
          div.glyphicon.glyphicon-fire 
        span #{suggestion.document.upvotes.length || 0}

    include ../partials/js-includes.jade
    script(type="text/javascript").

      $(".upvote-suggestion").click(function(event){
        event.preventDefault();
        var selector = "#upvote-" + "!{suggestion.document.identifier}";

        if ($.contains($(selector)[0], event.target)) {
          $.post('/upvote-suggestion', 
          {
            _csrf : $('[name="_csrf"]').val(),
            suggestion : "!{suggestion.document.id}"
          },
          function(data, response) {
            window.location.reload(true);
          });
        }

        return false;
      });