div.row.suggestion-element.variant-suggestion-block(id="#{suggestion.document.identifier}")

  .col-sm-6.problem-row-padding
    if suggestion.document.descriptions[0]
      div.suggestionStyle The solution of #{suggestion.document.descriptions[0]} 
      <br>
      if suggestion.document.ideaSeed && suggestion.document.identifier
        a(href='/component-profile/'+ suggestion.document.identifier)

      div For: My Idea Name
      span By: 
        a(href='/imagineer/' + suggestion.creatorNickname)
          span.suggestionStyle #{suggestion.creatorNickname} 
          img(src="/avatar.png" height="15" width="15")        

  .col-sm-3.upvote      
    a.btn.btn-vision.btn-block.full-width-mobile(class="upvote-suggestion" id="upvote-#{suggestion.document.identifier}") Upvote #{suggestion.document.upvotes.length || 0} 

  .col-sm-3.upvote      
    a.btn.btn-electric.btn-block.full-width-mobile(href='/imperfection-profile/') Make a Suggestion

script(type="text/javascript").

  $(".upvote-suggestion").click(function(event){
    event.preventDefault();
    var selector = "#upvote-" + "!{suggestion.document.identifier}";

    if ($.contains($(selector)[0], event.target) || ($(selector)[0] == event.target)) {
      $.post('/upvote-suggestion', 
      {
        _csrf : $('[name="_csrf"]').val(),
        suggestion : "!{suggestion.document.id}"
      },
      function(data, response) {
        window.location.reload(true);
      });
    }

    return false;
  });