.suggestion-element.variant-suggestion-block
	.title-description.variant-suggestion
		if compLink && suggestionText
			h3 <b></b> #[a(href=ideaLink) #{suggestionText || 'No Component Name'}]
		else
			h3 <b></b>#{suggestionText || 'No Component Name'}
		if(compHeadshot)
			img(src=compHeadshot height="50" width="50" style=compHeadshotStyle)
		else
			img(src="/avatar.png" height="50" width="50")
		.userName #{accountName || user.username}
	if !variantSummary
		.footer.variant-suggestion
			.radio
				input(type='radio', name=compId, value="incorporate") 
				|  Incorporate
			.radio
				input(type='radio', name=compId, value="notIncorporate") 
				|  Don't Incorporate