form(role='form', id="viability-overview" action="/get-all-viability-scores", method="post", data-idea-doc=idea)
  .form-group
      if(viabilities)
        .first-four-viabilities
            - for (var counter = 0; counter < 4; counter++) {
              if(counter % 2 === 0)
                .row
                  each offset in [0,1]
                    if (viabilities[counter + offset])
                      .col-sm-6
                        .slider-container
                          .row
                            .col-xs-3
                                span(id=viabilities[counter + offset].iconId class="viability-icon")
                                    .viabilityLink(href="/" + viabilities[counter + offset].link)
                                        img(src="/" + viabilities[counter + offset].iconId + ".png" height="75" width="75")
                            .col-xs-7
                              .viabilityLink(href="/" + viabilities[counter + offset].link)
                                label(id=viabilities[counter + offset].labelId) 
                                  h3 #{viabilities[counter + offset].name}
                            .col-xs-2
                                div.viabilityLink.moreLink(href="/" + viabilities[counter + offset].link)
                                    img(src="/question-mark.png" height="25" width="25")
                          .row.slider-row
                            .col-xs-12
                                .slider-end-labels
                                    span.no-way= viabilities[counter + offset].low
                                    span.yes-way= viabilities[counter + offset].high
                                div(id=viabilities[counter + offset].sliderId)
                        br
            - }
        .second-four-viabilities.additional-viabilities
          - for (var counter = 4; counter < 8; counter++) {
            if(counter % 2 === 0)
              .row
                each offset in [0,1]
                  if (viabilities[counter + offset])
                      .col-sm-6
                        .slider-container
                          .row
                            .col-sm-3
                                span(id=viabilities[counter + offset].iconId class="viability-icon")
                                    .viabilityLink(href="/" + viabilities[counter + offset].link)
                                        img(src="/" + viabilities[counter + offset].iconId + ".png" height="75" width="75")
                            .col-sm-7
                              .viabilityLink(href="/" + viabilities[counter + offset].link)
                                label(id=viabilities[counter + offset].labelId) 
                                  h3 #{viabilities[counter + offset].name}
                            .col-xs-2
                                div.viabilityLink.moreLink(href="/" + viabilities[counter + offset].link)
                                    img(src="/question-mark.png" height="25" width="25")
                          .row.slider-row
                            .col-xs-12
                                .slider-end-labels
                                    span.no-way= viabilities[counter + offset].low
                                    span.yes-way= viabilities[counter + offset].high
                                div(id=viabilities[counter + offset].sliderId)
                        br
          - }
        .third-four-viabilities.additional-viabilities
          - for (var counter = 8; counter < 12; counter++) {
            if(counter % 2 === 0)
              .row
                each offset in [0,1]
                  if (viabilities[counter + offset])
                      .col-sm-6
                        .slider-container
                          .row
                            .col-sm-3
                                span(id=viabilities[counter + offset].iconId class="viability-icon")
                                    .viabilityLink(href="/" + viabilities[counter + offset].link)
                                        img(src="/" + viabilities[counter + offset].iconId + ".png" height="75" width="75")
                            .col-sm-7
                              .viabilityLink(href="/" + viabilities[counter + offset].link)
                                label(id=viabilities[counter + offset].labelId) 
                                  h3 #{viabilities[counter + offset].name}
                            .col-xs-2
                                div.viabilityLink.moreLink(href="/" + viabilities[counter + offset].link)
                                    img(src="/question-mark.png" height="25" width="25")
                          .row.slider-row
                            .col-xs-12
                                .slider-end-labels
                                    span.no-way= viabilities[counter + offset].low
                                    span.yes-way= viabilities[counter + offset].high
                                div(id=viabilities[counter + offset].sliderId)
                        br
          - }
        .fourth-four-viabilities.additional-viabilities
          - for (var counter = 12; counter < viabilities.length; counter++) {
            if(counter % 2 === 0)
              .row
                each offset in [0,1]
                  if (viabilities[counter + offset])
                      .col-sm-6
                        .slider-container
                          .row
                            .col-sm-3
                                span(id=viabilities[counter + offset].iconId class="viability-icon")
                                    .viabilityLink(href="/" + viabilities[counter + offset].link)
                                        img(src="/" + viabilities[counter + offset].iconId + ".png" height="75" width="75")
                            .col-sm-7
                              .viabilityLink(href="/" + viabilities[counter + offset].link)
                                label(id=viabilities[counter + offset].labelId) 
                                  h3 #{viabilities[counter + offset].name}
                            .col-xs-2
                                div.viabilityLink.moreLink(href="/" + viabilities[counter + offset].link)
                                    img(src="/question-mark.png" height="25" width="25")
                          .row.slider-row
                            .col-xs-12
                                .slider-end-labels
                                    span.no-way= viabilities[counter + offset].low
                                    span.yes-way= viabilities[counter + offset].high
                                div(id=viabilities[counter + offset].sliderId)
                        br
          - }

  input(type="hidden", name="_csrf", value="#{csrfToken}")