form(role='form', id="viability-overview" action="/get-all-viability-scores", method="post", data-idea-doc=idea)
  .form-group
      if(viabilities)
        .first-four-viabilities
            - for (var counter = 0; counter < 4; counter++) {
              if(counter % 2 === 0)
                .row
                  each offset in [0,1]
                    if (viabilities[counter + offset])
                      .col-sm-6
                        .slider-container
                            .col-sm-2
                                span(id=viabilities[counter + offset].iconId class="viability-icon")
                                    .viabilityLink(href="/" + viabilities[counter + offset].link)
                                        img(src="/" + viabilities[counter + offset].iconId + ".png" height="75" width="75")
                                    a.plus-overlay()
                                        img(height="75" width="75")
                                label(id=viabilities[counter + offset].labelId) #{viabilities[counter + offset].name}
                            .col-sm-10
                                .slider-end-labels
                                    span.no-way Low
                                    span.yes-way High
                                div(id=viabilities[counter + offset].sliderId)
                                div.viabilityLink.moreLink(href="/" + viabilities[counter + offset].link)
                                    img(src="/plus-overlay.png" height="25" width="25")
                        br
            - }
        .second-four-viabilities.additional-viabilities
          - for (var counter = 4; counter < 8; counter++) {
            if(counter % 2 === 0)
              .row
                each offset in [0,1]
                  if (viabilities[counter + offset])
                      .col-sm-6
                        .slider-container
                            .col-sm-2
                                span(id=viabilities[counter + offset].iconId class="viability-icon")
                                    .viabilityLink(href="/" + viabilities[counter + offset].link)
                                        img(src="/" + viabilities[counter + offset].iconId + ".png" height="75" width="75")
                                    a.plus-overlay()
                                        img(height="75" width="75")
                                label(id=viabilities[counter + offset].labelId) #{viabilities[counter + offset].name}
                            .col-sm-10
                                .slider-end-labels
                                    span.no-way Low
                                    span.yes-way High
                                div(id=viabilities[counter + offset].sliderId)
                                div.viabilityLink.moreLink(href="/" + viabilities[counter + offset].link)
                                    img(src="/plus-overlay.png" height="25" width="25")
                        br
          - }
        .third-four-viabilities.additional-viabilities
          - for (var counter = 8; counter < 12; counter++) {
            if(counter % 2 === 0)
              .row
                each offset in [0,1]
                  if (viabilities[counter + offset])
                      .col-sm-6
                        .slider-container
                            .col-sm-2
                                span(id=viabilities[counter + offset].iconId class="viability-icon")
                                    .viabilityLink(href="/" + viabilities[counter + offset].link)
                                        img(src="/" + viabilities[counter + offset].iconId + ".png" height="75" width="75")
                                    a.plus-overlay()
                                        img(height="75" width="75")
                                label(id=viabilities[counter + offset].labelId) #{viabilities[counter + offset].name}
                            .col-sm-10
                                .slider-end-labels
                                    span.no-way Low
                                    span.yes-way High
                                div(id=viabilities[counter + offset].sliderId)
                                div.viabilityLink.moreLink(href="/" + viabilities[counter + offset].link)
                                    img(src="/plus-overlay.png" height="25" width="25")
                        br
          - }
        .fourth-four-viabilities.additional-viabilities
          - for (var counter = 12; counter < viabilities.length; counter++) {
            if(counter % 2 === 0)
              .row
                each offset in [0,1]
                  if (viabilities[counter + offset])
                      .col-sm-6
                        .slider-container
                            .col-sm-2
                                span(id=viabilities[counter + offset].iconId class="viability-icon")
                                    .viabilityLink(href="/" + viabilities[counter + offset].link)
                                        img(src="/" + viabilities[counter + offset].iconId + ".png" height="75" width="75")
                                    a.plus-overlay()
                                        img(height="75" width="75")
                                label(id=viabilities[counter + offset].labelId) #{viabilities[counter + offset].name}
                            .col-sm-10
                                .slider-end-labels
                                    span.no-way Low
                                    span.yes-way High
                                div(id=viabilities[counter + offset].sliderId)
                                div.viabilityLink.moreLink(href="/" + viabilities[counter + offset].link)
                                    img(src="/plus-overlay.png" height="25" width="25")
                        br
          - }

  input(type="hidden", name="_csrf", value="#{csrfToken}")