.suggestion-element.view-all-ideas-block
  .idea-image.view-all-ideas.view-all-ideas-wrapper
    .idea-image.view-all-ideas(style="background-image : url('" + '#{ideaImage || "/lightbulb.png"}' + "');"+ideaImageStyle)
  if(inventorImage)
    a(href='/imagineer/' + accountNickname)
      img(src=inventorImage height="50" width="50" style=inventorImageStyle class="view-all-overlay")
  else
    a(href='/imagineer/' + accountNickname)
      img(src="/avatar.png" height="50" width="50" class="view-all-overlay")
  .title-description.view-all-ideas
    if ideaLink && ideaName
      a(href=ideaLink) 
        h3 #{ideaName || 'No Idea Name'}
    else
      h3 #{ideaName || 'No Idea Name'}
    .userName 
      a(href='/imagineer/' + accountNickname)
        p #{accountNickname || "No name available"}
    .suggestion-category
      if viabilityScore == 0
        h4 <b>Viability:</b> #[a(href=ideaLink) Score Now]
      else
        .row.viability-row
          .col-xs-7
            h4 Viability Score :
          .col-xs-5
            h4
              span.view-all-idea-viability #{viabilityScore} 
      p.view-all-idea-description #{problemCategory}
  .footer.view-all-ideas
    if ideaLink
      a(href=ideaLink)
        .btn.btn-default IMPROVE THIS IDEA!
    else
      .btn.btn-default IMPROVE THIS IDEA!  