.suggestion-element.view-all-ideas-block
	.idea-image.view-all-ideas(style="background-image : url('" + '#{ideaImage || "/lightbulb.png"}' + "');"+ideaImageStyle)
	.title-description.view-all-ideas
		if ideaLink && ideaName
			h3 <b></b> #[a(href=ideaLink) #{ideaName || 'No Idea Name'}]
		else
			h3 <b></b>#{ideaName || 'No Idea Name'}
		if(inventorImage)
			img(src=inventorImage height="50" width="50" style=inventorImageStyle)
		else
			img(src="/avatar.png" height="50" width="50")
		.userName #{accountName || user.username}
		.suggestion-category
			p <b>Viability: </b>#{suggestionProblem} <b>Description: </b>#{problemCategory}
	.footer.view-all-ideas
		.btn.btn-default IMPROVE THIS IDEA!