doctype html
html
  head
    include ../../partials/head.jade
  body
  .header.navbar.navbar-default
    include ../../partials/header.jade

  .container-fluid.idea-summary
    .row
      .col-xs-12
        h1 #{idea.name} Evaluation
    .row
      .col-md-3.lefthand-buttons
        .row
          .col-xs-12
            a.btn.btn-navigation.btn-lg(href="/ideas/#{idea.name}/edit") #{idea.name} Dashboard
        .row
          .col-xs-12
            a.btn.btn-navigation.btn-lg(href="/ideas/#{idea.name}/edit/component-details") Previous Step
        .row
          .col-xs-12
            a.btn.btn-navigation.btn-lg(href="/ideas/#{idea.name}/edit/criticisms") Next Step
      .col-md-9
        #add-viability-scores-row(class="row")
          .col-xs-1
            a.viabilty-slider-left-arrow
              img(src="/left-arrow.png")
          .col-xs-10.slide-content
            .viability-slide-wrapper
              .viability-scoring-intro-slide.score-slide
                .row
                  .col-xs-4
                  .col-xs-4
                    h2 Score #{idea.name}
                    p Score your invention on the following categories to identify areas to improve and earn Einstein Points
                    button.btn.btn-go.btn-lg.btn-block#beginScoring(type='submit') Go
                  .col-xs-4
              .performability-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.performability-icon(src="/perfIcon.png", height='100')
                      |  Score #{idea.name}'s Performability
                    h4 Will the #{idea.name} effectively work to solve the problem of #{idea.problem}?
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.performOne && idea.performOne >=20)
                      img.star-one.performability-star.scored(src="/empty-star.png" class="")
                    else
                      img.star-one.performability-star(src="/empty-star.png" class="")
                  .col-xs-2
                    if (idea.performOne && idea.performOne >=40)
                      img.star-two.performability-star.scored(src="/empty-star.png")
                    else
                      img.star-two.performability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.performOne && idea.performOne >=60)
                      img.star-three.performability-star.scored(src="/empty-star.png")
                    else
                      img.star-three.performability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.performOne && idea.performOne >=80)
                      img.star-four.performability-star.scored(src="/empty-star.png")
                    else
                      img.star-four.performability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.performOne && idea.performOne >=100)
                      img.star-five.performability-star.scored(src="/empty-star.png")
                    else
                      img.star-five.performability-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Incapable
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Effective
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Is there a specific reason for this low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Performability" )
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel

              .affordability-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.affordability-icon(src="/affordIcon.png")
                      |  Affordability
                    h3 Will #{idea.name} stay within reasonable cost expectations when solving the problem of #{idea.problem}?
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.affordOne && idea.affordOne >=20)
                      img.star-one.affordability-star.scored(src="/empty-star.png")
                    else
                      img.star-one.affordability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.affordOne && idea.affordOne >=40)
                      img.star-two.affordability-star.scored(src="/empty-star.png")
                    else
                      img.star-two.affordability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.affordOne && idea.affordOne >=60)
                      img.star-three.affordability-star.scored(src="/empty-star.png")
                    else
                      img.star-three.affordability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.affordOne && idea.affordOne >=80)
                      img.star-four.affordability-star.scored(src="/empty-star.png")
                    else
                      img.star-four.affordability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.affordOne && idea.affordOne >=100)
                      img.star-five.affordability-star.scored(src="/empty-star.png")
                    else
                      img.star-five.affordability-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Expensive
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Economical
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Why the low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Affordability")
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
              .featurability-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.featurability-icon(src="/perfIcon.png")
                      |  Featurability
                    h3 Will #{idea.name} provide enough added benefits to solve the problem of #{idea.problem}?
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.featureOne && idea.featureOne >=20)
                      img.star-one.featurability-star.scored(src="/empty-star.png")
                    else
                      img.star-one.featurability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.featureOne && idea.featureOne >=40)
                      img.star-two.featurability-star.scored(src="/empty-star.png")
                    else
                      img.star-two.featurability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.featureOne && idea.featureOne >=60)
                      img.star-three.featurability-star.scored(src="/empty-star.png")
                    else
                      img.star-three.featurability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.featureOne && idea.featureOne >=80)
                      img.star-four.featurability-star.scored(src="/empty-star.png")
                    else
                      img.star-four.featurability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.featureOne && idea.featureOne >=100)
                      img.star-five.featurability-star.scored(src="/empty-star.png")
                    else
                      img.star-five.featurability-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Bland
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Multifaceted
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Why the low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Featurability")
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel

              .deliverability-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.deliverability-icon(src="/deliverabilityIcon.png")
                      |  Deliverability
                    h3 Will #{idea.name} be ready on demand when and where the user wants it to solve the problem of #{idea.problem}?
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.deliverOne && idea.deliverOne >=20)
                      img.star-one.deliverability-star.scored(src="/empty-star.png")
                    else
                      img.star-one.deliverability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.deliverOne && idea.deliverOne >=40)
                      img.star-two.deliverability-star.scored(src="/empty-star.png")
                    else
                      img.star-two.deliverability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.deliverOne && idea.deliverOne >=60)
                      img.star-three.deliverability-star.scored(src="/empty-star.png")
                    else
                      img.star-three.deliverability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.deliverOne && idea.deliverOne >=80)
                      img.star-four.deliverability-star.scored(src="/empty-star.png")
                    else
                      img.star-four.deliverability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.deliverOne && idea.deliverOne >=100)
                      img.star-five.deliverability-star.scored(src="/empty-star.png")
                    else
                      img.star-five.deliverability-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Unaccessible
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Available
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Why the low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Deliverability")
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
              .useability-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.useability-icon(src="/useabilityIcon.png")
                      |  Useability
                    h3 Will #{idea.name} be quickly and easily learned and implemented when solving the problem of #{idea.problem}?
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.useabilityOne && idea.useabilityOne >=20)
                      img.star-one.useability-star.scored(src="/empty-star.png")
                    else
                      img.star-one.useability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.useabilityOne && idea.useabilityOne >=40)
                      img.star-two.useability-star.scored(src="/empty-star.png")
                    else
                      img.star-two.useability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.useabilityOne && idea.useabilityOne >=60)
                      img.star-three.useability-star.scored(src="/empty-star.png")
                    else
                      img.star-three.useability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.useabilityOne && idea.useabilityOne >=80)
                      img.star-four.useability-star.scored(src="/empty-star.png")
                    else
                      img.star-four.useability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.useabilityOne && idea.useabilityOne >=100)
                      img.star-five.useability-star.scored(src="/empty-star.png")
                    else
                      img.star-five.useability-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Impractical
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Pragmatic
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Why the low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Useability")
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
              .maintainability-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.maintainability-icon(src="/maintainabilityIcon.png")
                      |  Maintainability
                    h3 How easy will #{idea.name} be to keep in service when solving the problem of #{idea.problem}?
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.maintainOne && idea.maintainOne >=20)
                      img.star-one.maintainability-star.scored(src="/empty-star.png")
                    else
                      img.star-one.maintainability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.maintainOne && idea.maintainOne >=40)
                      img.star-two.maintainability-star.scored(src="/empty-star.png")
                    else
                      img.star-two.maintainability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.maintainOne && idea.maintainOne >=60)
                      img.star-three.maintainability-star.scored(src="/empty-star.png")
                    else
                      img.star-three.maintainability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.maintainOne && idea.maintainOne >=80)
                      img.star-four.maintainability-star.scored(src="/empty-star.png")
                    else
                      img.star-four.maintainability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.maintainOne && idea.maintainOne >=100)
                      img.star-five.maintainability-star.scored(src="/empty-star.png")
                    else
                      img.star-five.maintainability-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Untenable
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Sustainable
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Why the low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Maintainability")
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
              .durability-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.durability-icon(src="/durabilityIcon.png")
                      |  Durability
                    h3 Is #{idea.name} robust enough to withstand abuse when solving the problem of #{idea.problem}? 
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.durabilityOne && idea.durabilityOne >=20)
                      img.star-one.durability-star.scored(src="/empty-star.png")
                    else
                      img.star-one.durability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.durabilityOne && idea.durabilityOne >=40)
                      img.star-two.durability-star.scored(src="/empty-star.png")
                    else
                      img.star-two.durability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.durabilityOne && idea.durabilityOne >=60)
                      img.star-three.durability-star.scored(src="/empty-star.png")
                    else
                      img.star-three.durability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.durabilityOne && idea.durabilityOne >=80)
                      img.star-four.durability-star.scored(src="/empty-star.png")
                    else
                      img.star-four.durability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.durabilityOne && idea.durabilityOne >=100)
                      img.star-five.durability-star.scored(src="/empty-star.png")
                    else
                      img.star-five.durability-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Unreliable
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Enduring
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Why the low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Durability")
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
              .imageability-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.imageability-icon(src="/imageabilityIcon.png")
                      |  Imageability
                    h3 Will #{idea.name} convey an image of quality and prestige when solving the problem of #{idea.problem}?
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.imageOne && idea.imageOne >=20)
                      img.star-one.imageability-star.scored(src="/empty-star.png")
                    else
                      img.star-one.imageability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.imageOne && idea.imageOne >=40)
                      img.star-two.imageability-star.scored(src="/empty-star.png")
                    else
                      img.star-two.imageability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.imageOne && idea.imageOne >=60)
                      img.star-three.imageability-star.scored(src="/empty-star.png")
                    else
                      img.star-three.imageability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.imageOne && idea.imageOne >=80)
                      img.star-four.imageability-star.scored(src="/empty-star.png")
                    else
                      img.star-four.imageability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.imageOne && idea.imageOne >=100)
                      img.star-five.imageability-star.scored(src="/empty-star.png")
                    else
                      img.star-five.imageability-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Undesirable
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Appealing
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Why the low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Imageability")
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
              .complexity-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.complexity-icon(src="/complexityIcon.png")
                      |  Complexity
                    h3 Will #{idea.name} require a large number of steps to produce, assemble, ship or use to solve the problem of #{idea.problem}?
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.complexOne && idea.complexOne >=20)
                      img.star-one.complexity-star.scored(src="/empty-star.png")
                    else
                      img.star-one.complexity-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.complexOne && idea.complexOne >=40)
                      img.star-two.complexity-star.scored(src="/empty-star.png")
                    else
                      img.star-two.complexity-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.complexOne && idea.complexOne >=60)
                      img.star-three.complexity-star.scored(src="/empty-star.png")
                    else
                      img.star-three.complexity-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.complexOne && idea.complexOne >=80)
                      img.star-four.complexity-star.scored(src="/empty-star.png")
                    else
                      img.star-four.complexity-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.complexOne && idea.complexOne >=100)
                      img.star-five.complexity-star.scored(src="/empty-star.png")
                    else
                      img.star-five.complexity-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Simple
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Complicated
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Why the low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Complexity")
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
              .precision-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.precision-icon(src="/precisionIcon.png")
                      |  Precision
                    h3 Will #{idea.name} require specific timing, precise sequence or much practice to solve the problem of #{idea.problem}?
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.precisionOne && idea.precisionOne >=20)
                      img.star-one.precision-star.scored(src="/empty-star.png")
                    else
                      img.star-one.precision-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.precisionOne && idea.precisionOne >=40)
                      img.star-two.precision-star.scored(src="/empty-star.png")
                    else
                      img.star-two.precision-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.precisionOne && idea.precisionOne >=60)
                      img.star-three.precision-star.scored(src="/empty-star.png")
                    else
                      img.star-three.precision-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.precisionOne && idea.precisionOne >=80)
                      img.star-four.precision-star.scored(src="/empty-star.png")
                    else
                      img.star-four.precision-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.precisionOne && idea.precisionOne >=100)
                      img.star-five.precision-star.scored(src="/empty-star.png")
                    else
                      img.star-five.precision-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Lenient
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Fussy
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Why the low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Precision")
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel

              .variability-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.variability-icon(src="/variabilityIcon.png")
                      |  Variability
                    h3 Will use or production of #{idea.name} change based upon specific scenarios or circumstances when solving the problem of #{idea.problem}?
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.variabilityOne && idea.variabilityOne >=20)
                      img.star-one.variability-star.scored(src="/empty-star.png")
                    else
                      img.star-one.variability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.variabilityOne && idea.variabilityOne >=40)
                      img.star-two.variability-star.scored(src="/empty-star.png")
                    else
                      img.star-two.variability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.variabilityOne && idea.variabilityOne >=60)
                      img.star-three.variability-star.scored(src="/empty-star.png")
                    else
                      img.star-three.variability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.variabilityOne && idea.variabilityOne >=80)
                      img.star-four.variability-star.scored(src="/empty-star.png")
                    else
                      img.star-four.variability-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.variabilityOne && idea.variabilityOne >=100)
                      img.star-five.variability-star.scored(src="/empty-star.png")
                    else
                      img.star-five.variability-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Consistent
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Erratic
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Why the low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Variability")
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel

              .sensitivity-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.sensitivity-icon(src="/sensitivityIcon.png")
                      |  Sensitivity
                    h3 Will usage or the environment easily disturb or damage #{idea.name} while solving the problem of #{idea.problem}?
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.sensitivityOne && idea.sensitivityOne >=20)
                      img.star-one.sensitivity-star.scored(src="/empty-star.png")
                    else
                      img.star-one.sensitivity-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.sensitivityOne && idea.sensitivityOne >=40)
                      img.star-two.sensitivity-star.scored(src="/empty-star.png")
                    else
                      img.star-two.sensitivity-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.sensitivityOne && idea.sensitivityOne >=60)
                      img.star-three.sensitivity-star.scored(src="/empty-star.png")
                    else
                      img.star-three.sensitivity-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.sensitivityOne && idea.sensitivityOne >=80)
                      img.star-four.sensitivity-star.scored(src="/empty-star.png")
                    else
                      img.star-four.sensitivity-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.sensitivityOne && idea.sensitivityOne >=100)
                      img.star-five.sensitivity-star.scored(src="/empty-star.png")
                    else
                      img.star-five.sensitivity-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Reliable
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Fragile
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Why the low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Sensitivity")
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel

              .immaturity-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.immaturity-icon(src="/immaturityIcon.png")
                      |  Immaturity
                    h3 Will the design, manufacture, or production of #{idea.name} require new or unproven technology, processes or materials to solve the problem of #{idea.problem}?
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.immatureOne && idea.immatureOne >=20)
                      img.star-one.immaturity-star.scored(src="/empty-star.png")
                    else
                      img.star-one.immaturity-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.immatureOne && idea.immatureOne >=40)
                      img.star-two.immaturity-star.scored(src="/empty-star.png")
                    else
                      img.star-two.immaturity-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.immatureOne && idea.immatureOne >=60)
                      img.star-three.immaturity-star.scored(src="/empty-star.png")
                    else
                      img.star-three.immaturity-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.immatureOne && idea.immatureOne >=80)
                      img.star-four.immaturity-star.scored(src="/empty-star.png")
                    else
                      img.star-four.immaturity-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.immatureOne && idea.immatureOne >=100)
                      img.star-five.immaturity-star.scored(src="/empty-star.png")
                    else
                      img.star-five.immaturity-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Developed
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Raw
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Why the low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Immaturity")
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel

              .dangerous-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.dangerous-icon(src="/dangerIcon.png")
                      |  Dangerousness
                    h3 Will #{idea.name} require human or environmental protections to reduce potential harm?
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.dangerOne && idea.dangerOne >=20)
                      img.star-one.dangerous-star.scored(src="/empty-star.png")
                    else
                      img.star-one.dangerous-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.dangerOne && idea.dangerOne >=40)
                      img.star-two.dangerous-star.scored(src="/empty-star.png")
                    else
                      img.star-two.dangerous-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.dangerOne && idea.dangerOne >=60)
                      img.star-three.dangerous-star.scored(src="/empty-star.png")
                    else
                      img.star-three.dangerous-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.dangerOne && idea.dangerOne >=80)
                      img.star-four.dangerous-star.scored(src="/empty-star.png")
                    else
                      img.star-four.dangerous-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.dangerOne && idea.dangerOne >=100)
                      img.star-five.dangerous-star.scored(src="/empty-star.png")
                    else
                      img.star-five.dangerous-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Harmless
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Hazardous
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Why the low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Danger")
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel

              .skills-slide.score-slide
                .row.top-row.scoreIdea
                  .col-xs-12
                    h2.top-row-header
                      img.skills-icon(src="/skillsIcon.png")
                      |  Skills
                    h3 Will #{idea.name} require many specific skills to solve the problem of #{idea.problem}?
                .row.scoring-stars
                  .col-xs-1
                  .col-xs-2
                    if (idea.skillsOne && idea.skillsOne >=20)
                      img.star-one.skills-star.scored(src="/empty-star.png")
                    else
                      img.star-one.skills-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.skillsOne && idea.skillsOne >=40)
                      img.star-two.skills-star.scored(src="/empty-star.png")
                    else
                      img.star-two.skills-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.skillsOne && idea.skillsOne >=60)
                      img.star-three.skills-star.scored(src="/empty-star.png")
                    else
                      img.star-three.skills-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.skillsOne && idea.skillsOne >=80)
                      img.star-four.skills-star.scored(src="/empty-star.png")
                    else
                      img.star-four.skills-star(src="/empty-star.png")
                  .col-xs-2
                    if (idea.skillsOne && idea.skillsOne >=100)
                      img.star-five.skills-star.scored(src="/empty-star.png")
                    else
                      img.star-five.skills-star(src="/empty-star.png")
                  .col-xs-1
                .row.viability-labels
                  .col-xs-1
                  .col-xs-2.left-score-label
                    h3 Easy
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2
                  .col-xs-2.right-score-label
                    h3 Onerous
                  .col-xs-1
                .problem-slide
                  .row
                    h3 Why the low score?
                    form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                      .form-group
                        input(type="hidden", name="_csrf", value="#{csrfToken}")
                        input.problemArea(type="hidden", value="Area : Skills")
                        textarea.problemStatement(class="form-control" rows="3")
                          | The problem is
                        p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                        button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                          //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                        button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
              .viability-scoring-outro-slide.score-slide
                .row
                  .col-xs-4
                  .col-xs-4
                    h2 Great job!
                    h4 You're almost done. Think of any other areas of improvement for #{idea.name} and view your idea profile.
                  .col-xs-4

          .col-xs-1.viabilty-slider-right-arrow-column
            a.viabilty-slider-right-arrow
              img(src="/right-arrow.png")
        div(class="viability-icons row")
          .col-xs-1
          .col-xs-10
            a.slide-icon-one
              if (idea.performOne)
                img.performability-icon.scored(src="/perfIcon.png")
              else
                img.performability-icon(src="/perfIcon.png")
            a.slide-icon-two
              if (idea.affordOne)
                img.affordability-icon.scored(src="/affordIcon.png")
              else
                img.affordability-icon(src="/affordIcon.png")
            a.slide-icon-three
              if (idea.featureOne)
                img.featurability-icon.scored(src="/perfIcon.png")
              else
                img.featurability-icon(src="/perfIcon.png")
            a.slide-icon-four
              if (idea.deliverOne)
                img.deliverability-icon.scored(src="/deliverabilityIcon.png")
              else
                img.deliverability-icon(src="/deliverabilityIcon.png")
            a.slide-icon-five
              if (idea.useabilityOne)
                img.useability-icon.scored(src="/useabilityIcon.png")
              else
                img.useability-icon(src="/useabilityIcon.png")
            a.slide-icon-six
              if (idea.maintainOne)
                img.maintainability-icon.scored(src="/maintainabilityIcon.png")
              else
                img.maintainability-icon(src="/maintainabilityIcon.png")
            a.slide-icon-seven
              if (idea.durabilityOne)
                img.durability-icon.scored(src="/durabilityIcon.png")
              else
                img.durability-icon(src="/durabilityIcon.png")
            a.slide-icon-eight
              if (idea.imageOne)
                img.imageability-icon.scored(src="/imageabilityIcon.png")
              else
                img.imageability-icon(src="/imageabilityIcon.png")
            a.slide-icon-nine
              if (idea.complexOne)
                img.complexity-icon.scored(src="/complexityIcon.png")
              else
                img.complexity-icon(src="/complexityIcon.png")
            a.slide-icon-ten
              if (idea.precisionOne)
                img.precision-icon.scored(src="/precisionIcon.png")
              else
                img.precision-icon(src="/precisionIcon.png")
            a.slide-icon-eleven
              if (idea.variabilityOne)
                img.variability-icon.scored(src="/variabilityIcon.png")
              else
                img.variability-icon(src="/variabilityIcon.png")
            a.slide-icon-twelve
              if (idea.sensitivityOne)
                img.sensitivity-icon.scored(src="/sensitivityIcon.png")
              else
                img.sensitivity-icon(src="/sensitivityIcon.png")
            a.slide-icon-thirteen
              if (idea.immatureOne)
                img.immaturity-icon.scored(src="/immaturityIcon.png")
              else
                img.immaturity-icon(src="/immaturityIcon.png")
            a.slide-icon-fourteen
              if (idea.dangerOne)
                img.dangerous-icon.scored(src="/dangerIcon.png")
              else
                img.dangerous-icon(src="/dangerIcon.png")
            a.slide-icon-fifteen
              if (idea.skillsOne)
                img.skills-icon.scored(src="/skillsIcon.png")
              else
                img.skills-icon(src="/skillsIcon.png")
          .col-xs-1

  include ../../partials/js-includes.jade
  script(src='/exif.js')
  script(type="text/javascript").
    var viabilitySliderWidth = $(".slide-content").width();
    $(".viability-slide-wrapper > div").attr("style", "width:" + viabilitySliderWidth + "px;");
    //twice the left-right margin on desktop size sliders
    viabilitySliderWidth += 30;
    $(".viabilty-slider-right-arrow").click(function(event){
      $.each($(".problem-slide").filter(":visible"),function(index, element){
        $(element).siblings(".scoring-stars").animate({
          "marginTop" : "+=10em",
          "width" : "100%"
        }, 500)
        $(element).siblings(".viability-labels").removeClass("hidden");
        $(element).hide()
      });
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: '+=' + viabilitySliderWidth}, 400);
    });

    $(".viabilty-slider-left-arrow").click(function(event){
      $.each($(".problem-slide").filter(":visible"),function(index, element){
        $(element).siblings(".scoring-stars").animate({
          "marginTop" : "+=10em;",
          "width" : "100%"
        }, 500)
        $(element).siblings(".viability-labels").removeClass("hidden");
        $(element).hide()
      });
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: '-=' + viabilitySliderWidth}, 400);
    });

    $("a.slide-icon-one").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-two").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 2 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-three").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 3 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-four").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 4 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-five").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 5 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-six").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 6 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-seven").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 7 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-eight").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 8 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-nine").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 8 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-ten").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 10 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-eleven").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 11 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-twelve").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 12 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-thirteen").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 13 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-fourteen").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 14 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-fifteen").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 15 * viabilitySliderWidth}, 400);
    })
    $(".problemSubmit").click(function(event){
      event.preventDefault();

      var problemText = $(this).siblings("textarea").val();

      if(problemText == "The problem is "){
        $(".viabilty-slider-right-arrow").click();
      } else if (problemText.length > 15){
        var newProblemStatement = problemText.trim();
        $.post('/add-idea-problem', 
          {
            _csrf : $('[name="_csrf"]').val(),
            problemStatement : newProblemStatement.slice(15),
            problemArea : $(this).siblings("input.problemArea").val()
          },
          function(resp) {
            $(".viabilty-slider-right-arrow").click();
          });
      } else {
        $(".viabilty-slider-right-arrow").click();
      }
    });

    $(".problemContinue").click(function(event){
      event.preventDefault();
      $(".problem-slide").filter(":visible").each(function(){
        $(this).siblings(".scoring-stars").animate({"marginTop": "+=10em", "width" : "100%"}, 500) 
        $(this).siblings(".viability-labels").removeClass("hidden");
        $(this).hide(500);
      })

    })
    // This is for the problem input
    var inputProb = $(".problem-slide form textarea");
    var requiredProbText = "The problem is ";
    $.each(inputProb, function(index, value){
      value.addEventListener ("mousedown", function () {
        if (String($(this).val()).indexOf(requiredProbText) == -1) {
              $(this).val(requiredProbText);
        }
        if (this.selectionStart < 15) {
          this.selectionStart = 15;
        }
      }, false);

      value.addEventListener ("keydown", function () {
        if (String($(this).val()).indexOf(requiredProbText) == -1) {
              $(this).val(requiredProbText);
        }
        if (this.selectionStart < 15) {
          this.selectionStart = 15;
        }
      }, false);
    })

    $(document).on('click', '.next-step a', function(event){
        event.preventDefault();

        $('html, body').animate({
            scrollTop: $( $.attr(this, 'href') ).offset().top
        }, 500);
    });

    $(document).on('click', '#score-now-button', function(event){
        event.preventDefault();

        $('html, body').animate({
            scrollTop: $( $.attr(this, 'href') ).offset().top
        }, 500);
    });

    $(".scoring-stars img").click(function(event){
      var scoreClass = "",
          saveScoreRoute = "",
          scoreName = "",
          problemName = "",
          iconClass = "",
          slideClass = "";

      if($(this).hasClass("performability-star")){
        scoreClass = "performability-star";
        saveScoreRoute = "/performability-mobile";
        scoreName = "performOne";
        problemName = "performProblem";
        iconClass = "performability-icon";
        slideClass = "performability-slide";

      } else if($(this).hasClass("affordability-star")){
        scoreClass = "affordability-star";
        saveScoreRoute = "/affordability-mobile";
        scoreName = "affordOne";
        problemName = "affordProblem";
        iconClass = "affordability-icon";
        slideClass = "affordability-slide";

      } else if($(this).hasClass("featurability-star")){
        scoreClass = "featurability-star";
        saveScoreRoute = "/featurability-mobile";
        scoreName = "featureOne";
        problemName = "featureProblem";
        iconClass = "featurability-icon";
        slideClass = "featurability-slide";

      } else if($(this).hasClass("deliverability-star")){
        scoreClass = "deliverability-star";
        saveScoreRoute = "/deliverability-mobile";
        scoreName = "deliverOne";
        problemName = "deliverProblem";
        iconClass = "deliverability-icon";
        slideClass = "deliverability-slide";

      } else if($(this).hasClass("useability-star")){
        scoreClass = "useability-star";
        saveScoreRoute = "/useability-mobile";
        scoreName = "useabilityOne";
        problemName = "useabilityProblem";
        iconClass = "useability-icon";
        slideClass = "useability-slide";

      } else if($(this).hasClass("maintainability-star")){
        scoreClass = "maintainability-star";
        saveScoreRoute = "/maintainability-mobile";
        scoreName = "maintainOne";
        problemName = "maintainProblem";
        iconClass = "maintainability-icon";
        slideClass = "maintainability-slide";

      } else if($(this).hasClass("durability-star")){
        scoreClass = "durability-star";
        saveScoreRoute = "/durability-mobile";
        scoreName = "durabilityOne";
        problemName = "durabilityProblem";
        iconClass = "durability-icon";
        slideClass = "durability-slide";

      } else if($(this).hasClass("imageability-star")){
        scoreClass = "imageability-star";
        saveScoreRoute = "/imageability-mobile";
        scoreName = "imageOne";
        problemName = "imageProblem";
        iconClass = "imageability-icon";
        slideClass = "imageability-slide";

      } else if($(this).hasClass("complexity-star")){
        scoreClass = "complexity-star";
        saveScoreRoute = "/complexity-mobile";
        scoreName = "complexOne";
        problemName = "complexProblem";
        iconClass = "complexity-icon";
        slideClass = "complexity-slide";

      } else if($(this).hasClass("precision-star")){
        scoreClass = "precision-star";
        saveScoreRoute = "/precision-mobile";
        scoreName = "precisionOne";
        problemName = "precisionProblem";
        iconClass = "precision-icon";
        slideClass = "precision-slide";

      } else if($(this).hasClass("variability-star")){
        scoreClass = "variability-star";
        saveScoreRoute = "/variability-mobile";
        scoreName = "variabilityOne";
        problemName = "variabilityProblem";
        iconClass = "variability-icon";
        slideClass = "variability-slide";

      } else if($(this).hasClass("sensitivity-star")){
        scoreClass = "sensitivity-star";
        saveScoreRoute = "/sensitivity-mobile";
        scoreName = "sensitivityOne";
        problemName = "sensitivityProblem";
        iconClass = "sensitivity-icon";
        slideClass = "sensitivity-slide";

      } else if($(this).hasClass("immaturity-star")){
        scoreClass = "immaturity-star";
        saveScoreRoute = "/immaturity-mobile";
        scoreName = "immatureOne";
        problemName = "immatureProblem";
        iconClass = "immaturity-icon";
        slideClass = "immaturity-slide";

      } else if($(this).hasClass("dangerous-star")){
        scoreClass = "dangerous-star";
        saveScoreRoute = "/dangerous-mobile";
        scoreName = "dangerOne";
        problemName = "dangerProblem";
        iconClass = "dangerous-icon";
        slideClass = "dangerous-slide";

      } else if($(this).hasClass("skills-star")){
        scoreClass = "skills-star";
        saveScoreRoute = "/skills-mobile";
        scoreName = "skillsOne";
        problemName = "skillsProblem";
        iconClass = "skills-icon";
        slideClass = "skills-slide";

      }

      if( $(this).hasClass("star-one") ){
        $("img.star-one." + scoreClass).addClass("scored");
        $("img.star-two." + scoreClass).removeClass("scored");
        $("img.star-three." + scoreClass).removeClass("scored");
        $("img.star-four." + scoreClass).removeClass("scored");
        $("img.star-five." + scoreClass).removeClass("scored");

        $("." + iconClass).addClass("scored");

        var data = {_csrf : $('[name="_csrf"]').val()};
        data[scoreName] = 20;
        data[problemName] = "";

        $.post(saveScoreRoute, data);

        $(this).parent().parent().animate({"marginTop": "-=10em", "width" : "40%"}, 500)
        $(this).parent().parent().siblings(".viability-labels").addClass("hidden");
        $(this).parent().parent().siblings($(".problem-slide")).show(500);

      } else if ($(this).hasClass("star-two") ){
        $("img.star-one." + scoreClass).addClass("scored");
        $("img.star-two." + scoreClass).addClass("scored");
        $("img.star-three." + scoreClass).removeClass("scored");
        $("img.star-four." + scoreClass).removeClass("scored");
        $("img.star-five." + scoreClass).removeClass("scored");

        $("." + iconClass).addClass("scored");

        var data = {_csrf : $('[name="_csrf"]').val()};
        data[scoreName] = 40;
        data[problemName] = "";

        $.post(saveScoreRoute, data);

        $(".viabilty-slider-right-arrow").click();

      } else if ($(this).hasClass("star-three") ){
        $("img.star-one." + scoreClass).addClass("scored");
        $("img.star-two." + scoreClass).addClass("scored");
        $("img.star-three." + scoreClass).addClass("scored");
        $("img.star-four." + scoreClass).removeClass("scored");
        $("img.star-five." + scoreClass).removeClass("scored");

        $("." + iconClass).addClass("scored");

        var data = {_csrf : $('[name="_csrf"]').val()};
        data[scoreName] = 60;
        data[problemName] = "";

        $.post(saveScoreRoute, data);

        $(".viabilty-slider-right-arrow").click();

      } else if ($(this).hasClass("star-four") ){
        $("img.star-one." + scoreClass).addClass("scored");
        $("img.star-two." + scoreClass).addClass("scored");
        $("img.star-three." + scoreClass).addClass("scored");
        $("img.star-four." + scoreClass).addClass("scored");
        $("img.star-five." + scoreClass).removeClass("scored");

        $("." + iconClass).addClass("scored");

        var data = {_csrf : $('[name="_csrf"]').val()};
        data[scoreName] = 80;
        data[problemName] = "";

        $.post(saveScoreRoute, data);

        $(".viabilty-slider-right-arrow").click();

      } else if ($(this).hasClass("star-five") ){
        $("img.star-one." + scoreClass).addClass("scored");
        $("img.star-two." + scoreClass).addClass("scored");
        $("img.star-three." + scoreClass).addClass("scored");
        $("img.star-four." + scoreClass).addClass("scored");
        $("img.star-five." + scoreClass).addClass("scored");

        $("." + iconClass).addClass("scored");

        var data = {_csrf : $('[name="_csrf"]').val()};
        data[scoreName] = 100;
        data[problemName] = "";

        $.post(saveScoreRoute, data);

        $(".viabilty-slider-right-arrow").click();

      }

    });

    $("#beginScoring").click(function(event){
      $(".viabilty-slider-right-arrow").click();
    });    