doctype html
html
  head
    include ../../partials/head.jade
  body
  .header.navbar.navbar-default
    include ../../partials/header.jade

  .container-fluid.idea-summary.idea-summary-edit
    .row
      .col-xs-12
        if idea.name
          h1 #{idea.name} Dashboard
        else
          h1 Your Idea Dashboard
    .row
      .col-md-3.lefthand-buttons
        .row
          .col-xs-12
            a.btn.btn-navigation.btn-lg(href="/ideas/#{idea.name}") Preview Idea Profile
        .row
          .col-xs-12
            a.btn.btn-navigation.btn-lg(href="/ideas/#{idea.name}") Viability Scores
        .row
          .col-xs-12
            a.btn.btn-navigation.btn-lg(href="/ideas/#{idea.name}") Suggestions
        .row
          .col-xs-12
            if hasActiveMembership && components.length && components.length >= 6 && aptitudes.length && aptitudes.length >= 3 && imageURLs.length && imageURLs.length >= 3 && numberOfComponentsWithDescriptions >= components.length && strengthResponse['viabilityScores'] && strengthResponse['viabilityScores'].length > 0 && strengthResponse['viabilityScores'].length === 15 && problems.length && problems.length >= 2
              a.btn.btn-go.btn-lg#file-patent(data-toggle="modal" data-target="#filePatentModal")  Generate Patent Application
              //- If all the requirements are met, light up the patent application button
            else if hasActiveMembership
              a.btn.btn-generate-application.btn-lg#file-patent(data-toggle="modal" data-target="#filePatentModal")  Generate Patent Application
            else if (idea.visibility != "private" || listOfVisibleSections.length > 3)
              a.btn.btn-generate-application.btn-lg#purchase-patent-application-button(href="/membership-options" ) Generate Patent Application

      .col-md-9
        if !(components.length && components.length >= 6 && aptitudes.length && aptitudes.length >= 3 && imageURLs.length && imageURLs.length >= 3 && numberOfComponentsWithDescriptions >= components.length && strengthResponse['viabilityScores'] && strengthResponse['viabilityScores'].length > 0 && strengthResponse['viabilityScores'].length === 15 && problems.length && problems.length >= 2)
          .row
            .col-xs-12
              a.btn.btn-go.btn-lg(href="/ideas/#{idea.name}/edit/components") Get Started

        .row.idea-category-edit#components-edit-row
          .col-md-8
            .row
              .col-xs-12
                h3 Components
            if components.length && components.length > 0 && components.length < 6
              .row
                .col-xs-12
                  p #{components.length} components saved.  Add at least #{6 - components.length} more.
            else if components.length && components.length >= 6
              .row
                .col-xs-12
                  p #{components.length} components saved.
            else
              .row
                .col-xs-12
                  p Add at least 6 more.
          .col-md-4
            if components.length && components.length > 0 && components.length < 6
              .row
                .col-xs-12
                  h4 Status : In Progress
              .row
                .col-xs-12
                  a.btn.btn-go.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/components") Edit
            else if components.length && components.length >= 6
              .row.complete-row
                .col-md-2
                  img.category-ready-checkbox(src="/checkbox.png" height="30" width="30")
                .col-md-6
                  h4 Ready to Go!
                .col-md-4
                  a.btn.btn-go.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/components") Edit
            else
              .row
                .col-xs-12
                  h3
                    a.btn.btn-industry.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/components") Not Started


        .row.idea-category-edit#aptitudes-edit-row
          .col-md-8
            .row
              .col-xs-12
                h3 Aptitudes
            if aptitudes.length && aptitudes.length > 0
              if aptitudes.length === 1
                .row
                  .col-xs-12
                    a(href="/aptitudes/#{aptitudes[0].title}") #{aptitudes[0].title}
              else if aptitudes.length === 2
                .row
                  .col-xs-12
                    p #[a(href="/aptitudes/#{aptitudes[0].title}") #{aptitudes[0].title}], #[a(href="/aptitudes/#{aptitudes[1].title}") #{aptitudes[1].title}]
              else if aptitudes.length === 3
                .row
                  .col-xs-12
                    p #[a(href="/aptitudes/#{aptitudes[0].title}") #{aptitudes[0].title}], #[a(href="/aptitudes/#{aptitudes[1].title}") #{aptitudes[1].title}], #[a(href="/aptitudes/#{aptitudes[2].title}") #{aptitudes[2].title}]
              else
                .row
                  .col-xs-12
                    p #[a(href="/aptitudes/#{aptitudes[0].title}") #{aptitudes[0].title}], #[a(href="/aptitudes/#{aptitudes[1].title}") #{aptitudes[1].title}], #[a(href="/aptitudes/#{aptitudes[2].title}") #{aptitudes[2].title}], plus #{aptitudes.length - 3} more
            else
              .row
                .col-xs-12
                  p Add at least 3 more.
          .col-md-4
            if aptitudes.length && aptitudes.length > 0 && aptitudes.length < 3
              .row
                .col-xs-12
                  h4 Status : In Progress
              .row
                .col-xs-12
                  a.btn.btn-go.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/aptitudes") Edit
            else if aptitudes.length && aptitudes.length >= 3
              .row.complete-row
                .col-md-2
                  img.category-ready-checkbox(src="/checkbox.png" height="30" width="30")
                .col-md-6
                  h4 Ready to Go!
                .col-md-4
                  a.btn.btn-go.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/aptitudes") Edit
            else
              .row
                .col-xs-12
                  h3
                    a.btn.btn-industry.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/aptitudes") Not Started


        .row.idea-category-edit#images-edit-row
          .col-md-8
            .row
              .col-xs-12
                h3 Images
            if imageURLs.length && imageURLs.length > 0 && imageURLs.length < 3
              .row
                .col-xs-12
                  p #{imageURLs.length} images uploaded. Add at least #{3 - imageURLs.length} more.
            else if imageURLs.length && imageURLs.length >= 3
              .row
                .col-xs-12
                  p #{imageURLs.length} images uploaded. 
            else
              .row
                .col-xs-12
                  p Add at least 3 more.
          .col-md-4
            if imageURLs.length && imageURLs.length > 0 && imageURLs.length < 3
              .row
                .col-xs-12
                  h4 Status : In Progress
              .row
                .col-xs-12
                  a.btn.btn-go.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/images") Edit
            else if imageURLs.length && imageURLs.length >= 3
              .row.complete-row
                .col-md-2
                  img.category-ready-checkbox(src="/checkbox.png" height="30" width="30")
                .col-md-6
                  h4 Ready to Go!
                .col-md-4
                  a.btn.btn-go.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/images") Edit
            else
              .row
                .col-xs-12
                  h3
                    a.btn.btn-industry.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/images") Not Started


        .row.idea-category-edit#component-details-edit-row
          .col-md-8
            .row
              .col-xs-12
                h3 Component Details
            if numberOfComponentsWithDescriptions == 0
              .row
                .col-xs-12
                  p No components have descriptions yet.
            else if numberOfComponentsWithDescriptions > 0 && numberOfComponentsWithDescriptions < components.length
              .row
                .col-xs-12
                  p #{numberOfComponentsWithDescriptions} components have descriptions.  Add descriptions and more details for the remaining #{components.length - numberOfComponentsWithDescriptions} components.
            else
              .row
                .col-xs-12
                  p All of your components have descriptions, but the more details you can provide the better.
          .col-md-4
            if numberOfComponentsWithDescriptions == 0
              .row
                .col-xs-12
                  h3
                    a.btn.btn-industry.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/component-details") Not Started
            else if numberOfComponentsWithDescriptions > 0 && numberOfComponentsWithDescriptions < components.length
              .row
                .col-xs-12
                  h4 Status : In Progress
              .row
                .col-xs-12
                  a.btn.btn-go.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/component-details") Edit
            else
              .row.complete-row
                .col-md-2
                  img.category-ready-checkbox(src="/checkbox.png" height="30" width="30")
                .col-md-6
                  h4 Ready to Go!
                .col-md-4
                  a.btn.btn-go.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/component-details") Edit


        .row.idea-category-edit#evaluation-edit-row
          .col-md-8
            .row
              .col-xs-12
                h3 Evaluation
            if strengthResponse['viabilityScores'] && strengthResponse['viabilityScores'].length > 0 && strengthResponse['viabilityScores'].length < 15
              .row
                .col-xs-12
                  p #{strengthResponse['viabilityScores'].length} scores saved. #{15 - strengthResponse['viabilityScores'].length} remaining.
            else if strengthResponse['viabilityScores'] && strengthResponse['viabilityScores'].length > 0 && strengthResponse['viabilityScores'].length === 15
              .row
                .col-xs-12
                  p #{strengthResponse['viabilityScores'].length} scores saved.
            else
              .row
                .col-xs-12
                  p No scores saved yet. 15 remaining.
          .col-md-4
            if strengthResponse['viabilityScores'] && strengthResponse['viabilityScores'].length > 0 && strengthResponse['viabilityScores'].length < 15
              .row
                .col-xs-12
                  h4 Status : In Progress
              .row
                .col-xs-12
                  a.btn.btn-go.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/evaluation") Edit
            else if strengthResponse['viabilityScores'] && strengthResponse['viabilityScores'].length > 0 && strengthResponse['viabilityScores'].length === 15
              .row.complete-row
                .col-md-2
                  img.category-ready-checkbox(src="/checkbox.png" height="30" width="30")
                .col-md-6
                  h4 Ready to Go!
                .col-md-4
                  a.btn.btn-go.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/evaluation") Edit
            else
              .row
                .col-xs-12
                  h3
                    a.btn.btn-industry.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/evaluation") Not Started


        .row.idea-category-edit#criticisms-edit-row
          .col-md-8
            .row
              .col-xs-12
                h3 Criticisms
            if problems.length && problems.length > 0 && problems.length < 2
              .row
                .col-xs-12
                  p #{problems.length} criticisms saved. Enter at least #{2 - problems.length} more.
            else if problems.length && problems.length >= 2
              .row
                .col-xs-12
                  p #{problems.length} criticisms saved.
            else
              .row
                .col-xs-12
                  p Enter at least 2 criticisms of #{idea.name}.
          .col-md-4
            if problems.length && problems.length > 0 && problems.length < 2
              .row
                .col-xs-12
                  h4 Status : In Progress
              .row
                .col-xs-12
                  a.btn.btn-go.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/criticisms") Edit
            else if problems.length && problems.length >= 2
              .row.complete-row
                .col-md-2
                  img.category-ready-checkbox(src="/checkbox.png" height="30" width="30")
                .col-md-6
                  h4 Ready to Go!
                .col-md-4
                  a.btn.btn-go.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/criticisms") Edit
            else
              .row
                .col-xs-12
                  h3
                    a.btn.btn-industry.btn-lg.btn-block(href="/ideas/#{idea.name}/edit/criticisms") Not Started

  .pagefooter
    include ../../partials/footer.jade

  #titleModal.modal.fade.annotate-modal(role="dialog" data-backdrop="static" data-keyboard="false")
    .modal-dialog
      .modal-content
        .modal-header
          .modal-title 
            if user.firstname
              h2 #{user.nickname}, name your idea
            else
              h2 Name Your Idea
            //- p Give your idea a short, descriptive, memorable name:
        .modal-body
          form(role='form', id="saveIdeaName" action="/save-idea-name", method="post", style='max-width: 450px;', data-idea-doc=idea)
            .form-group
              input(type="hidden", name="_csrf", value="#{csrfToken}")
              input.form-control(type="text", name="inventionName", value='My idea is called the ')
              p (Example: "My idea is called the DeLorean Time Machine")
              button.btn.btn-success.btn-lg#titleSubmit(type='submit') Save
                img.einstein-point-btn-icon(src="/single-einstein-point.png")

  #filePatentModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal")
          .modal-title 
              h2 Generate Patent Application
        .modal-body
          .row
            each application in patentApplicationList
              .col-sm-12
                a(href="#{application.amazonURL}")
                  span.glyphicon.glyphicon-file.fa-4x(aria-hidden="true")
                    a(href="#{application.amazonURL}")
                      h4 #{application.date}
          .row
            .col-xs-12
              a.btn.btn-go.btn-lg#create-application-button Generate a New Application

          .row
            if appStrengthClass == "yes col-md-12"
                //- ** FILING A PATENT APPLICATION AND OBTAINING A RECEIPT IS TOO COMPLEX OF A PROCESS TO HAVE GOING ON WHILE A MODAL WINDOW IS ACTIVE IN A SECOND WEBSITE.  THE NEXT PROMPT AFTER DOWNLOADING A PATENT APPLICATION NEEDS TO BE A REDIRECT TO THE SCREEN WHERE YOU HIRE A PATENT ATTORNEY
                //- if !receipt
                  form(role='form', id="prelimReceiptUpload" action="/receipt-upload", method="post", data-idea-doc=idea, enctype="multipart/form-data")
                    .form-group
                      input(type="hidden", name="_csrf", value="#{csrfToken}")
                      input#receiptInput(type="file", name="receipt")
                //- else
                  a(href=receipt.amazonURL download)
                    p Receipt uploaded.
                  h4 Variants
                  each variantDate in variantDates
                    .row
                      a(href="/ideas/#{idea.name}/variant/"+variantDate[1]) #{variantDate[0]}

                  a.btn.btn-go( href="/create-new-variant" ) Create a New Variant
                  br
            else if appStrengthClass.indexOf("almost") > -1 || appStrengthClass.indexOf("not-yet") > -1
              .col-md-2
                spa4.fa.fa-exclamation-triangle.fa-2x(style='color:red', aria-hidden='true')
              .col-md-10
                h4  You haven't yet entered enough details about #{idea.name} to build a patent application.  Add more components, suggestions and criticisms.
                //- TO DO add the What's left functionality here so someone can see exactly what they need to add
          .row
            .modal-footer
              a#enterMoreInformation.btn.btn-info.btn-lg(data-dismiss="modal") Add More Information

  #viewIdeaVisibilityLevel.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
              h2 #{idea.name} Visibility
        .modal-body
            if idea.visibility == "public"
              .row
                .col-md-12
                  h4 This idea is Publicly Visible to Everyone.
            else
              .row
                .col-md-2
                  i.fa.fa-exclamation-triangle.fa-5x(style='color:red', aria-hidden='true')
                .col-md-10
                  if appStrengthClass.indexOf("almost") > -1 || appStrengthClass.indexOf("not-yet") > -1
                    h4  You haven't yet entered enough details about #{idea.name} to build a patent application.  Click "Strengthen #{idea.name} Profile" to add more components, suggestions and criticisms.
                  h4 Prior to going public with your #{idea.name}, you should protect your idea by obtaining patent pending status, if you haven't already.
          .modal-footer
            if idea.visibility == "public"
              button#restrictVisibilityToPrivate.btn.btn-info.btn-lg Change Visibility to Private
              a.btn.btn-go.btn-lg(data-dismiss="modal") OK
            else
              button#enterMoreInformation.btn.btn-info.btn-lg(data-dismiss="modal") Strengthen #{idea.name} Profile
              a.btn.btn-go#bypass-application-button.btn-lg(data-toggle="modal" data-target="#confirmExposeIdeaModal") Expose Idea Now



  #confirmExposeIdeaModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            .row
              .col-md-2.text-bottom
                i.fa.fa-exclamation-triangle.fa-5x(style='color:red', aria-hidden='true')
              .col-md-10
                h2 Are you sure? 
          .modal-body
            if appStrengthClass.indexOf("almost") > -1 || appStrengthClass.indexOf("not-yet") > -1
              .row
                .col-md-12
                  h4 By making #{idea.name} available for everyone to see, someone might copy and steal your idea. 
                  h4 Are you sure you want to expose your #{idea.name} and make it public before obtaining patent pending status?
            else
              .row
                .col-md-12
                  h4 Make sure your patent application has been accepted by the US Patent and Trademark Office and has patent pending status before exposing to the public.
          .modal-footer
            .row
              br
              .col-md-6
                if hasActiveMembership
                  a.btn.btn-go.btn-lg#file-patent(data-toggle="modal" data-target="#filePatentModal") Generate Patent Application
                else
                  a.btn.btn-go.btn-lg#purchase-patent-application-button(href="/membership-options") Generate Patent Application
              .col-md-6
                button#exposeIdeaNow.btn.btn-info.btn-lg Expose #{idea.name} Now


  button(type="button" id="titleModalButton" style="display:none;" class="btn btn-primary" data-toggle="modal" data-target="#titleModal") Go Win Fight

  include ../../partials/js-includes.jade
  script(src='/exif.js')
  script(type="text/javascript").
    $(document).ready(function(){
      if("!{idea.name}" == ""){
        $('#titleModal').modal('show');
      }
      if("!{idea.description}" == ""){
        $("#idea-summary-accomplish")
          .addClass("incomplete-data");
        $("#idea-summary-accomplish a")
          .before("<h4><i>No data entered</i></h4>");
      }
      if("!{idea.problem}" == ""){
        $("#idea-summary-challenge")
          .addClass("incomplete-data");
        $("#idea-summary-challenge a")
          .before("<h4><i>No data entered</i></h4>");
      }

      $("#openTitleModal").click(function(event){
        $("#whatsLeftModal").modal('hide');
        $('#titleModal').modal('show');
      })

      $("#titleSubmit").click(function(event){
        event.preventDefault();
        if($("#saveIdeaName input[name='inventionName']").val() == "My idea is called the " ||
        $("#saveIdeaName input[name='inventionName']").val().length <= "My idea is called the ".length){
          if($("#titleRequiredMessage").length == 0){
            $("<p id='titleRequiredMessage'>A title is required.</p>").insertBefore("#saveIdeaName input[name='inventionName']");
          }
        } else {
          $.post('/save-idea-name', 
            {
              _csrf : $('[name="_csrf"]').val(),
              inventionName : $("#saveIdeaName input[name='inventionName']").val().trim(),
            },
            function(resp) {
              if(resp['newUrl']){
                window.location = resp['newUrl'];
              } else {
                window.location.reload(true);
              }
            });
        }
      })
      $("#exposeIdeaNow").click(function(event){
        $.get("/expose-idea-seed", function(err, response){
          window.location.reload(true);
        });
      })


      $("#visibilityLink").click(function(event){
        $("#viewIdeaVisibilityLevel").modal('show');
      })


      $.post('/set-session-redirect', {redirectURL : "/ideas/!{idea.name}/edit", "_csrf" : $('[name="_csrf"]').val()}, function(response){
        var stop;
      });

      $("#create-application-button").click(function(event){
        $.get("/create-application", function(data){
          window.location.reload(true)
        });
      })
    if(document.getElementById("receiptInput")){
      document.getElementById("receiptInput").onchange = function(event) {
        $("<img id='spinner' src='/spinner.gif'>").insertAfter("#prelimReceiptUpload");
        const files = document.getElementById('receiptInput').files;
        const file = files[0];
        const csrf = $("input[name='_csrf']").val();
        if(file == null){
          return alert('No file selected.');
        }
        var fr   = new FileReader;
        
        fr.onloadend = function() {
          var exif = EXIF.readFromBinaryFile(this.result);
          if(file.size < 3000000){
            getSignedRequest(file, csrf, exif);
          } else if (file.size > 3000000){
            alert('Please choose an image smaller than 3 MB.')
          } else {
            alert('An error ocurred with this image.')
          }

        };

        fr.readAsArrayBuffer(file); // read the file


      };

      function uploadFile(file, signedRequest, url, csrf, exif){
        const xhr = new XMLHttpRequest();
        xhr.open('PUT', signedRequest);
        xhr.onreadystatechange = function() {
          if(xhr.readyState === 4){
            if(xhr.status === 200 && (file.type=="application/pdf")){
              var data = {"filename" : file.name, "fileUrl" : url, "type" : file.type,
                "_csrf" : csrf, exif : exif };
              $.post('/receipt-upload', data , function(response, status){
                if(status == 200){
                  window.location.reload();
                } else {
                  alert('An error ocurred while uploading receipt.')
                }
              });
            }
            else{
              alert('Please upload PDF.');
            }
          }
        };
        xhr.send(file);
      }

      function getSignedRequest(file, csrf,exif){
        const xhr = new XMLHttpRequest();
        var filename = file.name.split(".");
        filename[0] = filename[0] + "-" + Date.now().toString();
        filename = filename.join(".");
        xhr.open('GET', '/sign-s3?file-name='+ filename + '&file-type='+ file.type);
        xhr.onreadystatechange = function() {
          if(xhr.readyState === 4){
            if(xhr.status === 200){
              var response;
              if(xhr.responseText == ""){
                response = JSON.parse('{}');
              } else {
                response = JSON.parse(xhr.responseText);
              }
              uploadFile(file, response.signedRequest, response.url, csrf, exif);
            }
            else{
              alert('Could not get signed URL.');
            }
          } 
          
        };
        xhr.send();
      }
    }

    }); //end of document.ready
