doctype html
html
  head
    include ../../partials/head.jade
  body
  .header.navbar.navbar-default
    include ../../partials/header.jade

  .container-fluid.idea-summary
    .row
      .col-xs-12
        h1 #{idea.name} Component Details
    .row
      .col-md-3.lefthand-buttons
        .row
          .col-xs-12
            a.btn.btn-navigation.btn-lg(href="/ideas/#{idea.name}/edit") #{idea.name} Dashboard
        .row
          .col-xs-12
            a.btn.btn-navigation.btn-lg(href="/ideas/#{idea.name}/edit/images") Previous Step
        .row
          .col-xs-12
            a.btn.btn-navigation.btn-lg(href="/ideas/#{idea.name}/edit/evaluation") Next Step
      .col-md-9
        h3 Saved Components
        if Object.keys(wholeSuggestionBlockInfo).length != 0
          .row
            .col-xs-12
              each component, identifier in wholeSuggestionBlockInfo
                if component.document.text
                  include ../../partials/component-summary-element.jade
        else
          h4 <i>No Components Yet</i>

  include ../../partials/js-includes.jade
  script(src='/exif.js')
  script(type="text/javascript").
    // This is for the first text input field in the add component modal
    var inputOne = $("#addIdeaComponent input#componentName")[0];
    var requiredCompTextOne = "The "
    $("#addIdeaComponent .compNameCharRemaining").text((200) + " characters remaining");
    inputOne.addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredCompTextOne) == -1 || String($(this).val()) == "The ...") {
            $(this).val(requiredCompTextOne);
      }
      if (this.selectionStart < requiredCompTextOne.length) {
        this.selectionStart = requiredCompTextOne.length;
      }
    }, false);

    inputOne.addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredCompTextOne) == -1 || String($(this).val()) == "The ...") {
            $(this).val(requiredCompTextOne);
      }
      if (this.selectionStart < requiredCompTextOne.length) {
        this.selectionStart = requiredCompTextOne.length;
      }
      $("#addIdeaComponent input#componentName").keyup(function(){
        $("#addIdeaComponent .compNameCharRemaining").text((200 + requiredCompTextOne.length - $(this).val().length) + " characters remaining");
      });
    }, false);

    $("#componentSubmit").click(function(event){
      event.preventDefault();

      if($("#componentName").val() == "The ..." || $("#componentName").val() == "The "){
        $("#addComponentModal").modal('hide');
      } else {
        var newComponentName = $("#componentName").val().trim();
        var newComponentDescr;

        var data = {
            _csrf : $('[name="_csrf"]').val(),
            componentName : newComponentName.slice(4)
        };
        $.post('/add-idea-component', 
          data,
          function(data, response) {
            window.location.reload(true);
          });      
      }

    });
