doctype html
html
  head
    include ../../partials/head.jade
  body
  .header.navbar.navbar-default
    include ../../partials/header.jade
  .container-fluid.idea-summary
    .row.idea-seed-profile
      .col-sm-8
        if(imageURLs.length > 0)
          .imagesList
            if imageURLs[0]
              .image-summary-image
                .visibility-header-column
                  if idea.visibility == "private"
                    a#visibilityLink
                      h5 Visibility : #{idea.visibility.charAt(0).toUpperCase() + idea.visibility.slice(1)}
                        span.glyphicon.glyphicon-pencil
                  else
                    h5 Visibility : #{idea.visibility.charAt(0).toUpperCase() + idea.visibility.slice(1)}
                .clipped-corner
                div(id='#{imageURLs[0][0]}' style="height: 400px; margin: 0 auto; width: 90%; background-image : url('" + '#{imageURLs[0][1] || "/avatar.png"}' + "');  background-position: center center; background-repeat: no-repeat; background-size: cover;" + "#{imageURLs[0][2]}")
            .ideaseed-image-thumbnails
              each imageURL, index in imageURLs
                if index < 3 && index > 0
                  img.ideaSeedThumbnails(src=imageURL[1]  style=imageURL[2])
        else
          .image-placeholder-wrapper
            img.ideaseed-image-placeholder(src="/ideaseed-image-placeholder.jpg")
      .col-sm-4.desktop-component-section
        .score-wrapper
          h3.average-score-number Viability Score: #{averageScore}
        if idea.name
          h1 #{idea.name.charAt(0).toUpperCase() + idea.name.slice(1)}
        if inventorName == user.username
          a.btn.btn-industry.btn-lg.btn-block(type="button" href="/ideas/#{idea.name}/edit") Inventor Dashboard
        if idea.name && inventorName == user.username
          h4 Your <b>#{idea.name.charAt(0).toUpperCase() + idea.name.slice(1)}</b> solves the <span class="problemColor">problem of #[a(href='/introduce-idea') #{idea.problem}]</span> by #[a(href='/accomplish') <span class="solutionColor">#{idea.description}]</span>.
        else if idea.name 
          h4 <b>#{idea.name.charAt(0).toUpperCase() + idea.name.slice(1)}</b> solves the <span class="problemColor">problem of #{idea.problem}</span> by <span class="solutionColor">#{idea.description}</span>.
        .row
          .col-sm-12
            a#score-now-button.btn.btn-block.btn-lg(type="button"  class="btn btn-go btn-lg btn-block" ontouchstart="this.style.background = '#007338';" href="#add-viability-scores-row") Score #{idea.name}
        .row
          .col-sm-12
            if openCampaign !== undefined
              a.btn(type="button"  class="btn btn-go btn-lg btn-block" href='/ideas/' + idea.name + '/campaign' ontouchstart="this.style.background = '#007338';") Fund This Idea
            else if mostRecentCampaign !== undefined
              a.btn(type="button"  class="btn btn-go btn-lg btn-block" href='/ideas/' + idea.name + '/campaign' ontouchstart="this.style.background = '#007338';") Crowdfund Status
            else if inventorName === user.username && idea.visibility === "public"
              a.btn(type="button"  class="btn btn-go btn-lg btn-block" href='/ideas/' + idea.name + '/campaign/new' ontouchstart="this.style.background = '#007338';") Crowdfund
          //- .col-sm-12
          //-   if openCampaign !== undefined
          //-     a.btn(type="button"  class="btn btn-go btn-lg btn-block" href='/ideas/' + idea.name + '/campaign' ontouchstart="this.style.background = '#007338';" disabled) Fund This Idea
          //-   else if inventorName === user.username && idea.visibility === "public"
          //-     a.btn(type="button"  class="btn btn-go btn-lg btn-block" href='/ideas/' + idea.name + '/campaign/new' ontouchstart="this.style.background = '#007338';" disabled) Crowdfund

          .col-xs-12
            #idea-summary-aptitudes.aptitudeList
              .profileAptitudes
                if aptitudes && aptitudes.length > 0 && idea.name
                  h4 #{idea.name}'s Aptitudes
                  ul
                    each aptitude, aptIndex in aptitudes
                      li(data-apt-id="#{aptitude.identifier}") 
                        p #{aptitude.title}
    .row
      .col-sm-12.desktop-component-section
        if idea.name
          h2.component-title #{idea.name} Components
          if components.length > 0
            each component, identifier in wholeSuggestionBlockInfo
              include ../../partials/component-summary-element.jade
          else
            h4 <i>No Components Yet</i>
        else
          <i>No components yet</i>

        .row.mobile-only
          if inventorName != user.username
            .idea-summary-data#idea-summary-waste-values
              if(Object.keys(review).length > 0)
                .row
                  .col-xs-8
                    h4 Your current score for #{idea.name}: 
                  .col-xs-3
                    h3.average-score-number #{averageScore}
                img.ideajam-spinner(src="/IdeaJam-logo.gif" style="display:none;")
                a.btn(type="button"  class="btn btn-go" href="/view-single-overall-score" ontouchstart="this.style.background = '#007338';"  ontouchend="this.style.background = '#00A550';") Keep Scoring
              else
                img.ideajam-spinner(src="/IdeaJam-logo.gif" style="display:none;")                
                a.btn(type="button"  class="btn btn-go" href="/view-single-overall-score" ontouchstart="this.style.background = '#007338';" ontouchend="this.style.background = '#00A550';") Score Now
              br
          else
            .idea-summary-data#idea-summary-waste-values
              h4 You can only score someone else's ideas (right now)
    #add-viability-scores-row(class="row")
      .col-xs-1
        a.viabilty-slider-left-arrow
          img(src="/left-arrow.png")
      .col-xs-10.slide-content
        .viability-slide-wrapper
          .viability-scoring-intro-slide.score-slide
            .row
              .col-xs-4
              .col-xs-4
                h2 Score #{idea.name}
                if inventorName == user.username
                  p Score your invention on the following categories to identify areas to improve and earn Einstein Points
                else
                  p Score #{idea.name} on the following categories to identify areas to improve and earn Einstein Points
                button.btn.btn-go.btn-lg.btn-block#beginScoring(type='submit') Go
              .col-xs-4
          .performability-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.performability-icon(src="/perfIcon.png", height='100')
                h2.top-row-header Score #{idea.name}'s Performability
                h3 Will the #{idea.name} effectively work to solve the problem of #{idea.problem}?
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.performability-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.performability-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.performability-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.performability-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.performability-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Incapable
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Effective
              .col-xs-1
            .problem-slide
              .row
                h3 Is there a specific reason for this low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Performability" )
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel

          .affordability-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.affordability-icon(src="/affordIcon.png", height="100")
                h2.top-row-header Score #{idea.name}'s Affordability
                h3 Will #{idea.name} stay within reasonable cost expectations when solving the problem of #{idea.problem}?
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.affordability-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.affordability-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.affordability-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.affordability-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.affordability-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Expensive
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Economical
              .col-xs-1
            .problem-slide
              .row
                h3 Why the low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Affordability")
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
          .featurability-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.featurability-icon(src="/perfIcon.png", height="100")
                h2.top-row-header Score #{idea.name}'s Featurability
                h3 Will #{idea.name} provide enough added benefits to solve the problem of #{idea.problem}?
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.featurability-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.featurability-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.featurability-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.featurability-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.featurability-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Bland
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Multifaceted
              .col-xs-1
            .problem-slide
              .row
                h3 Why the low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Featurability")
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel

          .deliverability-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.deliverability-icon(src="/deliverabilityIcon.png", height="100")
                h2.top-row-header Score #{idea.name}'s Deliverability
                h3 Will #{idea.name} be ready on demand when and where the user wants it to solve the problem of #{idea.problem}?
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.deliverability-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.deliverability-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.deliverability-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.deliverability-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.deliverability-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Unaccessible
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Available
              .col-xs-1
            .problem-slide
              .row
                h3 Why the low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Deliverability")
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
          .useability-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.useability-icon(src="/useabilityIcon.png", height="100")
                h2.top-row-header Score #{idea.name}'s Useability
                h3 Will #{idea.name} be quickly and easily learned and implemented when solving the problem of #{idea.problem}?
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.useability-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.useability-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.useability-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.useability-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.useability-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Impractical
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Pragmatic
              .col-xs-1
            .problem-slide
              .row
                h3 Why the low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Useability")
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
          .maintainability-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.maintainability-icon(src="/maintainabilityIcon.png", height="100")
                h2.top-row-header Score #{idea.name}'s Maintainability
                h3 How easy will #{idea.name} be to keep in service when solving the problem of #{idea.problem}?
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.maintainability-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.maintainability-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.maintainability-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.maintainability-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.maintainability-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Untenable
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Sustainable
              .col-xs-1
            .problem-slide
              .row
                h3 Why the low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Maintainability")
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
          .durability-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.durability-icon(src="/durabilityIcon.png", height="100")
                h2.top-row-header Score #{idea.name}'s Durability
                h3 Is #{idea.name} robust enough to withstand abuse when solving the problem of #{idea.problem}? 
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.durability-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.durability-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.durability-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.durability-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.durability-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Unreliable
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Enduring
              .col-xs-1
            .problem-slide
              .row
                h3 Why the low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Durability")
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
          .imageability-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.imageability-icon(src="/imageabilityIcon.png", height="100")
                h2.top-row-header Score #{idea.name}'s Imageability
                h3 Will #{idea.name} convey an image of quality and prestige when solving the problem of #{idea.problem}?
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.imageability-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.imageability-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.imageability-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.imageability-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.imageability-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Undesirable
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Appealing
              .col-xs-1
            .problem-slide
              .row
                h3 Why the low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Imageability")
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
          .complexity-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.complexity-icon(src="/complexityIcon.png", height="100")
                h2.top-row-header Score #{idea.name}'s Complexity
                h3 Will #{idea.name} require a large number of steps to produce, assemble, ship or use to solve the problem of #{idea.problem}?
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.complexity-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.complexity-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.complexity-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.complexity-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.complexity-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Simple
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Complicated
              .col-xs-1
            .problem-slide
              .row
                h3 Why the low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Complexity")
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
          .precision-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.precision-icon(src="/precisionIcon.png", height="100")
                h2.top-row-header Score #{idea.name}'s Precision
                h3 Will #{idea.name} require specific timing, precise sequence or much practice to solve the problem of #{idea.problem}?
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.precision-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.precision-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.precision-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.precision-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.precision-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Lenient
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Fussy
              .col-xs-1
            .problem-slide
              .row
                h3 Why the low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Precision")
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel

          .variability-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.variability-icon(src="/variabilityIcon.png", height="100")
                h2.top-row-header Score #{idea.name}'s Variability
                h3 Will use or production of #{idea.name} change based upon specific scenarios or circumstances when solving the problem of #{idea.problem}?
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.variability-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.variability-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.variability-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.variability-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.variability-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Consistent
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Erratic
              .col-xs-1
            .problem-slide
              .row
                h3 Why the low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Variability")
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel

          .sensitivity-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.sensitivity-icon(src="/sensitivityIcon.png", height="100")
                h2.top-row-header Score #{idea.name}'s Sensitivity
                h3 Will usage or the environment easily disturb or damage #{idea.name} while solving the problem of #{idea.problem}?
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.sensitivity-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.sensitivity-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.sensitivity-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.sensitivity-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.sensitivity-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Reliable
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Fragile
              .col-xs-1
            .problem-slide
              .row
                h3 Why the low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Sensitivity")
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel

          .immaturity-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.immaturity-icon(src="/immaturityIcon.png", height="100")
                h2.top-row-header Score #{idea.name}'s Immaturity
                h3 Will the design, manufacture, or production of #{idea.name} require new or unproven technology, processes or materials to solve the problem of #{idea.problem}?
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.immaturity-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.immaturity-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.immaturity-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.immaturity-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.immaturity-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Developed
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Raw
              .col-xs-1
            .problem-slide
              .row
                h3 Why the low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Immaturity")
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel

          .dangerous-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.dangerous-icon(src="/dangerIcon.png", height="100")
                h2.top-row-header Score #{idea.name}'s Dangerousness
                h3 Will #{idea.name} require human or environmental protections to reduce potential harm?
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.dangerous-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.dangerous-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.dangerous-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.dangerous-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.dangerous-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Harmless
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Hazardous
              .col-xs-1
            .problem-slide
              .row
                h3 Why the low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Danger")
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel

          .skills-slide.score-slide
            .row.top-row.scoreIdea
              .col-xs-12
                img.skills-icon(src="/skillsIcon.png", height="100")
                h2.top-row-header Score #{idea.name}'s Level of Skills to Operate
                h3 Will #{idea.name} require many specific skills to solve the problem of #{idea.problem}?
            .row.scoring-stars
              .col-xs-1
              .col-xs-2
                img.star-one.skills-star(src="/empty-star.png")
              .col-xs-2
                img.star-two.skills-star(src="/empty-star.png")
              .col-xs-2
                img.star-three.skills-star(src="/empty-star.png")
              .col-xs-2
                img.star-four.skills-star(src="/empty-star.png")
              .col-xs-2
                img.star-five.skills-star(src="/empty-star.png")
              .col-xs-1
            .row.viability-labels
              .col-xs-1
              .col-xs-2
                h3 Easy
              .col-xs-2
              .col-xs-2
              .col-xs-2
              .col-xs-2
                h3 Onerous
              .col-xs-1
            .problem-slide
              .row
                h3 Why the low score?
                form(role='form', action="/add-idea-problem", method="post", data-idea-doc=idea)
                  .form-group
                    input(type="hidden", name="_csrf", value="#{csrfToken}")
                    input.problemArea(type="hidden", value="Area : Skills")
                    textarea.problemStatement(class="form-control" rows="3")
                      | The problem is
                    p.exampleText (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
                    button.btn.btn-go.btn-block.btn-lg.problemSubmit(type='submit') Save & Continue
                      //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
                    button.btn.btn-info.btn-block.btn-lg.problemContinue Cancel
          .viability-scoring-outro-slide.score-slide
            .row
              .col-xs-4
              .col-xs-4
                h2 Great job!
                h4 You're almost done. Think of any other areas of improvement for #{idea.name} and view your idea profile.
                a#add-viability-next-btn.btn.btn-go.btn-lg.btn-block(href="#add-imperfections-row") Next Step
              .col-xs-4

      .col-xs-1.viabilty-slider-right-arrow-column
        a.viabilty-slider-right-arrow
          img(src="/right-arrow.png")
    div(class="viability-icons row")
      .col-xs-1
      .col-xs-10
        a.slide-icon-one
          img.performability-icon(src="/perfIcon.png")
        a.slide-icon-two
          img.affordability-icon(src="/affordIcon.png")
        a.slide-icon-three
          img.featurability-icon(src="/perfIcon.png")
        a.slide-icon-four
          img.deliverability-icon(src="/deliverabilityIcon.png")
        a.slide-icon-five
          img.useability-icon(src="/useabilityIcon.png")
        a.slide-icon-six
          img.maintainability-icon(src="/maintainabilityIcon.png")
        a.slide-icon-seven
          img.durability-icon(src="/durabilityIcon.png")
        a.slide-icon-eight
          img.imageability-icon(src="/imageabilityIcon.png")
        a.slide-icon-nine
          img.complexity-icon(src="/complexityIcon.png")
        a.slide-icon-ten
          img.precision-icon(src="/precisionIcon.png")
        a.slide-icon-eleven
          img.variability-icon(src="/variabilityIcon.png")
        a.slide-icon-twelve
          img.sensitivity-icon(src="/sensitivityIcon.png")
        a.slide-icon-thirteen
          img.immaturity-icon(src="/immaturityIcon.png")
        a.slide-icon-fourteen
          img.dangerous-icon(src="/dangerIcon.png")
        a.slide-icon-fifteen
          img.skills-icon(src="/skillsIcon.png")
      .col-xs-1
    .row.improve-idea-row
      .col-xs-12
        ul.nav.nav-tabs(role="tablist")
          li(class="active" role="presentation")
            a(href="#imperfections" aria-controls="#imperfections" role="tab" data-toggle="tab")
              h3 Imperfections
          li(role="presentation")
            a(href="#suggestions" aria-controls="#suggestions" role="tab" data-toggle="tab") 
              h3 Suggestions
        .tab-content
          .tab-pane.active#imperfections(role="tabpanel")
            - var inventor = inventorName
            - var currentUser = user.username
            each problem, index in problems
              if(problem.text && problem['identifier'])
                include ../../partials/problem-summary-element.jade
            button(type="button" id="problemModalButton"  class="btn btn-go btn-lg btn-block" data-toggle="modal" data-target="#addProblemModal" ontouchstart="this.style.background = '#007338';") Add New Imperfection
            a(href='/ideas/' + idea.name + '/view-all-imperfections')
              button(type="button"  class="btn btn-industry btn-lg btn-block") View All Imperfections
          .tab-pane#suggestions(role="tabpanel")
            each suggestion, identifier in wholeSuggestionBlockInfo
              if suggestion.document.inventorApproved !== false && suggestion.document.descriptions && suggestion.document.descriptions[0]
                include ../../partials/suggestion-summary-element.jade
            .view-all-components-wrapper
              a.btn.btn-electric.btn-lg.btn-block#componentsViewAllLink(type="button" href='/ideas/' + idea.name + '/view-all-suggestions') View All Suggestions
    .row.share-idea-row
      .col-md-3
      .col-md-6.sharing-icons
        h2 Share #{idea.name}
        br
        a(class="btn btn-danger btn-lg") 
          span.fa.fa-google-plus Google
        |  
        a(class="btn btn-primary btn-lg") 
          span.fa.fa-facebook Facebook
        |  
        a(class="btn btn-info btn-lg") 
          span.fa.fa-linkedin LinkedIn
      .col-md-3

  .pagefooter
    include ../../partials/footer.jade
  #titleModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          .modal-title 
            if user.firstname
              h2 #{user.nickname}, name Your Idea
            else
              h2 Name Your Idea
            p Give your idea a short, descriptive, memorable name:
        .modal-body
          form(role='form', id="saveIdeaName" action="/save-idea-name", method="post", style='max-width: 300px;', data-idea-doc=idea)
            .form-group
              input(type="hidden", name="_csrf", value="#{csrfToken}")
              input.form-control(type="text", name="inventionName", value='My idea is called the ')
              p (Example: "My idea is called the DeLorean Time Machine")
              p.charactersRemaining
            .modal-footer
              button.btn.btn-success#titleSubmit(type='submit') Save
                img.einstein-point-btn-icon(src="/single-einstein-point.png")
          .row
            .col-xs-12
              .hint Hint: Choose a concise, catchy and descriptive name for your idea.
  #viewAllImperfections.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            h2 All Imperfections
        .modal-body
          .row 
            .idea-summary-data#idea-summary-problems
              ul.idea-summary-problem-list
                each problem, index in problems
                  if(problem.text && problem['identifier'])
                    li
                      include ../../partials/problem-summary-element.jade

              button.btn-lg.btn-block(type="button" id="problemModalButton"  class="btn btn-go" data-toggle="modal" data-target="#addProblemModal") Add a Problem
        .modal-footer
          button.btn.btn-info.btn-lg.btn-block(data-dismiss="modal") Ok
  #whatsLeftModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            if idea.name
              h3 #{user.firstname}, add more details to complete your #{idea.name.charAt(0).toLowerCase() + idea.name.slice(1)} profile, because more details will generate a better patent application.
        .modal-body
          ul
            if idea.name
              each object, key in strengthResponse
                case key
                  when "description"
                    if object == ""
                      li Add a brief description of your #{idea.name}
                        a.whats-left-button.btn.btn-go( href="/accomplish" ) Go
                  when "problem"
                    if object == ""
                      li Add the main problem that your #{idea.name} is addressing
                      li Add a brief description of your #{idea.name.charAt(0).toLowerCase() + idea.name.slice(1)}
                        a.whats-left-button.btn.btn-go( href="/accomplish" ) Go 
                  when "problem"
                    if object == ""
                      li Add the problem that your #{idea.name.charAt(0).toLowerCase() + idea.name.slice(1)} Solves
                        a.whats-left-button.btn.btn-go( href="/introduce-idea" ) Go
                  when "name"
                    if object == ""
                      li Give your idea a name
                        a.whats-left-button.btn.btn-go#openTitleModal() Go
                  when "images"
                    if object.length < 2
                      li Add more sketch drawings or photos of your #{idea.name}
                        a.whats-left-button.btn.btn-go( href="/image-upload" ) Go
                  when "issues"
                    if object.length < 4
                      li Add more imperfections of your #{idea.name} remaining to be solved
                        a.whats-left-button.btn.btn-go#openAddProblemModal() Go
                  when "viabilityScores"
                    if appStrengthText == "NOT YET..." && object.length < 4
                      li Finish rating your #{idea.name} to complete its viability score
                        a.whats-left-button.btn.btn-go#openViabilityModal() Go
                    else if appStrengthText == "ALMOST..." && object.length < 15
                      li Finish rating your #{idea.name} to give it a viability score
                        a.whats-left-button.btn.btn-go#openViabilityModal() Go
                  when "imagesWithAnnotations"
                    if object.length < strengthResponse['images'].length 
                      li Add at least one tag to every #{idea.name} image
                        a.whats-left-button.btn.btn-go( href="/image-upload" ) Go
                  when "problemsWithSuggestions"
                    if object.length < strengthResponse['issues'].length
                      li Suggest at least one solution for each #{idea.name} imperfection
                        a.whats-left-button.btn.btn-go( href="/suggestion-summary" ) Go
                  when "compsWithRelationships"
                    if object.length < strengthResponse['allComponents'].length
                      li Explain how each component of #{idea.name} is related to at least one other component
                        a.whats-left-button.btn.btn-go#viewComponentsTab() Go
        .modal-footer
          button.btn.btn-success(data-dismiss="modal") Return to the #{idea.name} profile

  #viabilityModal.modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title
            if idea.name
              h2 Score #{idea.name.charAt(0).toLowerCase() + idea.name.slice(1)}
            else 
              h2 Score this idea
        .modal-body
          .view-all-viabilities
              include ../../partials/viability-overview-modal.jade
          .view-specific-viability
        .modal-footer.view-all-button
            button.btn.btn-info.modal-view-all View All
            span.viabilityStatus 1/4
            button.btn.btn-success#viabilitySubmit(data-viability-category="view-all") Next

  #addProblemModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            if idea.name
              h3 New Imperfection
        .modal-body
          form(role='form', id="addIdeaProblem" action="/add-idea-problem", method="post", style='max-width: 450px;', data-idea-doc=idea)
            .form-group
              input(type="hidden", name="_csrf", value="#{csrfToken}")
              input#problemStatement.form-control(type="text", name="problemStatement", value='The problem is ')
              p (Example: "The time machine imperfection of needing to accelerate to 88 miles per hour before time travel is initiated.")
              //- p.charactersRemaining
              h4 Imperfection Category:
              select.form-control#problemArea(required)
                each value in problemAreas
                  option(value=value) #{value}
              //- h4 Describe an aptitude needed to solve this imperfection:
              //- input#aptitudeStatement.form-control(type="text", name="aptitudeStatement", value='The aptitude of ')
              //- p (Example: "The aptitude of nuclear engineering.")
            .modal-footer
              button.btn.btn-go.btn-block.btn-lg#problemSubmit(type='submit') Save Imperfection
                //- img.einstein-point-btn-icon(src="/single-einstein-point.png")
              button.btn.btn-info.btn-block.btn-lg(data-dismiss="modal") Cancel

  #addComponentModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            if idea.name
              h2 #{user.nickname}, add a new #{idea.name} component
            else
              h2 #{user.nickname}, add a new component
        .modal-body
          form(role='form', id="addIdeaComponent" action="/add-idea-component", method="post", style='max-width: 300px;', data-idea-doc=idea)
            .form-group
              if idea.name
                h4 What is this new component of your #{idea.name} called?
              else
                h4 What is this new component called?
              input#componentName.form-control(type="text", name="componentName", value='The ...')
              p (Example: "The Flux Capacitor")
              input(type="hidden", name="_csrf", value="#{csrfToken}")
              p.compNameCharRemaining
              if idea.name
                h4 How do you describe this component of your #{idea.name}?
              else
                h4 How do you describe this component?
              input#componentDescription.form-control(type="text", name="componentDescription", value='This component is described as ')
              p (Example: "This component is described as a power channeling device that processes 1.21 gigawatts to make time travel possible.")
              p.compDescrCharRemaining
            .modal-footer
              button.btn.btn-go.btn-block.btn-lg#componentSubmit(type='submit') Save Component
                img.einstein-point-btn-icon(src="/single-einstein-point.png")
              button.btn.btn-info.btn-block.btn-lg(data-dismiss="modal") Cancel

  #filePatentModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            if idea.name
              h3 Don't let anyone steal your idea!
              h4 Prior to going public with your #{idea.name.charAt(0).toLowerCase() + idea.name.slice(1)}, you should protect your idea by obtaining patent pending status.
            else
              h3 #{user.nickname}, you need to name your idea before building a patent application and going public.
        .modal-body
            if appStrengthClass == "yes col-md-12" || idea.visibility == "public"
              .row.text-center
                a.btn.btn-go.btn-lg#create-application-button( href="/create-application" ) Download Patent Application
                br
                //- ** FILING A PATENT APPLICATION AND OBTAINING A RECEIPT IS TOO COMPLEX OF A PROCESS TO HAVE GOING ON WHILE A MODAL WINDOW IS ACTIVE IN A SECOND WEBSITE.  THE NEXT PROMPT AFTER DOWNLOADING A PATENT APPLICATION NEEDS TO BE A REDIRECT TO THE SCREEN WHERE YOU HIRE A PATENT ATTORNEY
                //- if !receipt
                  form(role='form', id="prelimReceiptUpload" action="/receipt-upload", method="post", data-idea-doc=idea, enctype="multipart/form-data")
                    .form-group
                      input(type="hidden", name="_csrf", value="#{csrfToken}")
                      input#receiptInput(type="file", name="receipt")
                //- else
                  a(href=receipt.amazonURL download)
                    p Receipt uploaded.
                  h4 Variants
                  each variantDate in variantDates
                    .row
                      a(href="/ideas/#{idea.name}/variant/"+variantDate[1]) #{variantDate[0]}

                  a.btn.btn-go( href="/create-new-variant" ) Create a New Variant
                  br
            else if appStrengthClass.indexOf("almost") > -1 || appStrengthClass.indexOf("not-yet") > -1
              if idea.name
                h4  You haven't yet entered enough details about #{idea.name.charAt(0).toLowerCase() + idea.name.slice(1)} to build a patent application.  Click "Strengthen #{idea.name.charAt(0).toLowerCase() + idea.name.slice(1)} Profile" to add more components, suggestions and criticisms.
              else
                h3 Name your idea before starting the process of generating a provisional patent application template.
            br

          .modal-footer
            .row
              .col-md-6.text-center
                if idea.name
                  button#bypass-application-button.btn.btn-info(data-toggle="modal" data-target="#confirmExposeIdeaModal") Publicly Expose #{idea.name.charAt(0).toLowerCase() + idea.name.slice(1)} Now
              .col-md-6.text-center
                if idea.name
                  a.btn-go#enterMoreInformation.btn.btn-info(data-dismiss="modal") Strengthen #{idea.name.charAt(0).toLowerCase() + idea.name.slice(1)} Profile


  #confirmExposeIdeaModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            .row
              .col-md-2.text-bottom
                i.fa.fa-exclamation-triangle.fa-5x(style='color:red', aria-hidden='true')
              .col-md-10
                h1 Are you sure? 
        .modal-body
          h4 By making #{idea.name.charAt(0).toLowerCase() + idea.name.slice(1)} available for everyone to see, someone might copy and steal your idea. 
          h4 Are you sure you want to expose your #{idea.name.charAt(0).toLowerCase() + idea.name.slice(1)} and make it public before obtaining patent pending status?
          .modal-footer
            .row
              br
              .col-md-6
                if hasActiveMembership
                  a.btn.btn-go#file-patent(data-toggle="modal" data-target="#filePatentModal") Generate Patent Application for #{idea.name.charAt(0).toLowerCase() + idea.name.slice(1)}
                else
                  a.btn.btn-go#purchase-patent-application-button(href="/membership-options") Generate Patent Application for #{idea.name.charAt(0).toLowerCase() + idea.name.slice(1)}
              .col-md-6
                button#exposeIdeaNow.btn.btn-info Yes, Expose #{idea.name.charAt(0).toLowerCase() + idea.name.slice(1)} Now!

  button(type="button" id="titleModalButton" style="display:none;" class="btn btn-primary" data-toggle="modal" data-target="#titleModal") Go Win Fight

  #shareModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            h2 Share Your Idea
        .modal-body
          form(role='form', id="shareForm" action="/share-idea", method="post", style='max-width: 300px;')
            .form-group
              input#toEmailAddress.form-control(type="email", name="toEmailAddress" placeholder="To:" required)
              input#fromEmailAddress.form-control(type="email", name="fromEmailAddress" placeholder="From:" required)
              input#emailSubject.form-control(type="text", name="emailSubject" placeholder="Subject:" required)
              textarea#emailBody.form-control(type="text", name="emailBody" placeholder="Body: (Include a link here!)" required)
              input(type="hidden", name="_csrf", value="#{csrfToken}")
              button.btn.btn-info(data-dismiss="modal") Cancel
              button.btn.btn-success#emailSend(type='submit') Send
                img.einstein-point-btn-icon(src="/single-einstein-point.png")
  #inviteCollaboratorsModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            h2 Invite up to 6 Collaborators
        .modal-body
          form(role='form', id="inviteForm" action="/invite-collaborators", method="post")
            .form-group
              h3 Accepted Non-disclosure Agreement
              each collaborator, index in idea.collaborators
                .row
                  .col-xs-12 
                    h4 #{index + 1} : #{collaborator}
              - for (var i = 0; i < 6 - idea.collaborators.length; ++i) {
                .row
                  .col-xs-12 
                    input.form-control.collaboratorEmail(type="text" name="#{i}" placeholder="To:")
              - }
              input(type="hidden", name="_csrf", value="#{csrfToken}")
              button.btn.btn-success.btn-lg.btn-block#inviteCollaboratorSend(type='submit') Send
              button.btn.btn-info.btn-lg.btn-block(data-dismiss="modal") Cancel
  button(type="button" id="titleModalButton" style="display:none;" class="btn btn-primary" data-toggle="modal" data-target="#titleModal") Go Win Fight

  include ../../partials/js-includes.jade
  script(src='/exif.js')
  script(type="text/javascript").
    var viabilitySliderWidth = $(".slide-content").width();
    $(".viability-slide-wrapper > div").attr("style", "width:" + viabilitySliderWidth + "px;");
    //twice the left-right margin on desktop size sliders
    viabilitySliderWidth += 30;
    $(".viabilty-slider-right-arrow").click(function(event){
      $.each($(".problem-slide").filter(":visible"),function(index, element){
        $(element).siblings(".scoring-stars").animate({
          "marginTop" : "+=10em",
          "width" : "100%"
        }, 500)
        $(element).siblings(".viability-labels").removeClass("hidden");
        $(element).hide()
      });
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: '+=' + viabilitySliderWidth}, 400);
    });

    $(".viabilty-slider-left-arrow").click(function(event){
      $.each($(".problem-slide").filter(":visible"),function(index, element){
        $(element).siblings(".scoring-stars").animate({
          "marginTop" : "+=10em;",
          "width" : "100%"
        }, 500)
        $(element).siblings(".viability-labels").removeClass("hidden");
        $(element).hide()
      });
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: '-=' + viabilitySliderWidth}, 400);
    });

    $("a.slide-icon-one").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-two").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 2 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-three").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 3 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-four").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 4 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-five").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 5 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-six").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 6 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-seven").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 7 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-eight").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 8 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-nine").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 8 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-ten").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 10 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-eleven").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 11 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-twelve").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 12 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-thirteen").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 13 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-fourteen").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 14 * viabilitySliderWidth}, 400);
    })
    $("a.slide-icon-fifteen").click(function(event){
      $('#add-viability-scores-row .slide-content').animate( { scrollLeft: 15 * viabilitySliderWidth}, 400);
    })
    $(".individualProblemSubmit").click(function(event){
      event.preventDefault();
      if ($(this).siblings(".problemStatement").val().length > 15){
        var newProblemStatement = $(this).siblings(".problemStatement").val().trim();
        $.post('/add-idea-problem', 
          {
            _csrf : $('[name="_csrf"]').val(),
            problemStatement : newProblemStatement.slice(15),
            problemArea : $("#problemArea option:selected").text(),
          },
          function(resp) {
            window.location.href= "/ideas/!{idea.name}/edit?r="+(new Date())+"#add-imperfections-row";
          });
      }
    });
    $(".problemSubmit").click(function(event){
      event.preventDefault();

      var problemText = $(this).siblings("textarea").val();

      if(problemText == "The problem is "){
        $(".viabilty-slider-right-arrow").click();
      } else if (problemText.length > 15){
        var newProblemStatement = problemText.trim();
        $.post('/add-idea-problem', 
          {
            _csrf : $('[name="_csrf"]').val(),
            problemStatement : newProblemStatement.slice(15),
            problemArea : $(this).siblings("input.problemArea").val()
          },
          function(resp) {
            $(".viabilty-slider-right-arrow").click();
          });
      } else {
        $(".viabilty-slider-right-arrow").click();
      }
    });

    $(".problemContinue").click(function(event){
      event.preventDefault();
      $(".problem-slide").filter(":visible").each(function(){
        $(this).siblings(".scoring-stars").animate({"marginTop": "+=10em", "width" : "100%"}, 500) 
        $(this).siblings(".viability-labels").removeClass("hidden");
        $(this).hide(500);
      })

    })
    $("#componentSubmit").click(function(event){
      event.preventDefault();

      if($("#componentName").val() == "The ..." || $("#componentName").val() == "The "){
        $("#addComponentModal").modal('hide');
      } else {
        var newComponentName = $("#componentName").val().trim();
        var newComponentDescr;

        var data = {
            _csrf : $('[name="_csrf"]').val(),
            componentName : newComponentName.slice(4)
        };

        if($("#componentDescription").val().length > "This component is described as ".length){
          newComponentDescr = $("#componentDescription").val().trim();
          data['componentDescription'] = newComponentDescr.slice("This component is described as ".length)
        }

        $.post('/add-idea-component', 
          data,
          function(data, response) {
            window.location.href= "/ideas/!{idea.name}/edit?r="+(new Date())+"#add-components-row";
          });      
      }
    });
    // This is for the problem input
    var inputProb = $(".problem-slide form textarea");
    var requiredProbText = "The problem is ";
    $.each(inputProb, function(index, value){
      value.addEventListener ("mousedown", function () {
        if (String($(this).val()).indexOf(requiredProbText) == -1) {
              $(this).val(requiredProbText);
        }
        if (this.selectionStart < 15) {
          this.selectionStart = 15;
        }
      }, false);

      value.addEventListener ("keydown", function () {
        if (String($(this).val()).indexOf(requiredProbText) == -1) {
              $(this).val(requiredProbText);
        }
        if (this.selectionStart < 15) {
          this.selectionStart = 15;
        }
      }, false);
    })

    // This is for the first text input field in the add component modal
    var inputOne = $("#addIdeaComponent input#componentName")[0];
    var requiredCompTextOne = "The "
    $("#addIdeaComponent .compNameCharRemaining").text((200) + " characters remaining");
    inputOne.addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredCompTextOne) == -1 || String($(this).val()) == "The ...") {
            $(this).val(requiredCompTextOne);
      }
      if (this.selectionStart < requiredCompTextOne.length) {
        this.selectionStart = requiredCompTextOne.length;
      }
    }, false);

    inputOne.addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredCompTextOne) == -1 || String($(this).val()) == "The ...") {
            $(this).val(requiredCompTextOne);
      }
      if (this.selectionStart < requiredCompTextOne.length) {
        this.selectionStart = requiredCompTextOne.length;
      }
      $("#addIdeaComponent input#componentName").keyup(function(){
        $("#addIdeaComponent .compNameCharRemaining").text((200 + requiredCompTextOne.length - $(this).val().length) + " characters remaining");
      });
    }, false);

    // This is for the second text input field in the add component modal
    var inputTwo = $("#addIdeaComponent input#componentDescription")[0];
    var requiredCompTextTwo = "This component is described as "
    $("#addIdeaComponent .compDescrCharRemaining").text((200) + " characters remaining");
    inputTwo.addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredCompTextTwo) == -1) {
            $(this).val(requiredCompTextTwo);
      }
      if (this.selectionStart < "This component is described as ".length) {
        this.selectionStart = "This component is described as ".length;
      }
    }, false);

    inputTwo.addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredCompTextTwo) == -1) {
            $(this).val(requiredCompTextTwo);
      }
      if (this.selectionStart < "This component is described as ".length) {
        this.selectionStart = "This component is described as ".length;
      }
      $("#addIdeaComponent input#componentDescription").keyup(function(){
        $("#addIdeaComponent .compDescrCharRemaining").text((200 + requiredCompTextTwo.length - $(this).val().length) + " characters remaining");
      });
    }, false);

    $(document).on('click', '.next-step a', function(event){
        event.preventDefault();

        $('html, body').animate({
            scrollTop: $( $.attr(this, 'href') ).offset().top
        }, 500);
    });

    $(document).on('click', '#score-now-button', function(event){
        event.preventDefault();

        $('html, body').animate({
            scrollTop: $( $.attr(this, 'href') ).offset().top
        }, 500);
    });

    $(".scoring-stars img").click(function(event){
      var scoreClass = "",
          saveScoreRoute = "",
          scoreName = "",
          problemName = "",
          iconClass = "",
          slideClass = "";

      if($(this).hasClass("performability-star")){
        scoreClass = "performability-star";
        saveScoreRoute = "/performability-mobile";
        scoreName = "performOne";
        problemName = "performProblem";
        iconClass = "performability-icon";
        slideClass = "performability-slide";

      } else if($(this).hasClass("affordability-star")){
        scoreClass = "affordability-star";
        saveScoreRoute = "/affordability-mobile";
        scoreName = "affordOne";
        problemName = "affordProblem";
        iconClass = "affordability-icon";
        slideClass = "affordability-slide";

      } else if($(this).hasClass("featurability-star")){
        scoreClass = "featurability-star";
        saveScoreRoute = "/featurability-mobile";
        scoreName = "featureOne";
        problemName = "featureProblem";
        iconClass = "featurability-icon";
        slideClass = "featurability-slide";

      } else if($(this).hasClass("deliverability-star")){
        scoreClass = "deliverability-star";
        saveScoreRoute = "/deliverability-mobile";
        scoreName = "deliverOne";
        problemName = "deliverProblem";
        iconClass = "deliverability-icon";
        slideClass = "deliverability-slide";

      } else if($(this).hasClass("useability-star")){
        scoreClass = "useability-star";
        saveScoreRoute = "/useability-mobile";
        scoreName = "useabilityOne";
        problemName = "useabilityOne";
        iconClass = "useability-icon";
        slideClass = "useability-slide";

      } else if($(this).hasClass("maintainability-star")){
        scoreClass = "maintainability-star";
        saveScoreRoute = "/maintainability-mobile";
        scoreName = "maintainOne";
        problemName = "maintainOne";
        iconClass = "maintainability-icon";
        slideClass = "maintainability-slide";

      } else if($(this).hasClass("durability-star")){
        scoreClass = "durability-star";
        saveScoreRoute = "/durability-mobile";
        scoreName = "durabilityOne";
        problemName = "durabilityOne";
        iconClass = "durability-icon";
        slideClass = "durability-slide";

      } else if($(this).hasClass("imageability-star")){
        scoreClass = "imageability-star";
        saveScoreRoute = "/imageability-mobile";
        scoreName = "imageOne";
        problemName = "imageProblem";
        iconClass = "imageability-icon";
        slideClass = "imageability-slide";

      } else if($(this).hasClass("complexity-star")){
        scoreClass = "complexity-star";
        saveScoreRoute = "/complexity-mobile";
        scoreName = "complexOne";
        problemName = "complexProblem";
        iconClass = "complexity-icon";
        slideClass = "complexity-slide";

      } else if($(this).hasClass("precision-star")){
        scoreClass = "precision-star";
        saveScoreRoute = "/precision-mobile";
        scoreName = "precisionOne";
        problemName = "precisionProblem";
        iconClass = "precision-icon";
        slideClass = "precision-slide";

      } else if($(this).hasClass("variability-star")){
        scoreClass = "variability-star";
        saveScoreRoute = "/variability-mobile";
        scoreName = "variabilityOne";
        problemName = "variabilityProblem";
        iconClass = "variability-icon";
        slideClass = "variability-slide";

      } else if($(this).hasClass("sensitivity-star")){
        scoreClass = "sensitivity-star";
        saveScoreRoute = "/sensitivity-mobile";
        scoreName = "sensitivityOne";
        problemName = "sensitivityProblem";
        iconClass = "sensitivity-icon";
        slideClass = "sensitivity-slide";

      } else if($(this).hasClass("immaturity-star")){
        scoreClass = "immaturity-star";
        saveScoreRoute = "/immaturity-mobile";
        scoreName = "immatureOne";
        problemName = "immatureProblem";
        iconClass = "immaturity-icon";
        slideClass = "immaturity-slide";

      } else if($(this).hasClass("dangerous-star")){
        scoreClass = "dangerous-star";
        saveScoreRoute = "/dangerous-mobile";
        scoreName = "dangerOne";
        problemName = "dangerProblem";
        iconClass = "dangerous-icon";
        slideClass = "dangerous-slide";

      } else if($(this).hasClass("skills-star")){
        scoreClass = "skills-star";
        saveScoreRoute = "/skills-mobile";
        scoreName = "skillsOne";
        problemName = "skillsProblem";
        iconClass = "skills-icon";
        slideClass = "skills-slide";

      }

      if( $(this).hasClass("star-one") ){
        $("img.star-one." + scoreClass).addClass("scored");
        $("img.star-two." + scoreClass).removeClass("scored");
        $("img.star-three." + scoreClass).removeClass("scored");
        $("img.star-four." + scoreClass).removeClass("scored");
        $("img.star-five." + scoreClass).removeClass("scored");

        $("." + iconClass).addClass("scored");

        var data = {_csrf : $('[name="_csrf"]').val()};
        data[scoreName] = 20;
        data[problemName] = "";

        $.post(saveScoreRoute, data);

        $(this).parent().parent().animate({"marginTop": "-=10em", "width" : "40%"}, 500)
        $(this).parent().parent().siblings(".viability-labels").addClass("hidden");
        $(this).parent().parent().siblings($(".problem-slide")).show(500);

      } else if ($(this).hasClass("star-two") ){
        $("img.star-one." + scoreClass).addClass("scored");
        $("img.star-two." + scoreClass).addClass("scored");
        $("img.star-three." + scoreClass).removeClass("scored");
        $("img.star-four." + scoreClass).removeClass("scored");
        $("img.star-five." + scoreClass).removeClass("scored");

        $("." + iconClass).addClass("scored");

        var data = {_csrf : $('[name="_csrf"]').val()};
        data[scoreName] = 40;
        data[problemName] = "";

        $.post(saveScoreRoute, data);

        $(".viabilty-slider-right-arrow").click();

      } else if ($(this).hasClass("star-three") ){
        $("img.star-one." + scoreClass).addClass("scored");
        $("img.star-two." + scoreClass).addClass("scored");
        $("img.star-three." + scoreClass).addClass("scored");
        $("img.star-four." + scoreClass).removeClass("scored");
        $("img.star-five." + scoreClass).removeClass("scored");

        $("." + iconClass).addClass("scored");

        var data = {_csrf : $('[name="_csrf"]').val()};
        data[scoreName] = 60;
        data[problemName] = "";

        $.post(saveScoreRoute, data);

        $(".viabilty-slider-right-arrow").click();

      } else if ($(this).hasClass("star-four") ){
        $("img.star-one." + scoreClass).addClass("scored");
        $("img.star-two." + scoreClass).addClass("scored");
        $("img.star-three." + scoreClass).addClass("scored");
        $("img.star-four." + scoreClass).addClass("scored");
        $("img.star-five." + scoreClass).removeClass("scored");

        $("." + iconClass).addClass("scored");

        var data = {_csrf : $('[name="_csrf"]').val()};
        data[scoreName] = 80;
        data[problemName] = "";

        $.post(saveScoreRoute, data);

        $(".viabilty-slider-right-arrow").click();

      } else if ($(this).hasClass("star-five") ){
        $("img.star-one." + scoreClass).addClass("scored");
        $("img.star-two." + scoreClass).addClass("scored");
        $("img.star-three." + scoreClass).addClass("scored");
        $("img.star-four." + scoreClass).addClass("scored");
        $("img.star-five." + scoreClass).addClass("scored");

        $("." + iconClass).addClass("scored");

        var data = {_csrf : $('[name="_csrf"]').val()};
        data[scoreName] = 100;
        data[problemName] = "";

        $.post(saveScoreRoute, data);

        $(".viabilty-slider-right-arrow").click();

      }

    });

    $("#upload-image-next-btn").click(function(event){
      event.preventDefault();

      var data = {
        _csrf : $('[name="_csrf"]').val(),
        newEditingSection : "annotate-images-row",
        ideaName : "!{idea.name}"
      }

      $.post("/add-idea-editing-section", data, function(data, response){
        window.location.href= "/ideas/!{idea.name}/edit?r="+(new Date())+"#annotate-images-row";
      });

    });

    $("#annotate-image-next-btn").click(function(event){
      event.preventDefault();

      var data = {
        _csrf : $('[name="_csrf"]').val(),
        newEditingSection : "add-components-row",
        ideaName : "!{idea.name}"
      }

      $.post("/add-idea-editing-section", data, function(data, response){
        window.location.href= "/ideas/!{idea.name}/edit?r="+(new Date())+"#add-components-row";
      });
    });    

    $("#add-components-next-btn").click(function(event){
      event.preventDefault();

      var data = {
        _csrf : $('[name="_csrf"]').val(),
        newEditingSection : "add-aptitudes-row",
        ideaName : "!{idea.name}"
      }

      $.post("/add-idea-editing-section", data, function(data, response){
        window.location.href= "/ideas/!{idea.name}/edit?r="+(new Date())+"#add-aptitudes-row";
      });
    });    

    $("#add-aptitudes-next-btn").click(function(event){
      event.preventDefault();

      var data = {
        _csrf : $('[name="_csrf"]').val(),
        newEditingSection : "add-viability-scores-row",
        ideaName : "!{idea.name}"
      }

      $.post("/add-idea-editing-section", data, function(data, response){
        window.location.href= "/ideas/!{idea.name}/edit?r="+(new Date())+"#add-viability-scores-row";
      });
    });    

    $("#add-viability-next-btn").click(function(event){
      event.preventDefault();

      var data = {
        _csrf : $('[name="_csrf"]').val(),
        newEditingSection : "add-imperfections-row",
        ideaName : "!{idea.name}"
      }

      $.post("/add-idea-editing-section", data, function(data, response){
        window.location.href= "/ideas/!{idea.name}/edit?r="+(new Date())+"#add-imperfections-row";
      });
    });    


    $("#beginScoring").click(function(event){
      $(".viabilty-slider-right-arrow").click();
    });    