doctype html
html
  head
    include ../../partials/head.jade
  body
  .header.navbar.navbar-default
    include ../../partials/header.jade

  .container-fluid
    .row
      h1.col-md-12 You must connect a bank account using stripe before funding your campaign
    .row
      .col-sm-4
        input(type="hidden", name="_csrf", value="#{csrfToken}")
        a.btn.btn-go.btn-lg.btn-block(
          role="button",
          href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_9OlT45SGxkgo9IZRVSPKQurtNPmSo3qH&scope=read_write&state=#{user.username},#{csrfToken}"
        ) Connect with Stripe
