doctype html
html
  head
    include ../../partials/head.jade
  body
  .header.navbar.navbar-default
    include ../../partials/header.jade

  .container-fluid.pagecontentblock
    .row.text-center
      .col-xs-12
        h1 Fund #{idea.name.charAt(0).toUpperCase() + idea.name.slice(1)}!
      .col-xs-12
        h3.fundSubHeader solves the <span class="problemColor">problem of #[a(href='/introduce-idea') #{idea.problem}]</span> by #[a(href='/accomplish') <span class="solutionColor">#{idea.description}]</span>
    .row.text-center
      .col-md-offset-3.col-md-2.col-sm-offset-2.col-sm-3.col-xs-offset-0.col-xs-3
        h2 #{campaign.payments.length}&nbsp;
          small.campaignStats funders
      .col-md-2.col-sm-offset-0.col-sm-3.col-xs-offset-0.col-xs-6
        h2 $#{funderTotalPayments}&nbsp;
          small.campaignStats raised of $#{campaign.goal}
      .col-md-2.col-sm-offset-0.col-sm-3.col-xs-offset-0.col-xs-3
        - var timeLeft = campaign.timeRemaining()
        h2 #{timeLeft.time}
          small.campaignStats #{timeLeft.units} left
    .row
      .col-sm-offset-2.col-sm-8
        h4 Prizes
        input(type="hidden", name="_csrf", value="#{csrfToken}")
      each prize, index in prizes
        .col-xs-12.col-sm-8.col-sm-offset-2
          button.btn.btn-default.btn-block.purchaseButton(cost=prize.cost prizeId=prize._id data-dismiss="modal")
            div.row
              h3.col-xs-12.prizeHeader $#{prize.cost} #{prize.name}
              if prize.imageUrl
                img.col-xs-4.col-sm-4.col-md-3.img-responsive(src=prize.imageUrl)
              p.col-xs-12.col-sm-8.col-md-9.prizeDesc #{prize.description}
              div.col-xs-12
                p.btn.btn-go.btn-block.purchasePrize GET THIS PRIZE!
  .pagefooter
    include ../../partials/footer.jade

  include ../../partials/js-includes.jade
  script(src='https://checkout.stripe.com/checkout.js')
  script(type="text/javascript").

    $(document).ready(function(){
      var handler = StripeCheckout.configure({
        key: 'pk_test_5T5pBn30fpwettn3jKAVBZ2q',
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        token: function (token) {
          $.post('/ideas/#{idea.name}/campaign/stripe-payment',
                  {
                    _csrf: $('[name="_csrf"]').val(),
                    tokenId: token.id
                  },
                  function (resp) {
                    handler.close();
                  },
                  "application/json");
        }
      });

      $(".purchaseButton").click(function(e){
        var cost = $(e.currentTarget).attr('cost');
        var prizeId = $(e.currentTarget).attr('prizeId');

        handler.open({
          name: 'ideaJam',
          description: 'Fund this idea at $' + cost,
          amount: parseInt(cost) * 100,
          zipCode: true,
          token: function (token) {
                $.post('/ideas/#{idea.name}/campaign/stripe-payment',
                        {
                          _csrf: $('[name="_csrf"]').val(),
                          amount: cost,
                          prizeId: prizeId,
                          tokenId: token.id
                        },
                        function (resp) {
                          handler.close();
                        },
                        "application/json");
              }
        });
        e.preventDefault();
      });

      $("#endCampaign").click(function(e) {
        e.preventDefault();
        $.post('/ideas/#{idea.name}/campaign/fund',
                {
                  _csrf: $('[name="_csrf"]').val()
                },
                function (resp) {
                  handler.close();
                },
                "application/json");
      });

      // Close Checkout on page navigation:
      window.addEventListener('popstate', function () {
        handler.close();
      });
    });
