doctype html
html
  head
    include ../../partials/head.jade
  body
  .header.navbar.navbar-default
    include ../../partials/header.jade

  .container-fluid
    .row.text-center
      .col-xs-12
        h1 Fund #{idea.name.charAt(0).toUpperCase() + idea.name.slice(1)}!
      .col-xs-12
        h3.fundSubHeader solves the <span class="problemColor">problem of #[a(href='/introduce-idea') #{idea.problem}]</span> by #[a(href='/accomplish') <span class="solutionColor">#{idea.description}]</span>
    .row.text-center
      .col-md-offset-3.col-md-2.col-sm-offset-2.col-sm-3.col-xs-offset-0.col-xs-3
        h2 #{campaign.payments.length}&nbsp;
          small.campaignStats funders
      .col-md-2.col-sm-offset-0.col-sm-3.col-xs-offset-0.col-xs-6
        h2 $#{funderTotalPayments}&nbsp;
          small.campaignStats raised of $#{campaign.goal}
      .col-md-2.col-sm-offset-0.col-sm-3.col-xs-offset-0.col-xs-3
        h2 #{timeLeft.time}&nbsp;
          small.campaignStats #{timeLeft.units} left
    .row
      p Rewards: $250
        input(type="hidden", name="_csrf", value="#{csrfToken}")
        button.btn.btn-info.btn-lg(id="openPurchaseRewardsModal" data-dismiss="modal") Purchase
    .row
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      button.btn.btn-info.btn-lg(id="endCampaign") End Campaign

  include ../../partials/js-includes.jade
  script(src='https://checkout.stripe.com/checkout.js')
  script(type="text/javascript").

    $(document).ready(function(){
      var handler = StripeCheckout.configure({
        key: 'pk_test_5T5pBn30fpwettn3jKAVBZ2q',
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        token: function (token) {
          $.post('/ideas/#{idea.name}/campaign/stripe-payment',
                  {
                    _csrf: $('[name="_csrf"]').val(),
                    amount: 25000,
                    tokenId: token.id
                  },
                  function (resp) {
                    handler.close();
                  },
                  "application/json");
        }
      });

      $("#openPurchaseRewardsModal").click(function(e){
        handler.open({
          name: 'ideaJam',
          description: 'Fund this idea at $250',
          amount: 25000,
          zipCode: true
        });
        e.preventDefault();
      });

      $("#endCampaign").click(function(e) {
        e.preventDefault();
        $.post('/ideas/#{idea.name}/campaign/fund',
                {
                  _csrf: $('[name="_csrf"]').val()
                },
                function (resp) {
                  handler.close();
                },
                "application/json");
      });

      // Close Checkout on page navigation:
      window.addEventListener('popstate', function () {
        handler.close();
      });
    });
