doctype html
html
  head
    include ../../partials/head.jade
  body
    .header.navbar.navbar-default
        include ../../partials/header.jade
    .container-fluid.scoreIdea
      .row
        .col-xs-2
          img.viability-icon(src="/" + viabilityIcon + ".png")
        .col-xs-8.viability-title-link
          h2 Affordability
        .col-xs-2
          a.close-viability(href="/view-all-viabilities")
            img(src="/close_button.png" height="30" width="30")
      .row
        form.mobile-viability-form(role='form', id="formAffordability" action="/affordability-mobile", method="post", data-idea-doc=idea)
          input(type="hidden", name="nextLink", value="#{nextLink}")
          input(type="hidden", name="_csrf", value="#{csrfToken}")
          h4 What cost-related problem prevents the #{idea.name} from being more affordable?
          if(currentReviewerProblem)
            textarea.form-control(rows='6', cols="75", name="affordProblem")
              | The problem of #{currentReviewerProblem.text}
          else            
            textarea.form-control(rows='6', cols="75", name="affordProblem")
              | The problem of 
          p (Ex. "The problem of uranium requires you to pay Libyan terrorists millions of dollars to acquire.")
          h4 Existing imperfections for the affordability of #{idea.name}:
          if problems.length > 0
            ul.waste-value-problem-list
              each problem, index in problems
                li
                  h5.problem-text #{index + 1} : #{problem.text}
                  if problem.identifier
                    a.btn.btn-electric.problem-solve-button(href="/imperfection-profile/" + problem.identifier) Solve this!
          else
            p <i>None yet, enter the first one!</i>
          img.ideajam-spinner(src="/IdeaJam-logo.gif" style="display:none;")
          .save-buttons
            button.btn.btn-go.btn-lg Save


  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var input = document.getElementsByTagName ("textarea");

    // This is for the main solution text input
    var requiredText = "The problem of ";
  
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

