doctype html
html
  head
    include ../../partials/head.jade
  body
    .container-fluid.scoreIdea
      .row
        .col-xs-2
          img.viability-icon(src="/" + viabilityIcon + ".png")
        .col-xs-8.viability-title-link
          h2 Complexity
          img(src="/question-mark.png")
        .col-xs-2
          a.close-viability(href="/view-all-viabilities")
            img(src="/close_button.png" height="30" width="30")
      .row
        form.mobile-viability-form(role='form', id="formComplexity" action="/complexity-mobile", method="post", data-idea-doc=idea)
          input(type="hidden", name="_csrf", value="#{csrfToken}")
          h4.mobile-viability-help-text What problem makes the #{idea.name} complicated?
          if(currentReviewerProblem)
            textarea.form-control(rows='6', cols="75", name="complexProblem")
              | The problem of #{currentReviewerProblem.text}
          else            
            textarea.form-control(rows='6', cols="75", name="complexProblem")
              | The problem of 
          h4 Existing imperfections for the complexity of #{idea.name}:
          if problems.length > 0
            ul.waste-value-problem-list
              each problem, index in problems
                li
                  h5.problem-text #{index + 1} : #{problem.text}
                  if problem.identifier
                    a.btn.btn-electric.problem-solve-button(href="/imperfection-profile/" + problem.identifier) Solve this!
          else
            p <i>None yet, enter the first one!</i>
          .save-buttons
            button.btn.btn-success.btn-lg Save


  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var input = document.getElementsByTagName ("textarea");

    // This is for the main solution text input
    var requiredText = "The problem of ";
  
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);


    $(".viability-title-link").click(function(event){
      if($(".mobile-viability-help-text").is(":visible")){
        $(".mobile-viability-help-text").hide(300);
      } else {
        $(".mobile-viability-help-text").show(300);
      }
    });
