doctype html
html
  head
    include ../../partials/head.jade
  body
    .container-fluid.scoreIdea
      .row
        .col-xs-2
        .col-xs-8
          h2 Deliverability
        .col-xs-2
          a.close-viability(href="/view-all-viabilities")
            img(src="/close_button.png" height="30" width="30")
      .row
        h4.viability-question
          | Will the #{idea.name} be ready on demand when and where the user wants it to solve the problem of #{idea.problem}?
        br
        form.mobile-viability-form(role='form', id="formDeliverability" action="/deliverability-mobile", method="post", data-idea-doc=idea)
          input(type="hidden", name="_csrf", value="#{csrfToken}")
          .slider-container
            .slider-end-labels
              span.no-way Unaccessible
              span.yes-way Available
            .sliderLabel
            #slider
          .save-buttons
            button.btn.btn-success.btn-lg Save
            a.btn.btn-success.btn-lg(href='/deliverability-problem') Describe an Imperfection

  
  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue, min=1, max=100, valueEntered = false;
    initialValue = '#{currentReview.deliverOne}' || 50;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#slider").slider({
      value: initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          valueEntered = true;
          $(".sliderLabel").text(labelArr[ui.value]);
          $(".sliderLabel").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $(".sliderLabel").css("left", "-50px");
      }
    });
    $(".sliderLabel").text(labelArr[initialValue]);
    $(".sliderLabel" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $(".sliderLabel").css("left", "-50px");

    $("button.btn-success").click(function(event){
      if(valueEntered){
        var sliderOneValue = $("#slider").slider("value");
        var inputOne = $("<input>")
               .attr("type", "hidden")
               .attr("name", "deliverSliderOneValue").val(sliderOneValue);
        $('#formDeliverability').append($(inputOne)).submit();
      } else {
        $('#formDeliverability').submit();
      }
    });
