doctype html
html
  head
    include ../../partials/head.jade
  body
    .container-fluid.scoreIdea
      .row
        .col-xs-2
          img.viability-icon(src="/" + viabilityIcon + ".png")
        .col-xs-8
          h2 Featurability
        .col-xs-2
          a.close-viability(href="/view-all-viabilities")
            img(src="/close_button.png" height="30" width="30")
      .row
        form.mobile-viability-form(role='form', id="formFeaturability" action="/featurability-mobile", method="post", data-idea-doc=idea)
          h4.viability-question
            | Will the #{idea.name} provide enough added benefit to solve the problem of #{idea.problem}?
          br
          input(type="hidden", name="_csrf", value="#{csrfToken}")
          .slider-container
            .slider-end-labels
              span.no-way Bland
              span.yes-way Multifaceted
            .sliderLabel
            #slider
          .save-buttons
            a.btn.btn-industry.btn-lg(href='/featurability-problem') Describe an Imperfection
            button.btn.btn-success.btn-lg Save

  
  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue, min=1, max=100, valueEntered = false;
    initialValue = '#{currentReview.featureOne}' || 50;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#slider").slider({
      value: initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          valueEntered = true;
          $(".sliderLabel").text(labelArr[ui.value]);
          $(".sliderLabel").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $(".sliderLabel").css("left", "-50px");
      }
    });
    $(".sliderLabel").text(labelArr[initialValue]);
    $(".sliderLabel" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $(".sliderLabel").css("left", "-50px");

    $("button.btn-success").click(function(event){
      if(valueEntered){
        var sliderOneValue = $("#slider").slider("value");
        var inputOne = $("<input>")
               .attr("type", "hidden")
               .attr("name", "featureSliderOneValue").val(sliderOneValue);
        $('#formFeaturability').append($(inputOne)).submit();
      } else {
        $('#formFeaturability').submit();
      }
    });
