doctype html
html
  head
    include ../../partials/head.jade
  body
    .header.navbar.navbar-default
        include ../../partials/header.jade
    .container-fluid.scoreIdea
      .row
        .col-xs-2
          img.viability-icon(src="/" + viabilityIcon + ".png")
        .col-xs-8.viability-title-link
          h2 Imageability
          img(src="/question-mark.png")
        .col-xs-2
          a.close-viability(href="/view-all-viabilities")
            img(src="/close_button.png" height="30" width="30")
      .row
        form.mobile-viability-form(role='form', id="formImageability" action="/imageability-mobile", method="post", data-idea-doc=idea)
          h4.viability-question.mobile-viability-help-text
            | Will #{idea.name} convey an image of quality and prestige when solving the problem of #{idea.problem}?
          br
          input(type="hidden", name="nextLink", value="#{nextLink}")
          input(type="hidden", name="_csrf", value="#{csrfToken}")
          .slider-container
            .slider-end-labels
              span.no-way Undesirable
              span.yes-way Appealing
            .sliderLabel
            #slider.value-score
          .save-buttons
            .row
              a.btn.btn-industry.btn-lg Describe an Imperfection
            .row.done-button(style="display:none;")
              .col-xs-12
                button.btn.btn-go.btn-lg(type="button") Done!
            .row.done-message(style="display:none;")
              h4 Thanks for your feedback! You can continue to score more categories or go back to #{idea.name}'s page:
            .row.scoring-buttons
              .col-xs-6
                img.ideajam-spinner(src="/IdeaJam-logo.gif" style="display:none;")
                button.btn.btn-vision.btn-lg #{bailButtonText}
              .col-xs-6
                img.ideajam-spinner(src="/IdeaJam-logo.gif" style="display:none;")
                button.btn.btn-go.btn-lg Skip

  
  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue, min=1, max=100, valueEntered = false;
    initialValue = '#{currentReview.imageOne}' || 50;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#slider").slider({
      value: initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          valueEntered = true;
          $(".save-buttons .scoring-buttons .btn-go").text("#{nextButtonText}");
          $(".sliderLabel").text(labelArr[ui.value]);
          $(".sliderLabel").css("margin-left", (ui.value +2-min)/(max-min)*100+"%");
          $(".sliderLabel").css("left", "-50px");
      }
    });

    if( "#{nextButtonText}" == "Done!" ){
      $(".row.scoring-buttons").hide();
      $(".row.done-button").show();

      $(".row.done-button .btn-go").click(function(event){
        $(".save-buttons .scoring-buttons .btn-go").text("Yes I'm done.");
        $(".row.done-message").show(300);
        $(".row.scoring-buttons").show(300);
      });
    }
    
    if('#{currentReview.imageOne}' != ""){
      $(".save-buttons .scoring-buttons .btn-go").text("#{nextButtonText}");
      $(".sliderLabel").text(labelArr[initialValue]);
      $(".sliderLabel" ).css("margin-left", (initialValue  -1 + 2)/(max-min)*100+"%");
      $(".sliderLabel").css("left", "-50px");
    }

    $('#slider').draggable();

    $(".scoring-buttons button.btn-go").click(function(event){
      if(valueEntered){
        var sliderOneValue = $("#slider").slider("value");
        var inputOne = $("<input>")
               .attr("type", "hidden")
               .attr("name", "imageabilitySliderOneValue").val(sliderOneValue);
        $('#formImageability').append($(inputOne)).submit();
      } else {
        $('#formImageability').submit();
      }
    });

    $("a.btn.btn-industry.btn-lg").click(function(event){
      event.preventDefault();
      
      if(valueEntered){
        $.post('/imageability-mobile', 
        {
          _csrf : $('[name="_csrf"]').val(),
          "nextLink" : $("[name='nextLink']").val(),
          "imageabilitySliderOneValue" : $("#slider").slider("value")
        },
        function(data, response) {
          window.location = '/imageability-problem';
        });
      } else {
        window.location = '/imageability-problem';
      }
    })

    
    $(".viability-title-link").click(function(event){
      if($(".mobile-viability-help-text").is(":visible")){
        $(".mobile-viability-help-text").hide(300);
      } else {
        $(".mobile-viability-help-text").show(300);
      }
    });

    $(".scoring-buttons .btn.btn-vision").click(function(event){
      event.preventDefault();
      window.location = '/view-all-viabilities';
    })

