doctype html
html
  head
    include ../../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Affordability
    h4 
      | Can users afford to buy and can you afford to produce [user-entered product]?
    br
    form(role='form', id="formAffordability" action="/affordability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way Expensive
          span.yes-way Affordable 
        #affordLabelOne.sliderLabel
        #affordSliderOne
      br
      h4 What keeps the cost of [user-entered product] above what it could be?
      textarea.form-control(rows='6', cols="75", name="affordProblem", placeholder='Describe the problem...')
        if reviewing && idea.affordProblem
          | #{idea.affordProblem}
      br
      if reviewing
        a(href="/contributor-idea-summary").btn.btn-info View All
      else
        a(href="/idea-summary").btn.btn-info View All
      |  
      button.btn.btn-success Continue >
      br
      br
      h3 Einstein Points: #{user.einsteinPoints}


  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue, min=1, max=100, valueEntered = false;
    initialValue = '#{idea.affordOne}' || 50;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#affordSliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          valueEntered = true;
          $("#affordLabelOne").text(labelArr[ui.value]);
          $("#affordLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#affordLabelOne").css("left", "-50px");
      }
    });
    $("#affordLabelOne").text(labelArr[initialValue]);
    $("#affordLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#affordLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      if(valueEntered){
        var sliderOneValue = $("#affordSliderOne").slider("value");
        var inputOne = $("<input>")
               .attr("type", "hidden")
               .attr("name", "affordSliderOneValue").val(sliderOneValue);
        $('#formAffordability').append($(inputOne)).submit();
      } else {
        $('#formAffordability').submit();
      }
    });