doctype html
html
  head
    include ../../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Complexity
    h4 
      | Will #{idea.name} require a large number of steps to produce, assemble, ship or use?
    br
    form(role='form', id="formComplexity" action="/complexity", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way Simple
          span.yes-way Highly Complex
        #complexityLabelOne.sliderLabel
        #complexitySliderOne
      br
      h4 What prevents further simplification of #{idea.name}?
      textarea.form-control(rows='6', cols="75", name="complexProblem", placeholder='Describe the problem...')
        if reviewing && idea.complexProblem
          | #{idea.complexProblem}
      br
      if reviewing
        a(href="/contributor-idea-summary").btn.btn-info View All
      else
        a(href="/idea-summary").btn.btn-info View All
      |  
      |  
      button.btn.btn-success Continue >
      br
      br
      h3 Einstein Points: #{user.einsteinPoints}
      

  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue, min=1, max=100, valueEntered=false;
    initialValue = '#{idea.complexOne}' || 50;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#complexitySliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          valueEntered=true;
          $("#complexityLabelOne").text(labelArr[ui.value]);
          $("#complexityLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#complexityLabelOne").css("left", "-50px");
      }
    });
    $("#complexityLabelOne").text(labelArr[initialValue]);
    $("#complexityLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#complexityLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      if(valueEntered){
        var sliderOneValue = $("#complexitySliderOne").slider("value");
        var inputOne = $("<input>")
                 .attr("type", "hidden")
                 .attr("name", "complexSliderOneValue").val(sliderOneValue);
        $('#formComplexity').append($(inputOne)).submit();
      } else {
        $('#formComplexity').submit();
      }
    });