doctype html
html
  head
    include ../../partials/head.jade
  body

  div.scoreIdea(class='modalContainer')
    h1 Complexity
    h4 
      | Will #{idea.name} require a large number of steps to produce, assemble, ship or use?
    br
    form(role='form', id="formComplexity" action="/complexity", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way Simple
          span.yes-way Highly Complex
        #complexityLabelOne.sliderLabel
        #complexitySliderOne
      br
      h4 Recorded problems for Complexity:
      ul.waste-value-problem-list
        each problem, index in problems
          li
            h4 #{index + 1} : #{problem.text}
      br
      h4 What problem prevented you from rating your #{idea.name} better?
      textarea.form-control(rows='6', cols="75", name="complexProblem")
        | The problem of 
      br
      h3 Einstein Points: #{user.einsteinPoints}
      

  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var input = document.getElementsByTagName ("textarea");

    // This is for the main solution text input
    var requiredText = "The problem of "
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);
    