doctype html
html
  head
    include ../../partials/head.jade
  body
  div.scoreIdea(class='modalContainer')
    img.viability-question-icon(src='/question-mark.png' height="40" width="40")
    h4.viability-question(style="display:none;")
      | Will the #{idea.name} require human or environmental protections to reduce potential harm?
    br
    form(role='form', id="formDangerous" action="/dangerous", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way Harmless
          span.yes-way Highly Dangerous to humans or the enviornment
        #dangerousLabelOne.sliderLabel
        #dangerousSliderOne
      br
      h4 What problem with the #{idea.name} makes it more dangerous than necessary?
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      textarea.form-control(rows='6', cols="75", name="dangerProblem")
        | The problem of 
      br
      if problems.length > 0
        h4 Recorded problems for danger:
        ul.waste-value-problem-list
          each problem, index in problems
            li
              h4 #{index + 1} : #{problem.text}
        br

  
  script(type="text/javascript").

    var input = document.getElementsByTagName ("textarea");

    // This is for the main solution text input
    var requiredText = "The problem of "
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    $(".viability-question-icon").click(function(event){
      $(".viability-question").show();
    })    