doctype html
html
  head
    include ../../partials/head.jade
  body
  div.scoreIdea(class='modalContainer')
    h1 Durability
    h4 
      | Is #{idea.name} robust enough to withstand abuse?
    br
    form(role='form', id="formDurability" action="/durability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way Fragile
          span.yes-way Highly Durable
        #durabilityLabelOne.sliderLabel
        #durabilitySliderOne
      br
      if problems.length > 0
        h4 Recorded problems for durability:
        ul.waste-value-problem-list
          each problem, index in problems
            li
              h4 #{index + 1} : #{problem.text}
      br
      h4 What prevents #{idea.name} from being robust enough to withstand abuse?
      textarea.form-control(rows='6', cols="75", name="durabilityProblem")
        | The problem of 
      br
      p (Ex. "The problem of the Delorean's shocks were not designed to withstand the terrain of the wild west desert.")

  
  script(type="text/javascript").
    var input = document.getElementsByTagName ("textarea");

    // This is for the main solution text input
    var requiredText = "The problem of "
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);
    