doctype html
html
  head
    include ../../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Durability
    h4 
      | How well will #{idea.name} withstand abuse and changes in the enviornment? How long will it last? 
    br
    form(role='form', id="formDurability" action="/durability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way Fragile
          span.yes-way Highly Durable
        #durabilityLabelOne.sliderLabel
        #durabilitySliderOne
      br
      h4 What weaknesses cause #{idea.name} to not hold up to repeated use or enviornmental ware?
      textarea.form-control(rows='6', cols="75", name="durabilityProblem", placeholder='Describe the problem...')
        if reviewing && idea.durabilityProblem
          | #{idea.durabilityProblem}
      br
      if reviewing
        a(href="/contributor-idea-summary").btn.btn-info View All
      else
        a(href="/idea-summary").btn.btn-info View All
      |  
      |  
      button.btn.btn-success Continue >
      br
      br
      h3 Einstein Points: #{user.einsteinPoints}

  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue, min=1, max=100, valueEntered=false;
    initialValue = '#{idea.durabilityOne}' || 50;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#durabilitySliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          valueEntered = true;
          $("#durabilityLabelOne").text(labelArr[ui.value]);
          $("#durabilityLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#durabilityLabelOne").css("left", "-50px");
      }
    });
    $("#durabilityLabelOne").text(labelArr[initialValue]);
    $("#durabilityLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#durabilityLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      if(valueEntered){
        var sliderOneValue = $("#durabilitySliderOne").slider("value");
        var inputOne = $("<input>")
                 .attr("type", "hidden")
                 .attr("name", "durabilitySliderOneValue").val(sliderOneValue);
        $('#formDurability').append($(inputOne)).submit();
      } else {
        $('#formDurability').submit();
      }
    });