doctype html
html
  head
    include ../../partials/head.jade
  body
  div.scoreIdea(class='modalContainer')
    img.viability-question-icon(src='/question-mark.png' height="40" width="40")
    h4.viability-question(style="display:none;")
      | Will the #{idea.name} provide enough added benefit to solve the problem of #{idea.problem}?
    br
    form(role='form', id="formFeaturability" action="/featurability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way Few benefits
          span.yes-way Many benefits
        #featureLabelOne.sliderLabel
        #featureSliderOne
      br
      h4 What problem prevents the #{idea.name} from having more features?
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      textarea.form-control(rows='6', cols="75", name="featureProblem")
        | The problem of 
      br
      if problems.length > 0
        h4 Recorded problems for featurability:
        ul.waste-value-problem-list
          each problem, index in problems
            li
              h4 #{index + 1} : #{problem.text}
        br
      p (Ex. "The problem of the Delorean not having automatic locks so that Biff can steal a Gray's Sports Almanac out of the back seat.")

  
  script(type="text/javascript").
    var input = document.getElementsByTagName ("textarea");

    // This is for the main solution text input
    var requiredText = "The problem of "
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    $(".viability-question-icon").click(function(event){
      $(".viability-question").show();
    })    