doctype html
html
  head
    include ../../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Featurability
    h4 
      | Does #{idea.name} incorporate enough features to effectively solve the challenge of [user-entered challenge]?
    br
    form(role='form', id="formFeaturability" action="/featurability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way Not Enough Features
          span.yes-way Sufficient Number of Features
        #featureLabelOne.sliderLabel
        #featureSliderOne
      br
      h4 What features does #{idea.name} lack that would otherwise help it solve the challenge of [user-entered challenge]?
      textarea.form-control(rows='6', cols="75", name="featureProblem", placeholder='Describe the problem...')
        if reviewing && idea.featureProblem
          | #{idea.featureProblem}
      br
      if reviewing
        a(href="/contributor-idea-summary").btn.btn-info View All
      else
        a(href="/idea-summary").btn.btn-info View All
      |  
      |  
      button.btn.btn-success Continue >
      br
      br
      h3 Einstein Points: #{user.einsteinPoints}

  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue, min=1, max=100, valueEntered = false;
    initialValue = '#{idea.featureOne}' || 50;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#featureSliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          valueEntered = true;
          $("#featureLabelOne").text(labelArr[ui.value]);
          $("#featureLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#featureLabelOne").css("left", "-50px");
      }
    });
    $("#featureLabelOne").text(labelArr[initialValue]);
    $("#featureLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#featureLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      if(valueEntered){
        var sliderOneValue = $("#featureSliderOne").slider("value");
        var inputOne = $("<input>")
                 .attr("type", "hidden")
                 .attr("name", "featureSliderOneValue").val(sliderOneValue);
        $('#formFeaturability').append($(inputOne)).submit();
      } else {
        $('#formFeaturability').submit();
      }
    });