doctype html
html
  head
    include ../../partials/head.jade
  body
  div.scoreIdea(class='modalContainer')
    h1 Featurability
    h4 
      | Will #{idea.name} provide added benefits?
    br
    form(role='form', id="formFeaturability" action="/featurability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way Few benefits
          span.yes-way Many benefits
        #featureLabelOne.sliderLabel
        #featureSliderOne
      br
      if problems.length > 0
        h4 Recorded problems for featurability:
        ul.waste-value-problem-list
          each problem, index in problems
            li
              h4 #{index + 1} : #{problem.text}
        br
      h4 What problem associated with #{idea.name} prevents it from providing more benefits?
      textarea.form-control(rows='6', cols="75", name="featureProblem")
        | The problem of 
      br
      p (Ex. "The problem of the Delorean not having automatic locks so that Biff can steal a Gray's Sports Almanac out of the back seat.")

  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var input = document.getElementsByTagName ("textarea");

    // This is for the main solution text input
    var requiredText = "The problem of "
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);
    