doctype html
html
  head
    include ../../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="./avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Imageability
    h4 
      | What is the fundamental image that the invention conveys?
    br
    form(role='form', id="formImageability" action="/imageability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way No Way
          span.yes-way Yes Way
        #imageabilityLabelOne.sliderLabel
        #imageabilitySliderOne
      br
      h4 What kinds of issues prevent having a clear image of the idea?
      textarea.form-control(rows='6', cols="75", name="imageProblem", placeholder='Describe the problem...')
        if idea.imageProblem
          | #{idea.imageProblem}
      br
      a(href="/idea-summary").btn.btn-info View All
      |  
      button.btn.btn-success Continue >
      br
      br
      h3 Einstein Points: #{user.einsteinPoints}

  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue, min=1, max=100, valueEntered = false;
    initialValue = '#{idea.imageOne}' || 50;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#imageabilitySliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          valueEntered = true;
          $("#imageabilityLabelOne").text(labelArr[ui.value]);
          $("#imageabilityLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#imageabilityLabelOne").css("left", "-50px");
      }
    });
    $("#imageabilityLabelOne").text(labelArr[initialValue]);
    $("#imageabilityLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#imageabilityLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      if(valueEntered){
        var sliderOneValue = $("#imageabilitySliderOne").slider("value");
        var inputOne = $("<input>")
                 .attr("type", "hidden")
                 .attr("name", "imageSliderOneValue").val(sliderOneValue);
        $('#formImageability').append($(inputOne)).submit();
      } else {
        $('#formImageability').submit();
      }    
    });