doctype html
html
  head
    include ../../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Immaturity
    h4 
      | Is the techonology or processes in the invention not well understood or not fully proven?
    br
    form(role='form', id="formImmaturity" action="/immaturity", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way No Way
          span.yes-way Yes Way
        #immaturityLabelOne.sliderLabel
        #immaturitySliderOne
      br
      h4 Why can't your idea be accessible to a more wide-ranging audience?
      textarea.form-control(rows='6', cols="75", name="immatureProblem", placeholder='Describe the problem...')
        if idea.immatureProblem
          | #{idea.immatureProblem}
      br
      a(href="/idea-summary").btn.btn-info View All
      |  
      button.btn.btn-success Continue >
      br
      br
      h3 Einstein Points: #{user.einsteinPoints}

  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue, min=1, max=100, valueEntered = false;
    initialValue = '#{idea.immatureOne}' || 50;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#immaturitySliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          valueEntered = true;
          $("#immaturityLabelOne").text(labelArr[ui.value]);
          $("#immaturityLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#immaturityLabelOne").css("left", "-50px");
      }
    });
    $("#immaturityLabelOne").text(labelArr[initialValue]);
    $("#immaturityLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#immaturityLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      if(valueEntered){
        var sliderOneValue = $("#immaturitySliderOne").slider("value");
        var inputOne = $("<input>")
                 .attr("type", "hidden")
                 .attr("name", "immatureSliderOneValue").val(sliderOneValue);
        $('#formImmaturity').append($(inputOne)).submit();
      } else {
        $('#formImmaturity').submit();
      }
    });