doctype html
html
  head
    include ../../partials/head.jade
  body
  div.scoreIdea(class='modalContainer')
    h1 Immaturity
    h4 
      | Will the design, manufacture, or production of #{idea.name} involve new or unproven technology, processes or materials?
    br
    form(role='form', id="formImmaturity" action="/immaturity", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way New, Unproven Design Materials and Processes
          span.yes-way Proven, Established Design Materials and Processes
        #immaturityLabelOne.sliderLabel
        #immaturitySliderOne
      br
      h4 Recorded problems for immaturity:
      ul.waste-value-problem-list
        each problem, index in problems
          li
            h4 #{index + 1} : #{problem.text}
      br
      h4 Add a new immaturity problem:
      textarea.form-control(rows='6', cols="75", name="immatureProblem")
        | The problem of 
      br
      h3 Einstein Points: #{user.einsteinPoints}

  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var input = document.getElementsByTagName ("textarea");

    // This is for the main solution text input
    var requiredText = "The problem of "
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);
    