doctype html
html
  head
    include ../../partials/head.jade
  body
  div.scoreIdea(class='modalContainer')
    form(role='form', id="formPerformability" action="/performability", method="post", style='max-width: 700px;', data-idea-doc=idea)
      h1 Performability
      h4
        | Will #{idea.name}, as it is, perform to solve the [user-entered challenge] in an effective way?
      br
      .slider-container
        .slider-end-labels
          span.no-way Low Performability
          span.yes-way High Performability
        #perfLabelOne.sliderLabel
        #perfSliderOne(name="perfSliderOne")
      br
      h4 Recorded problems for Performability:
      ul.waste-value-problem-list
        each problem, index in problems
          li
            h4 #{index + 1} : #{problem.text}
      br
      h4 Add a new performability problem:
      textarea.form-control(rows='6', cols="75", name="performProblem")
          | The problem of 
      br
      h3 Einstein Points: #{user.einsteinPoints}

  include ../../partials/js-includes.jade
  script(type="text/javascript").

    var input = document.getElementsByTagName ("textarea");

    // This is for the main solution text input
    var requiredText = "The problem of "
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);
    