doctype html
html
  head
    include ../../partials/head.jade
  body
  div.scoreIdea(class='modalContainer')
    form(role='form', id="formPerformability" action="/performability", method="post", style='max-width: 700px;', data-idea-doc=idea)
      h1 Performability
      h4
        | Will #{idea.name}, as it is, perform to solve the problem of #{idea.problem} in an effective way?
      br
      .slider-container
        .slider-end-labels
          span.no-way Performs Poorly
          span.yes-way Performs as Expected
        #perfLabelOne.sliderLabel
        #perfSliderOne(name="perfSliderOne")
      br
      if problems.length > 0
        h4 Performability problems associated with #{idea.name}:
        ul.waste-value-problem-list
          each problem, index in problems
            li
              h4 #{index + 1} : #{problem.text}
        br
      h4 What problem prevented you from rating your #{idea.name} better?
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      textarea.form-control(rows='6', cols="75", name="performProblem")
          | The problem of 
      br
      p (Ex. "The problem of Mr. Fusion only works with uranium or lightning strikes.")  
      h3 Einstein Points: #{user.einsteinPoints}

  
  script(type="text/javascript").

    var input = document.getElementsByTagName ("textarea");

    // This is for the main solution text input
    var requiredText = "The problem of "
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);
    