doctype html
html
  head
    include ../../partials/head.jade
  body

  div.scoreIdea(class='modalContainer')
    h1 Precision
    h4 
      | Will #{idea.name} require specific timing, precise sequence or much practice to effectively solve the problem of #{idea.problem}?
    br
    form(role='form', id="formPrecision" action="/precision", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way Minimal Exactness Necessary
          span.yes-way Definite, Meticulous Precision Required 
        #precisionLabelOne.sliderLabel
        #precisionSliderOne
      br
      h4 Recorded problems for precision:
      ul.waste-value-problem-list
        each problem, index in problems
          li
            h4 #{index + 1} : #{problem.text}
      br
      h4 What problem prevented you from rating your #{idea.name} better?
      textarea.form-control(rows='6', cols="75", name="precisionProblem")
        | The problem of 
      br
      h3 Einstein Points: #{user.einsteinPoints}

  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var input = document.getElementsByTagName ("textarea");

    // This is for the main solution text input
    var requiredText = "The problem of "
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);
    