doctype html
html
  head
    include ../../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="./avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Sensitivity
    h4 
      | How sensitive is it to pieces being easily disturbed or damaged?
    br
    form(role='form', id="formSensitivity" action="/sensitivity", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way No Way
          span.yes-way Yes Way
        #sensitivityLabelOne.sliderLabel
        #sensitivitySliderOne
      br
      h4 What makes your idea so sensitive?
      textarea.form-control(rows='6', cols="75", name="sensitivityProblem", placeholder='Describe the problem...')
        if idea.sensitivityProblem
          | #{idea.sensitivityProblem}
      br
      a(href="/idea-summary").btn.btn-info View All
      |  
      button.btn.btn-success Continue >
      br
      br
      h3 Einstein Points: #{user.einsteinPoints}

  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue, min=1, max=100, valueEntered = false;
    initialValue = '#{idea.sensitivityOne}' || 50;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#sensitivitySliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          valueEntered = true;
          $("#sensitivityLabelOne").text(labelArr[ui.value]);
          $("#sensitivityLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#sensitivityLabelOne").css("left", "-50px");
      }
    });
    $("#sensitivityLabelOne").text(labelArr[initialValue]);
    $("#sensitivityLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#sensitivityLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      if(valueEntered){
        var sliderOneValue = $("#sensitivitySliderOne").slider("value");
        var inputOne = $("<input>")
                 .attr("type", "hidden")
                 .attr("name", "sensitivitySliderOneValue").val(sliderOneValue);
        $('#formSensitivity').append($(inputOne)).submit();
      } else {
        $('#formSensitivity').submit();
      }
    });