doctype html
html
  head
  body
  div.scoreIdea(class='modalContainer')
    img.viability-question-icon(src='/question-mark.png' height="40" width="40")
    h4.viability-question(style="display:none;")
      | Will the #{idea.name} require many specific skills to solve the problem of #{idea.problem}?
    br
    form(role='form', id="formSkills" action="/skills", method="post", style='max-width: 600px;', data-idea-doc=idea)
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      .slider-container
        .slider-end-labels
          span.no-way Easy
          span.yes-way Difficult
        #skillsLabelOne.sliderLabel
        #skillsSliderOne
      br
      h4 What problem with the #{idea.name} forces the mastery of many skills?
      textarea.form-control(rows='6', cols="75", name="skillsProblem")
        | The problem of 
      if problems.length > 0
        h4 Recorded problems for skills:
        ul.waste-value-problem-list
          each problem, index in problems
            li
              h5.problem-text #{index + 1} : #{problem.text}
              if problem.identifier
                  a.btn.btn-go.problem-solve-button(href="/imperfection-profile/" + problem.identifier) Solve this!
      br

  
  script(type="text/javascript").

    var input = document.getElementsByTagName ("textarea");

    // This is for the main solution text input
    var requiredText = "The problem of "
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);
    
    $(".viability-question-icon").click(function(event){
      $(".viability-question").show();
    })