doctype html
html
  head
    include ../../partials/head.jade
  body
  div.scoreIdea(class='modalContainer')
    h1 Useability
    h4 
      | Can #{idea.name} be quickly and easily learned and implemented?
    br
    form(role='form', id="formUseability" action="/useability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way Difficult to Learn
          span.yes-way Easy to Implement
        #useabilityLabelOne.sliderLabel
        #useabilitySliderOne
      br
      if problems.length > 0
        h4 Recorded problems for useability:
        ul.waste-value-problem-list
          each problem, index in problems
            li
              h4 #{index + 1} : #{problem.text}
      br
      h4 What ease-of-use problem associated with #{idea.name} prevented you from scoring it higher?
      textarea.form-control(rows='6', cols="75", name="useabilityProblem")
        | The problem of 
      br
      p (Ex. "The problem of the Delorean's doors not having any easy to find handles to enable Jennifer to open the door.")

  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var input = document.getElementsByTagName ("textarea");

    // This is for the main solution text input
    var requiredText = "The problem of "
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);
    