doctype html
html
  head
    include ../../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Useability
    h4 
      | How easy is #{idea.name} to use?
    br
    form(role='form', id="formUseability" action="/useability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way Difficult to Use
          span.yes-way Easy to Use
        #useabilityLabelOne.sliderLabel
        #useabilitySliderOne
      br
      h4 What makes #{idea.name} more difficult to use than necessary?
      textarea.form-control(rows='6', cols="75", name="useabilityProblem", placeholder='Describe the problem...')
        if idea.useabilityProblem
          | #{idea.useabilityProblem}
      br
      a(href="/idea-summary").btn.btn-info View All
      |  
      button.btn.btn-success Continue >
      br
      br
      h3 Einstein Points: #{user.einsteinPoints}

  include ../../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue, min=1, max=100, valueEntered=false;
    initialValue = "#{idea.useabilityOne}" || 50;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#useabilitySliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          valueEntered = true;
          $("#useabilityLabelOne").text(labelArr[ui.value]);
          $("#useabilityLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#useabilityLabelOne").css("left", "-50px");
      }
    });
    $("#useabilityLabelOne").text(labelArr[initialValue]);
    $("#useabilityLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#useabilityLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      if(valueEntered){
        var sliderOneValue = $("#useabilitySliderOne").slider("value");
        var inputOne = $("<input>")
                 .attr("type", "hidden")
                 .attr("name", "useabilitySliderOneValue").val(sliderOneValue);
        $('#formUseability').append($(inputOne)).submit();
      } else {
        $('#formUseability').submit();
      }
    });