doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  div.profile-info
    div#begin-info
      h1 Welcome #{user.username}
      h2 Einstein Points: #{user.einsteinPoints}
      h2 Rupees Remaining: #{user.rupees}
    div#begin-info-right
      h2 Company : Albatross Air
      h2 Role : Inventor

  .container.profile
    h2 Existing Ideas:
    if accountIdeaSeeds
      ul
        each val, index in accountIdeaSeeds
          li
            a(href="/idea-summary/" + val)
              h4= val
    else
      h4 None so far.
    a.home-login.btn.btn-success( href="/introduce-idea" ) Begin a New Idea > 

  include ../partials/js-includes.jade
  script(type="text/javascript").
    $( document ).ready(function() {
      jQuery.get("/clear-session-idea", function(data){
        var stop;
      });
    });