doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .component-summary
    h1 Component Summary
    if component['text']
      .component-name
        if component['number']
          h3 Component # #{component['number']} : #{component['text']}
        else
          .component-name
            h3 Name : #{component['number']}
    h4 It is a component of the idea seed "#{idea.name}"
    if( component['descriptions'].length > 0)
      .component-descriptions
        h3 Description(s)
        ul
          each description in component['descriptions']
            li #{description}
            br

    .edit-column.half-column
      .imagesList
        if(imageURLs)
          h4 Uploaded Images
          if !component['mainImage']
            form(role='form', id="formImageUpload" action="/add-component-image", method="post", data-idea-doc=idea, enctype="multipart/form-data")
              .form-group
                p Upload Component Image
                |  
                input#fileInput(type="file", name="picture")
                input(type="hidden" id="image-component" name="imageComponent", value="#{component['identifier']}")
                input(type="hidden" id="image-component" name="componentProfilePage", value="true")

          each imageURL, index in imageURLs
            if index == 0
              .image-summary-image
                img(src=imageURL[1] height="300" width="400")
                p(style="margin-top:1em;") Other images containing this component
            if index < 3 && index > 0
              img.imageListItems(src=imageURL[1])
          .view-all-images-btn
            a.btn.btn-default( href="/image-upload" ) View All Images
      .related-components
        h4 Related Components
        each component in relatedComponents
          if component[0]['text']            
            if component[0]['identifier']
              li 
                a(href="/component-profile/"+component[0]['identifier'])
                  h4 #{component[0]['number']} : #{component[0]['text']}
                p <b>Relationship</b> 
                p #{component[1]}
            else
              li 
                h4 #{component[0]['number']} : #{component[0]['text']}
                p <b>Relationship</b> 
                p #{component[1]}
          else if component[0]['descriptions'].length > 0
            if component[0]['identifier']
              li
                a(href="/component-profile/"+component[0]['identifier'])
                  h4 #{component[0]['descriptions'][0]}
                p <b>Relationship</b> 
                p #{component[1]}
          else
              li
                h4 #{component[0]['descriptions'][0]}
                p <b>Relationship</b> 
                p #{component[1]}
        button(type="button" id="modalButton" class="btn btn-primary" data-toggle="modal" data-target="#myModal") Add New Related Component


    .idea-function-column.half-column
      if(problem != "none")
        h4 Related Problem
        .image-block-element
          .suggestion
            .suggestion-text
              p <b>Problem: </b> #{problem['text']}
              p <b>Problem Area: </b> #{problem['problemArea']}
              p <b>Suggestion Type: </b> #{component['category']}

            .suggestion-category
              ul
                li
                  p <b> Hindsight :</b> #{component['hindsight'] || "No value yet"} 
                li
                  p <b> Foresight :</b> #{component['foresight'] || "No value yet"} 
                li
                  p <b> Outsight :</b> #{component['outsight'] || "No value yet"} 
          .suggestion-maker
            img(src="/avatar.png" height="50" width="50")
            div.userName #{problem['creator'] || "Unknown User"}

      .component-variants
        h4 Included in Variants
        if variantDates.length > 0
          each variantDate in variantDates
            ul.variantDateList
              li
                a(href="/variant/"+variantDate[1]) #{variantDate[0]}
        else 
          p <i>Not currently part of any variants</i>
    .return-button
      a.home-logout.btn.btn-default( href="/idea-summary" ) < Back to Idea Summary
    br

    #myModal.modal.fade.annotate-modal(role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button", class="close" data-dismiss="modal") &times;
            .modal-title 
              h2 Add a Related Component:
          .modal-body
            form(role='form', id="addRelatedComponent" action="/add-related-component", method="post", style='max-width: 300px;', data-idea-doc=idea)
              .form-group
                h3 Select a Component:
                |  
                select(name="addRelatedComponent").form-control#relatedComponents
                  option(value="None Selected") None Selected
                  each component in components
                    if component['identifier']                    
                      if component['text']
                        option(value=component['identifier']) #{component['number']} : #{component['text']}
                      else if component['descriptions'].length > 0
                        if component['identifier']
                          option(value=component['identifier']) #{component['descriptions'][0]}
                        
                h4#new-related-component-description These components are related by:
                |  
                textarea.form-control(rows='6', cols="75", name="newRelatedComponentDesc", id="newRelCompDesc",
                  placeholder='They press against each other to close the panel.')
                input(type="hidden" id="component-identifier" name="component-identifier")

              .modal-footer
                button.btn.btn-info(data-dismiss="modal") Cancel
                button.btn.btn-success#newRelCompSubmit(type='submit') Save



  include ../partials/js-includes.jade
  script(type="text/javascript").
    $("#modalButton").click(function(){
      $("#component-identifier").val("!{component['identifier']}");
    });

    document.getElementById("fileInput").onchange = function() {
      document.getElementById("formImageUpload").submit();
    };