doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .idea-summary
    h3 Idea Summary for #{idea.name}
    h4 Waste : //waste/value score averages
    h4 <b>Problem :</b> #{idea.problem}
    h4 <b>How :</b> #{idea.description}
    h4 <b>Features</b>
    if components
      ul
        each component in components
          li #{component['number']} : #{component['text']}

    br
    if !currentlyReviewing
      a.btn.btn-default( href="/begin-contributor-review" ) Start Review  
    br
    a.home-login.btn.btn-success( href="/view-all-ideas" ) View All Ideas


    .edit-column.half-column
      if currentlyReviewing
        h3 Waste Value Scores
        table.idea-summary
          tr
            th Value/Waste
            th Rating
            th Problem Statement
          tr
            th         
              a(href="/performability")
                h4 Performance
            td 
              if currentlyReviewing
                if currentReview.performOne
                  p #{currentReview.performOne}
                else 
                  p No Value Yet
              else
                if idea.performOne
                  h5 #{idea.performOne}
                else
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.performProblem
                  p #{currentReview.performProblem}
                else 
                  p No Value Yet
              else
                if idea.performProblem
                  p #{idea.performProblem}
                else 
                  p No Value Yet
          tr
            th 
              a(href="/affordability")
                h4 Affordability
            td 
              if currentlyReviewing
                if currentReview.affordOne
                  p #{currentReview.affordOne}
                else 
                  p No Value Yet
              else
                if idea.affordOne
                  h5 #{idea.affordOne}
                else
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.affordProblem
                  p #{currentReview.affordProblem}
                else 
                  p No Value Yet
              else
                if idea.affordProblem 
                  p #{idea.affordProblem}
                else
                  p No Value Yet
          tr
            th 
              a(href="/featurability")
                h4 Featurability
            td 
              if currentlyReviewing
                if currentReview.featureOne
                  p #{currentReview.featureOne}
                else 
                  p No Value Yet
              else
                if idea.featureOne
                  h5 #{idea.featureOne}
                else 
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.featureProblem
                  p #{currentReview.featureProblem}
                else 
                  p No Value Yet
              else
                if idea.featureProblem
                  p #{idea.featureProblem}
                else 
                  p No Value Yet
          tr
            th 
              a(href="/deliverability")
                h4 Deliverability
            td 
              if currentlyReviewing
                if currentReview.deliverOne
                  p #{currentReview.deliverOne}
                else 
                  p No Value Yet
              else
                if idea.deliverOne
                  h5 #{idea.deliverOne}
                else
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.deliverProblem
                  p #{currentReview.deliverProblem}
                else 
                  p No Value Yet
              else
                if idea.deliverProblem
                  p #{idea.deliverProblem}
                else
                  p No Value Yet
          tr
            th 
              a(href="/useability")
                h4 Useability        
            td 
              if currentlyReviewing
                if currentReview.useabilityOne
                  p #{currentReview.useabilityOne}
                else 
                  p No Value Yet
              else
                if idea.useabilityOne
                  h5 #{idea.useabilityOne}
                else 
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.useabilityProblem
                  p #{currentReview.useabilityProblem}
                else 
                  p No Value Yet
              else
                if idea.useabilityProblem
                  p #{idea.useabilityProblem}
                else
                  p No Value Yet
          tr
            th 
              a(href="/maintainability")
                h4 Maintainability        
            td 
              if currentlyReviewing
                if currentReview.maintainOne
                  p #{currentReview.maintainOne}
                else 
                  p No Value Yet
              else
                if idea.maintainOne
                  h5 #{idea.maintainOne}
                else
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.maintainProblem
                  p #{currentReview.maintainProblem}
                else 
                  p No Value Yet
              else
                if idea.maintainProblem
                  p #{idea.maintainProblem}
                else
                  p No Value Yet
          tr
            th 
              a(href="/durability")
                h4 Durability
            td 
              if currentlyReviewing
                if currentReview.durabilityOne
                  p #{currentReview.durabilityOne}
                else 
                  p No Value Yet
              else
                if idea.durabilityOne
                  h5 #{idea.durabilityOne}
                else
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.durabilityProblem
                  p #{currentReview.durabilityProblem}
                else 
                  p No Value Yet
              else
                if idea.durabilityProblem
                  p #{idea.durabilityProblem}
                else
                  p No Value Yet
          tr
            th 
              a(href="/imageability")
                h4 Imageability
            td 
              if currentlyReviewing
                if currentReview.imageOne
                  p #{currentReview.imageOne}
                else 
                  p No Value Yet
              else
                if idea.imageOne
                  h5 #{idea.imageOne}
                else 
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.imageProblem
                  p #{currentReview.imageProblem}
                else 
                  p No Value Yet
              else
                if idea.imageProblem
                  p #{idea.imageProblem}
                else
                  p No Value Yet
          tr
            th 
              a(href="/complexity")
                h4 Complexity
            td 
              if currentlyReviewing
                if currentReview.complexOne
                  p #{currentReview.complexOne}
                else 
                  p No Value Yet
              else
                if idea.complexOne
                  h5 #{idea.complexOne}
                else
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.complexProblem
                  p #{currentReview.complexProblem}
                else 
                  p No Value Yet
              else
                if idea.complexProblem
                  p #{idea.complexProblem}
                else
                  p No Value Yet
          tr
            th 
              a(href="/precision")
                h4 Precision
            td 
              if currentlyReviewing
                if currentReview.precisionOne
                  p #{currentReview.precisionOne}
                else 
                  p No Value Yet
              else
                if idea.precisionOne
                  h5 #{idea.precisionOne}
                else
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.precisionProblem
                  p #{currentReview.precisionProblem}
                else 
                  p No Value Yet
              else
                if idea.precisionProblem
                  p #{idea.precisionProblem}
                else
                  p No Value Yet
          tr
            th 
              a(href="/variability")
                h4 Variability
            td 
              if currentlyReviewing
                if currentReview.variabilityOne
                  p #{currentReview.variabilityOne}
                else 
                  p No Value Yet
              else
                if idea.variabilityOne
                  h5 #{idea.variabilityOne}
                else
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.variabilityProblem
                  p #{currentReview.variabilityProblem}
                else 
                  p No Value Yet
              else
                if idea.variabilityProblem
                  p #{idea.variabilityProblem}
                else
                  p No Value Yet
          tr
            th 
              a(href="/sensitivity")
                h4 Sensitivity
            td 
              if currentlyReviewing
                if currentReview.sensitivityOne
                  p #{currentReview.sensitivityOne}
                else 
                  p No Value Yet
              else
                if idea.sensitivityOne
                  h5 #{idea.sensitivityOne}
                else
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.sensitivityProblem
                  p #{currentReview.sensitivityProblem}
                else 
                  p No Value Yet
              else
                if idea.sensitivityProblem
                  p #{idea.sensitivityProblem}
                else
                  p No Value Yet
          tr
            th 
              a(href="/immaturity")
                h4 Immaturity
            td 
              if currentlyReviewing
                if currentReview.immatureOne
                  p #{currentReview.immatureOne}
                else 
                  p No Value Yet
              else
                if idea.immatureOne
                  h5 #{idea.immatureOne}
                else 
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.immatureProblem
                  p #{currentReview.immatureProblem}
                else 
                  p No Value Yet
              else
                if idea.immatureProblem
                  p #{idea.immatureProblem}
                else 
                  p No Value Yet
          tr
            th 
              a(href="/dangerous")
                h4 Dangerous
            td 
              if currentlyReviewing
                if currentReview.dangerOne
                  p #{currentReview.dangerOne}
                else 
                  p No Value Yet
              else
                if idea.dangerOne
                  h5 #{idea.dangerOne}
                else
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.dangerProblem
                  p #{currentReview.dangerProblem}
                else 
                  p No Value Yet
              else
                if idea.dangerProblem
                  p #{idea.dangerProblem}
                else
                  p No Value Yet
          tr
            th 
              a(href="/skills")
                h4 Skills
            td 
              if currentlyReviewing
                if currentReview.skillsOne
                  p #{currentReview.skillsOne}
                else 
                  p No Value Yet
              else
                if idea.skillsOne
                  h5 #{idea.skillsOne}
                else
                  h5 No Value Yet
            td 
              if currentlyReviewing
                if currentReview.skillsProblem
                  p #{currentReview.skillsProblem}
                else 
                  p No Value Yet
              else
                if idea.skillsProblem
                  p #{idea.skillsProblem}
                else
                  p No Value Yet
    if currentlyReviewing
      .idea-function-column.half-column
        h3 Make a Suggestion
        a.btn.btn-default( href="/suggestion-summary" ) Make Suggestions
        br
        br

      .imagesList
        if(imageURLs)
          h3 Uploaded Images
          h4
            a.btn.btn-default( href="/image-upload" ) View All Images
          each imageURL, index in imageURLs
            if index < 3
              img.imageListItems(src=imageURL[1])








  include ../partials/js-includes.jade
