doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
  .header
    span.userName Howdy #{user.username}
    |  
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.idea-summary
    h1 In Summary
      h3 Name : #{idea.name}
      h3 Description : #{idea.description}
      h3 Problem it will address : #{idea.problem}
      h3 Features :
      ul
        li
          h4 #{idea.firstFeature}
        li
          h4 #{idea.secondFeature}
        li
          h4 #{idea.thirdFeature}
      
      a.home-login.btn.btn-success( href="/begin-scoring" ) Score Your Idea >



  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')