doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="./avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.idea-summary
    h1 In Summary
      h3 Name : #{idea.name}
      h3 Description : #{idea.description}
      h3 Problem it will address : #{idea.problem}
      if (imgURL)
        h3 Image :
        img.summary-image(src=imgURL)
      
      a.home-login.btn.btn-success( href="/begin-scoring" ) Score Your Idea >

  include ../partials/js-includes.jade
