doctype html
html
  head
    include ../partials/head.jade
  body
  if user  
    .header.navbar.navbar-default
      include ../partials/header.jade
    div.container
      .row
        .col-md-6
          if Object.keys(user).length != 0 && user.id == profileAccount.id
            a(href="/imagineer-picture/")
              h1.profile-name #{profileAccount.nickname}
                img(src="/pencil.png" height="25" width="25")
          else
            h1.profile-name #{profileAccount.nickname}
          if aptitudes && aptitudes.length > 0
          .profileAptitudes
            each aptitude in aptitudes
              a.btn.btn-industry( href='/aptitudes/'+ aptitude.title) #{aptitude.title}

          if accountHeadshot
            .imagineerProfilePicWrapper
              div(class="imagineerProfilePic" style="height: 300px; max-width: 400px; background-image : url('" + accountHeadshot.amazonURL + "');  background-position: center center; background-repeat: no-repeat; background-size: cover;" + accountHeadshot.style)
            
          else if Object.keys(user).length != 0 && user.id == profileAccount.id
            a(href="/imagineer-picture/")
              img.avatar(src="/avatar.png" height="120" width="120")
            //- div(class="imagineer-profile profile-einstein-points") #{user.einsteinPoints || "0"}            
          
          //- .view-all-components-wrapper
          //-   a.btn.btn-electric.btn-lg.btn-block(type="button" href='/jam/Startup%20Denver%20Pitch%20Battle') Go to Pitch Battle!
          h3 #{profileAccount.nickname}'s Jams
          .profileSchool
            if schoolNetwork
              ul
                li
                  h4 #[a(class="network-link") #{schoolNetwork}]
          .profileCompany
            if companyNetwork
              ul
                li
                  h4 #[a(class="network-link") #{companyNetwork}]
          .profileLocation
            if locationNetwork
              ul
                li
                  h4 #[a(class="network-link") #{locationNetwork}]
          //- .profileOtherNetworks
          //-   if generalJams && generalJams.length > 0
          //-     h4 Other Jams 
          //-     ul
          //-       each otherJam in generalJams
          //-         li
          //-           a(href='/jam/'+ otherJam)
          //-             p #{otherJam}
          a.home-login.btn.btn-industry.btn-lg( href="/view-jams/#{profileAccount.nickname}") More
          
    
        .col-md-6
          h3 Your Original Ideas
          if accountIdeaSeeds.length > 0
            ul
              each val, index in accountIdeaSeeds
                if val.name && (val.visibility == "public" || val.inventorName == user.username)
                  li
                    a(href="/ideas/" + val.name)
                      h4.idea-text-name= val.name
                    span.idea-text-date= val['creationDate']

          else
            h4 None yet.
          h3 Collaborations
          if collaboratorIdeas.length > 0
            ul
              each val, index in collaboratorIdeas
                li
                  a(href="/ideas/" + val.name)
                    h4.contributed-idea-text-name= val.name 
                  span By : 
                  span #{val.inventorName}
                  span.idea-text-date= val['creationDate']
          else
            h4 None yet.


          h3 Contributions
          if reviewNames.length > 0
            ul
              each val, index in reviewNames
                if val.name && (val.visibility == "public" || val.inventorName == user.username)
                  li
                    a(href="/ideas/" + val.name)
                      h4.contributed-idea-text-name= val.name 
                    span By : 
                    span #{val.inventorName}
                    span.idea-text-date= val['creationDate']
          else
            h4 None yet.
          a.home-login.btn.btn-industry.btn-lg.btn-block( href="/ideas" ) All Ideas
      //- .row
      //-   .col-md-6
      //-     h2.text-left My Rank:
      //-     h3.text-left Tenderfoot
      //-     img(src="http://www.cmchtroop65.com/images/BadgeTenderfoot.jpg")
      //-     p.text-left Rank up by contributing inventive thought to your own and others' ideas on IdeaJam.  
      //-   .col-md-6
      //-     h3.text-left My Badges
      //-     p.text-left Earn badges by leveling up through earning Einstein Points on IdeaJam.  Your badges will be displayed here as your inventive thought is rewarded:

  #schoolModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            h2 My School Jam
        .modal-body
          form(role='form', id="saveSchool" action="/save-school-network", method="post", style='max-width: 300px;', data-idea-doc=idea)
            .form-group
              |  
              input.form-control.ui-front(type='text', id="schoolNetwork", name="schoolNetwork", placeholder='My school is called... ', autocomplete="on")
              input(type="hidden", name="_csrf", value="#{csrfToken}")
              p Example: ("Northwestern University")
            .modal-footer
              button.btn.btn-info(data-dismiss="modal") Cancel
              button.btn.btn-success#submit(type='submit') Save
  #companyModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            h2 Company Jam
        .modal-body
          form(role='form', id="saveCompany" action="/save-company-network", method="post", style='max-width: 300px;', data-idea-doc=idea)
            .form-group
              |  
              input.form-control.ui-front(type='text', id="companyNetwork", name="companyNetwork", placeholder='My company is called... ', autocomplete="on")
              input(type="hidden", name="_csrf", value="#{csrfToken}")
            .modal-footer
              button.btn.btn-info(data-dismiss="modal") Cancel
              button.btn.btn-success#submit(type='submit') Save
  #locationModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            h2 Location Jam
        .modal-body
          form(role='form', id="saveLocation" action="/save-location-network", method="post", style='max-width: 300px;', data-idea-doc=idea)
            .form-group
              |  
              h4 Select State
              select.form-control#locationState
              h4.locationCity(style="display:none;") Select City
              select.form-control.locationCity(style="display:none;")
              input(type="hidden", name="_csrf", value="#{csrfToken}")

            .modal-footer
              button.btn.btn-info(data-dismiss="modal") Cancel
              button.btn.btn-success#locationSubmit(type='submit') Save

  button(type="button" id="secretLocationButton" style="display:none;" class="btn btn-primary" data-toggle="modal" data-target="#locationModal") Go Win Fight

  include ../partials/js-includes.jade
  script(type="text/javascript").
    $( document ).ready(function() {
      jQuery.get("/clear-session-idea", function(data){
        var stop;
      });


      $.getJSON("/university-majors.json", function(data){
        var majorName, words = [];
        var majorsArray = _.map(data, function(object){
           majorName = object['Major']
           words = majorName.toLowerCase().split(' ');;
            for(var i = 0; i < words.length; i++){
              words[i] = words[i].split('');
              words[i][0] = words[i][0].toUpperCase(); 
              words[i] = words[i].join('');
            }
            return words.join(' ');
        });

        $("#aptitudeTitle").autocomplete({
          source : majorsArray,
          appendTo : "#saveAptitude .form-group"
        });
      });


    });

    $("#schoolModal").on('shown.bs.modal', function(){
      var schoolNetworkList = _.map(JSON.parse('!{masterSchoolNetworkString}'), function(item){return item['name'];})
      $("#schoolNetwork").autocomplete({
        source : schoolNetworkList,
        appendTo : "#saveSchool"
      });
    });

    $("#companyModal").on('shown.bs.modal', function(){
      var companyNetworkList = _.map(JSON.parse('!{masterCompanyNetworkString}'), function(item){return item['name'];})
      $("#companyNetwork").autocomplete({
        source : companyNetworkList,
        appendTo : "#saveCompany"
      });
    });

    $("#locationModalButton").click(function(){
      $.getJSON("/us-cities-and-states.json", function(data){
        var stateArray = _.map(data, function(object){
          return object['FIELD2'];
        });

        stateArray.shift();
        stateArray = _.uniq(stateArray);
        stateArray = _.sortBy(stateArray);

        $("#secretLocationButton").click();
        _.each(stateArray, function(state, index){
          $('#locationState').append($('<option>', {
            value: state,
            text: state
          }));
        });

        $("#locationState").change(function(event){
          $('select.locationCity option').remove();

          var cityArray = _.filter(data, function(object){
            return object['FIELD2'] == $('#locationState').find(":selected").text();
          });

          cityArray = _.map(cityArray, function(object){
            return object['FIELD1'];
          });

          cityArray = _.uniq(cityArray);
          cityArray = _.sortBy(cityArray);

          $(".locationCity").show();
          _.each(cityArray, function(city, index){
            $('select.locationCity').append($('<option>', {
              value: city,
              text: city
            }));
          });
        });
      });
    });

    $("a.network-link").click(function(event){
      var urlPath = $(this).text();
      window.location.pathname = "/jam/" + urlPath;
    });

    $("#locationSubmit").click(function(event){
      event.preventDefault();
      $.post('/save-location-network', 
        {
          locationCity : $("select.locationCity option:selected").text(),
          locationState : $("#locationState option:selected").text(),
        },
        function(resp) {
          window.location.reload(true);
        });      
    });

    $("#aptitudeSubmit").click(function(event){
      event.preventDefault();
      if($("#aptitudeTitle").val() != ""){
        $.post('/save-aptitude', 
          {
            aptitudeTitle : $("#aptitudeTitle").val(),
          },
          function(resp) {
            window.location.reload(true);
          });
      } else {
        alert("Please enter a valid aptitude.");  
      }
    });

    $(".avatar").click(function(event){
      $(this).attr("src", "/IdeaJam-logo.gif");
    })
