doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="./avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Maintainability
    h4 
      | How  can we reduce the need for, or eliminate maintenance entirely?
    br
    form(role='form', id="formMaintainability" action="/maintainability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way No Way
          span.yes-way Yes Way
        #maintainabilityLabelOne.sliderLabel
        #maintainabilitySliderOne
      br
      h4 Why can't your idea be made more maintainable?
      textarea.form-control(rows='6', cols="75", name="maintainProblem", placeholder='Describe the problem...')
        if idea.maintainProblem
          | #{idea.maintainProblem}
      br
      a(href="/idea-summary").btn.btn-info View All
      |  
      button.btn.btn-success Continue >
      br
      br
      h3 Einstein Points: #{user.einsteinPoints}

  include ../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue, min=1, max=100, valueEntered = false;
    initialValue = '#{idea.maintainOne}' || 50;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#maintainabilitySliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          valueEntered = true;
          $("#maintainabilityLabelOne").text(labelArr[ui.value]);
          $("#maintainabilityLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#maintainabilityLabelOne").css("left", "-50px");
      }
    });
    $("#maintainabilityLabelOne").text(labelArr[initialValue]);
    $("#maintainabilityLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#maintainabilityLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      if(valueEntered){
        var sliderOneValue = $("#maintainabilitySliderOne").slider("value");
        var inputOne = $("<input>")
                 .attr("type", "hidden")
                 .attr("name", "maintainSliderOneValue").val(sliderOneValue);
        $('#formMaintainability').append($(inputOne)).submit();
      } else {
        $('#formMaintainability').submit();
      }
    });