doctype html
html
  head
    include ../partials/head.jade
  body
  if user  
    .header.navbar.navbar-default
      include ../partials/header.jade
    div.container
      .row
        .col-xs-1
          i.fa.fa-exclamation-triangle.fa-5x(style='color:red', aria-hidden='true')
        .col-xs-11
          h2 Patent Application Downloads Only Available to Premium Members
      .row
        .jumbotron
          h1.text-center Become a Premium Member
          h3.text-center Build Unlimited Patent Applications to Protect All Your Ideas
      .row
        h2.text-center Individual Premium Memberships:
      .row
        .col-md-4
          h2 1 Month, $74.99
          ul
            li Generate and download unlimited provisional patent applications for any and all of your ideas built out on IdeaJam during your premium membership
            li Massive cost savings compared to the buildout of just one patent application on LegalZoom&reg; ($260.00) or patent attorney/agent drafting costs (thousands)
            li Control the creation of detailed substance and disclosure related to your ideas by adding many components of your ideas and related component details into your idea profiles and patent applications
            li Incorporate crowdsourced improvements to your ideas, with rights assigned to you, to strengthen the disclosure of your patent applications
          if !Object.keys(user).length > 0
            a.btn.btn-go.btn-lg(data-toggle="modal" data-target="#loginModal" ) Get Started
          else
            form(action="/process-one-month-payment" method="POST")
              script( src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_5T5pBn30fpwettn3jKAVBZ2q" data-amount="7499" data-name="Idea Jam" data-description="One Month Membership" data-image="/IdeaJamIcon-2.png" data-locale="auto" data-zip-code="true")
              input(type="hidden", name="_csrf", value="#{csrfToken}")
        .col-md-4
          h2 6 Months, $179.99
          h5 The benefits of the 1 Month membership, plus:
          ul
            li Invite collaborators to privately build an idea together under a confidentiality agreement
            li 60% discount on a per-month basis over the 1 month membership
          if !Object.keys(user).length > 0
            a.btn.btn-go.btn-lg(data-toggle="modal" data-target="#loginModal" ) Get Started
          else
            form(action="/process-six-month-payment" method="POST")
              script( src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_5T5pBn30fpwettn3jKAVBZ2q" data-amount="17999" data-name="Idea Jam" data-description="Six Month Membership" data-image="/IdeaJamIcon-2.png" data-locale="auto" data-zip-code="true")
              input(type="hidden", name="_csrf", value="#{csrfToken}")

        .col-md-4
          h2 12 Months, $239.99
          h5 The benefits of the 6 Month membership, plus:
          ul
            li 73% discount discount on a per-month basis over the 1 month membership
          if !Object.keys(user).length > 0
            a.btn.btn-go.btn-lg(data-toggle="modal" data-target="#loginModal" ) Get Started
          else
            form(action="/process-twelve-month-payment" method="POST")
              script( src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_5T5pBn30fpwettn3jKAVBZ2q" data-amount="23999" data-name="Idea Jam" data-description="Twelve Month Membership" data-image="/IdeaJamIcon-2.png" data-locale="auto" data-zip-code="true")
              input(type="hidden", name="_csrf", value="#{csrfToken}")
      .row
        h3 Protect your rights in your ideas. As a premium member, you can also collaborate under a confidentiality agreement with people that you specifically invite to privately work on an idea with you.
      .row
        .jumbotron
          h2 University and Company Memberships
          h3 IdeaJam currently offers institutional memberships for universities and companies.  
          p In advancement of our mission to change the world, during its beta period, IdeaJam will offer free membership to universities, their students and faculty.
          p IdeaJam also offers company-wide memberships, which enable all a company's employees to privately or publicly collaborate at the direction of company management, for $799.99 per year.
          a.btn.btn-go.btn-lg(data-toggle="modal" data-target="#loginModal" ) Start an Institutional Membership

  #loginModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          .modal-title 
            h2 Login
        .modal-body
          form#signup-form(role='form', action="/register",method="post")
            a.socialLink(href="/auth/google" class="btn btn-danger btn-lg btn-block" ontouchstart="this.style.background = '#D6DE26';" )
              span.fa.fa-google-plus Google
            |  
            a.socialLink(href="/auth/facebook",class="btn btn-primary btn-lg btn-block" ontouchstart="this.style.background = '#D6DE26';")
              span.fa.fa-facebook Facebook
            |  
            a.socialLink(href="/auth/linkedin",class="btn btn-info btn-lg btn-block" ontouchstart="this.style.background = '#D6DE26';" )
              span.fa.fa-linkedin LinkedIn
            |  
            a#ideajam-login(class="btn btn-go btn-lg btn-block" ontouchstart="this.style.background = '#D6DE26';")
              span.fa IdeaJam
            h4 New Account:
            .form-group
              input.form-control(type='text', name="nickname", placeholder='Name' required)
            .form-group
              input.form-control(type='email', name="username", placeholder='Email Address' required)
            .form-group
              input.form-control(type="hidden", name="password", value='itcrashed' required)
              input(type="hidden", name="_csrf", value="#{csrfToken}")
            button.btn.btn-lg.btn-block.btn-go#register-submit(type='submit' ontouchstart="this.style.background = '#D6DE26';") Submit
            |  
            a(href='/' ontouchstart="this.style.background = '#D6DE26';")
              button.btn.btn-primary.btn-lg.btn-block(type="button" style="margin-top: 5px;") Cancel
          form#login-form(role='form', action="/login",method="post", style='max-width: 300px;display: none;')
            .form-group
              input.form-control(type='email', name="username", placeholder='Email Address' required)
            .form-group
              input(type="hidden", name="_csrf", value="#{csrfToken}")
              input.form-control(type='password', name="password", placeholder='Password' required)
            button.btn.btn-go(type='submit') Submit
            |  
            a(href='/')
              button.btn.btn-primary(type="button") Cancel
            |  
            a(href="/forgot-password/")
              h4 Forget your password?

  include ../partials/js-includes.jade
  script(type="text/javascript").
    $( document ).ready(function() {

      if("!{redirectURL}" === "" && "!{user.nickname}" === ""){
        $.post('/set-session-redirect', {redirectURL : "/membership-options", "_csrf" : $('[name="_csrf"]').val()}, function(response){
          var stop;
        });
      } else if("!{redirectURL}" === "" && "!{user.nickname}" != ""){
        $.post('/set-session-redirect', {redirectURL : "/imagineer/!{user.nickname}", "_csrf" : $('[name="_csrf"]').val()}, function(response){
          var stop;
        });
      } else {
        $.post('/set-session-redirect', {redirectURL : "!{redirectURL}", "_csrf" : $('[name="_csrf"]').val()}, function(response){
          var stop;
        });
      }

      $("#ideajam-login").click(function(event){
        $("#signup-form").hide(200);
        $("#login-form").show(200);
      });

      $("#register-submit").click(function(event){
        if($("input[name='nickname']").val() == ""){
          event.preventDefault();
          $("input[name='nickname']").after("<p> Please enter a name value.</p>");
        }
        if($("input[name='username']").val() == ""){
          event.preventDefault();
          $("input[name='username']").after("<p> Please enter an email.</p>");
        }
      })



    });

