doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    include ../partials/header.jade
  div.profile-info
    div#begin-info
      h3 Welcome #{profileAccount.username}
      h4 Einstein Points: #{profileAccount.einsteinPoints}
    div#begin-info-right
      .profileSchool
        if schoolNetwork
          h4 School :  #[a(class="network-link") #{schoolNetwork}]
          a(class="btn btn-default" href="#" id="schoolModalButton" data-toggle="modal" data-target="#schoolModal") Edit Network
        else
          button(type="button" id="schoolModalButton" class="btn btn-default" data-toggle="modal" data-target="#schoolModal") Add your School
      .profileCompany
        if companyNetwork
          h4 Company :  #[a(class="network-link") #{companyNetwork}]
          a(class="btn btn-default" href="#" id="companyModalButton" data-toggle="modal" data-target="#companyModal") Edit Network
        else
          button(type="button" id="companyModalButton" class="btn btn-default" data-toggle="modal" data-target="#companyModal") Add your Company
      .profileLocation
        if locationNetwork
          h4 Location : #[a(class="network-link") #{locationNetwork}]
          a(class="btn btn-default" href="#" id="locationModalButton" data-toggle="modal" data-target="#companyModal") Edit Network
        else
          button(type="button" id="locationModalButton" class="btn btn-default" ) Add your Location
    div#begin-info-aptitudes.aptitudeList
      .profileAptitudes
        if aptitudes
          h3 Aptitudes : 
          ul
            each aptitude in aptitudes
              li(data-apt-id="#{aptitude.identifier}")
                a(href="/aptitudes/" + aptitude.title) #{aptitude.title}
        form(role='form', id="saveAptitude" action="/save-aptitude", method="post", style='max-width: 300px;', data-idea-doc=idea)
          .form-group
            |  
            input.form-control.ui-front(type='text', id="aptitudeTitle", name="aptitudeTitle", placeholder='New Aptitude..', autocomplete="on")
          .modal-footer
            button.btn.btn-success#aptitudeSubmit(type='submit') Save
        


  .existingIdeas
    h2 #{profileAccount.username}'s Ideas:
    if accountIdeaSeeds
      ul
        each val, index in accountIdeaSeeds
          li
            a(href="/idea-summary/" + val)
              h4= val
    else
      h4 None so far.
    a.home-login.btn.btn-success( href="/introduce-idea" ) Begin a New Idea > 

  .container.contributedIdeas
    h2 #{profileAccount.username}'s Contributions
    if reviewNames
      ul
        each val, index in reviewNames
          li
            a(href="/contributor-idea-summary/" + val)
              h4= val
    else
      h4 None so far.
    a.home-login.btn.btn-success( href="/view-all-ideas" ) View All Ideas

  #schoolModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            h2 School Network
        .modal-body
          form(role='form', id="saveSchool" action="/save-school-network", method="post", style='max-width: 300px;', data-idea-doc=idea)
            .form-group
              |  
              input.form-control.ui-front(type='text', id="schoolNetwork", name="schoolNetwork", placeholder='My school is called... ', autocomplete="on")
            .modal-footer
              button.btn.btn-info(data-dismiss="modal") Cancel
              button.btn.btn-success#submit(type='submit') Save
  #companyModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            h2 Company Network
        .modal-body
          form(role='form', id="saveCompany" action="/save-company-network", method="post", style='max-width: 300px;', data-idea-doc=idea)
            .form-group
              |  
              input.form-control.ui-front(type='text', id="companyNetwork", name="companyNetwork", placeholder='My company is called... ', autocomplete="on")
            .modal-footer
              button.btn.btn-info(data-dismiss="modal") Cancel
              button.btn.btn-success#submit(type='submit') Save
  #locationModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            h2 Location Network
        .modal-body
          form(role='form', id="saveLocation" action="/save-location-network", method="post", style='max-width: 300px;', data-idea-doc=idea)
            .form-group
              |  
              h4 Select State
              select.form-control#locationState
              h4.locationCity(style="display:none;") Select City
              select.form-control.locationCity(style="display:none;")


            .modal-footer
              button.btn.btn-info(data-dismiss="modal") Cancel
              button.btn.btn-success#locationSubmit(type='submit') Save

  button(type="button" id="secretLocationButton" style="display:none;" class="btn btn-primary" data-toggle="modal" data-target="#locationModal") Go Win Fight


  include ../partials/js-includes.jade
  script(type="text/javascript").
    $( document ).ready(function() {
      jQuery.get("/clear-session-idea", function(data){
        var stop;
      });


      $.getJSON("/university-majors.json", function(data){
        var majorName, words = [];
        var majorsArray = _.map(data, function(object){
           majorName = object['Major']
           words = majorName.toLowerCase().split(' ');;
            for(var i = 0; i < words.length; i++){
              words[i] = words[i].split('');
              words[i][0] = words[i][0].toUpperCase(); 
              words[i] = words[i].join('');
            }
            return words.join(' ');
        });

        $("#aptitudeTitle").autocomplete({
          source : majorsArray,
          appendTo : "#saveAptitude .form-group"
        });
      });


    });

    $("#schoolModal").on('shown.bs.modal', function(){
      var schoolNetworkList = _.map(JSON.parse('!{masterSchoolNetworkString}'), function(item){return item['name'];})
      $("#schoolNetwork").autocomplete({
        source : schoolNetworkList,
        appendTo : "#saveSchool"
      });
    });

    $("#companyModal").on('shown.bs.modal', function(){
      var companyNetworkList = _.map(JSON.parse('!{masterCompanyNetworkString}'), function(item){return item['name'];})
      $("#companyNetwork").autocomplete({
        source : companyNetworkList,
        appendTo : "#saveCompany"
      });
    });

    $("#locationModalButton").click(function(){
      $.getJSON("/us-cities-and-states.json", function(data){
        var stateArray = _.map(data, function(object){
          return object['FIELD2'];
        });

        stateArray.shift();
        stateArray = _.uniq(stateArray);
        stateArray = _.sortBy(stateArray);

        $("#secretLocationButton").click();
        _.each(stateArray, function(state, index){
          $('#locationState').append($('<option>', {
            value: state,
            text: state
          }));
        });

        $("#locationState").change(function(event){
          $('select.locationCity option').remove();

          var cityArray = _.filter(data, function(object){
            return object['FIELD2'] == $('#locationState').find(":selected").text();
          });

          cityArray = _.map(cityArray, function(object){
            return object['FIELD1'];
          });

          cityArray = _.uniq(cityArray);
          cityArray = _.sortBy(cityArray);

          $(".locationCity").show();
          _.each(cityArray, function(city, index){
            $('select.locationCity').append($('<option>', {
              value: city,
              text: city
            }));
          });
        });
      });
    });

    $("a.network-link").click(function(event){
      var urlPath = $(this).text().split(" ").join("-")
      window.location.pathname = "/networks/" + urlPath;
    });

    $("#locationSubmit").click(function(event){
      event.preventDefault();
      $.post('/save-location-network', 
        {
          locationCity : $("select.locationCity option:selected").text(),
          locationState : $("#locationState option:selected").text(),
        },
        function(resp) {
          window.location.reload(true);
        });      
    });

    $("#aptitudeSubmit").click(function(event){
      event.preventDefault();
      if($("#aptitudeTitle").val() != ""){
        $.post('/save-aptitude', 
          {
            aptitudeTitle : $("#aptitudeTitle").val(),
          },
          function(resp) {
            window.location.reload(true);
          });
      } else {
        alert("Please enter a valid aptitude.");  
      }
    });
