doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    .profile-headshot
      if headshot
        img.placeholder(src=headshot height="75" width="75")
        a.plus-overlay(href="/profile-picture")
          img(src='/plus-overlay.png' height="75" width="75")
      else  
        img.placeholder(src="/avatar.png" height="75" width="75")
        a.plus-overlay(href="/profile-picture")
          img(src='/plus-overlay.png' height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .view-idea-suggestions
    h2 Name : #{idea.name}
    h3 Problem Rankings
    br
    
  #sortableProblemList.list-group
    each problem, index in problems
      .list-group-item(data-id=index)
        span <b> #{index + 1}.   </b>
        span.problemText #{problem['problemArea']} : #{problem['text']}

    br
    br
    br
  a#save-order.btn.btn-success( href="/idea-summary" ) Save Order and Return
  |  
  a.btn.btn-default( href="/idea-summary" ) Return without Saving
  br
  br

  include ../partials/js-includes.jade
  script(src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js")
  script(type="text/javascript").
    $("#save-order").click(function(){
      var newOrder = {};
      
      $("#sortableProblemList .list-group-item .problemText").each(function(index, item){
        newOrder[index] = item.textContent;
      });
      $.post('/order-problems', newOrder);
    });

    Sortable.create(sortableProblemList, {});    



