doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.suggestion-summary
    h2 Name : #{idea.name}
    h3 Einstein Points Earned : #{user.einsteinPoints}
    br

    .form-group
      if problems.length > 0
        #suggestionList 
          label(for="selectProblem") Select list:
            #selectProblem
              each val in problems
                if firstProblemText == val['text']
                  .problemOption.selectedProblem(id=val['problemArea']+"-"+val['creator']+"-"+val['text']) #{val['problemArea']} problem : #{val['text']}
                else 
                  .problemOption(id=val['problemArea']+"-"+val['creator']+"-"+val['text']) #{val['problemArea']} problem : #{val['text']}
          br

        #myModal.modal.fade(role="dialog")
          .modal-dialog
            .modal-content
              .modal-header
                button(type="button", class="close" data-dismiss="modal") &times;
                .modal-title 
                  h2 Make a Suggestion
              .modal-body
                form(role='form', id="formSuggestion" action="/suggestion-submit", method="post", style='max-width: 300px;', data-idea-doc=idea)
                  .form-group
                    h4#suggestion-header
                    |  
                    input.form-control(type='text', name="suggestion", value='The solution of ')
                    br
                    button.btn#show-hindsight-etc Hindsight, Foresight, Outsight
                    h3.hindsight(style="display:none;") Hindsight : Looking Back
                    |  
                    input.form-control.hindsight(style="display:none;", name="hindsight", value='In hindsight, ')
                    h3.foresight(style="display:none;") Foresight : Looking Ahead
                    |  
                    input.form-control.foresight(style="display:none;", name="foresight", value='In foresight, ')
                    h3.outsight(style="display:none;") Outsight : Looking Outward
                    |  
                    input.form-control.outsight(style="display:none;", name="outsight", value='In outsight, ')
                    input(type="hidden" id="suggestion-category" name="suggestionCategory")
                    input(type="hidden" id="point-value" name="pointValue")
                    input(type="hidden" id="problem-type" name="problemType")
              .modal-footer
                button.btn.btn-info(data-dismiss="modal") Cancel
                button.btn.btn-success#submit(type='submit') Submit >

        table#suggestionPointTable
          tr
            th Targets/Tactics
            th Functions
            th Parts
            th Life-Cycle Processes
            th Materials
            th People
          tr
            th Eliminate
            td 
              button(type="button" class="btn btn-primary suggest" id="elim-func" data-toggle="modal" data-target="#myModal") #{categoryPoints["elim-func"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="elim-parts" data-toggle="modal" data-target="#myModal")  #{categoryPoints["elim-parts"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="elim-life" data-toggle="modal" data-target="#myModal")  #{categoryPoints["elim-life"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="elim-mat" data-toggle="modal" data-target="#myModal")  #{categoryPoints["elim-mat"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="elim-people" data-toggle="modal" data-target="#myModal")  #{categoryPoints["elim-people"]}
          tr
            th Reduce
            td 
              button(type="button" class="btn btn-primary suggest" id="reduce-func" data-toggle="modal" data-target="#myModal")  #{categoryPoints["reduce-func"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="reduce-parts" data-toggle="modal" data-target="#myModal")  #{categoryPoints["reduce-parts"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="reduce-life" data-toggle="modal" data-target="#myModal") #{categoryPoints["reduce-life"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="reduce-mat" data-toggle="modal" data-target="#myModal") #{categoryPoints["reduce-mat"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="reduce-people" data-toggle="modal" data-target="#myModal") #{categoryPoints["reduce-people"]}
          tr
            th Substitute
            td 
              button(type="button" class="btn btn-primary suggest" id="sub-func" data-toggle="modal" data-target="#myModal") #{categoryPoints["sub-func"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="sub-parts" data-toggle="modal" data-target="#myModal") #{categoryPoints["sub-parts"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="sub-life" data-toggle="modal" data-target="#myModal") #{categoryPoints["sub-life"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="sub-mat" data-toggle="modal" data-target="#myModal") #{categoryPoints["sub-mat"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="sub-people" data-toggle="modal" data-target="#myModal") #{categoryPoints["sub-people"]}
          tr
            th Separate
            td 
              button(type="button" class="btn btn-primary suggest" id="sep-func" data-toggle="modal" data-target="#myModal") #{categoryPoints["sep-func"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="sep-parts" data-toggle="modal" data-target="#myModal") #{categoryPoints["sep-parts"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="sep-life" data-toggle="modal" data-target="#myModal") #{categoryPoints["sep-life"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="sep-mat" data-toggle="modal" data-target="#myModal") #{categoryPoints["sep-mat"]}
            td
              button(type="button" class="btn btn-primary suggest" id="sep-people" data-toggle="modal" data-target="#myModal") #{categoryPoints["sep-people"]}
          tr
            th Integrate
            td 
              button(type="button" class="btn btn-primary suggest" id="int-func" data-toggle="modal" data-target="#myModal") #{categoryPoints["int-func"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="int-parts" data-toggle="modal" data-target="#myModal") #{categoryPoints["int-parts"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="int-life" data-toggle="modal" data-target="#myModal") #{categoryPoints["int-life"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="int-mat" data-toggle="modal" data-target="#myModal") #{categoryPoints["int-mat"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="int-people" data-toggle="modal" data-target="#myModal") #{categoryPoints["int-people"]}
          tr
            th Re-Use
            td 
              button(type="button" class="btn btn-primary suggest" id="reuse-func" data-toggle="modal" data-target="#myModal") #{categoryPoints["reuse-func"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="reuse-parts" data-toggle="modal" data-target="#myModal") #{categoryPoints["reuse-parts"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="reuse-life" data-toggle="modal" data-target="#myModal") #{categoryPoints["reuse-life"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="reuse-mat" data-toggle="modal" data-target="#myModal") #{categoryPoints["reuse-mat"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="reuse-people" data-toggle="modal" data-target="#myModal") #{categoryPoints["reuse-people"]}
          tr
            th Standardize
            td 
              button(type="button" class="btn btn-primary suggest" id="stand-func" data-toggle="modal" data-target="#myModal") #{categoryPoints["stand-func"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="stand-parts" data-toggle="modal" data-target="#myModal") #{categoryPoints["stand-parts"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="stand-life" data-toggle="modal" data-target="#myModal") #{categoryPoints["stand-life"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="stand-mat" data-toggle="modal" data-target="#myModal") #{categoryPoints["stand-mat"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="stand-people" data-toggle="modal" data-target="#myModal") #{categoryPoints["stand-people"]}
          tr
            th Add
            td 
              button(type="button" class="btn btn-primary suggest" id="add-func" data-toggle="modal" data-target="#myModal") #{categoryPoints["add-func"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="add-parts" data-toggle="modal" data-target="#myModal") #{categoryPoints["add-parts"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="add-life" data-toggle="modal" data-target="#myModal") #{categoryPoints["add-life"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="add-mat" data-toggle="modal" data-target="#myModal") #{categoryPoints["add-mat"]}
            td 
              button(type="button" class="btn btn-primary suggest" id="add-people" data-toggle="modal" data-target="#myModal") #{categoryPoints["add-people"]}
      else
        h4 No recorded problems yet for this idea.
    br
    br
    if reviewing
      a(href="/contributor-idea-summary").btn.btn-info < Back to Idea Summary
    else
      a(href="/idea-summary").btn.btn-info < Back to Idea Summary
    br
    br
    br

  include ../partials/js-includes.jade
  script(type="text/javascript").
    $(".btn.suggest").click(function(){
      $("#suggestion-category").val($(this).attr("id"));
      $("#point-value").val($(this).text());
      $("#problem-type").val($(".selectedProblem").attr("id"));

      var headerStatement = "How will you ";
      switch($(this).attr("id")){
        case "elim-func" :
          headerStatement = headerStatement  + "Eliminate Functions ".toLowerCase();
          break;
        case "elim-parts" :
          headerStatement = headerStatement  + "Eliminate Parts ".toLowerCase();
          break;
        case "elim-life" :
          headerStatement = headerStatement  + "Eliminate Life-Cycle Processes ".toLowerCase();
          break;
        case "elim-mat" :
          headerStatement = headerStatement  + "Eliminate Materials ".toLowerCase();
          break;
        case "elim-people" :
          headerStatement = headerStatement  + "Eliminate People ".toLowerCase();
          break;

        case "reduce-func" :
          headerStatement = headerStatement  + "Reduce Functions ".toLowerCase();
          break;
        case "reduce-parts" :
          headerStatement = headerStatement  + "Reduce Parts ".toLowerCase();
          break;
        case "reduce-life" :
          headerStatement = headerStatement  + "Reduce Life-Cycle Processes ".toLowerCase();
          break;
        case "reduce-mat" :
          headerStatement = headerStatement  + "Reduce Materials ".toLowerCase();
          break;
        case "reduce-people" :
          headerStatement = headerStatement  + "Reduce People ".toLowerCase();
          break;

        case "sub-func" :
          headerStatement = headerStatement  + "Substitute Functions ".toLowerCase();
          break;
        case "sub-parts" :
          headerStatement = headerStatement  + "Substitute Parts ".toLowerCase();
          break;
        case "sub-life" :
          headerStatement = headerStatement  + "Substitute Life-Cycle Processes ".toLowerCase();
          break;
        case "sub-mat" :
          headerStatement = headerStatement  + "Substitute Materials ".toLowerCase();
          break;
        case "sub-people" :
          headerStatement = headerStatement  + "Substitute People ".toLowerCase();
          break;


        case "sep-func" :
          headerStatement = headerStatement  + "Separate Functions ".toLowerCase();
          break;
        case "sep-parts" :
          headerStatement = headerStatement  + "Separate Parts ".toLowerCase();
          break;
        case "sep-life" :
          headerStatement = headerStatement  + "Separate Life-Cycle Processes ".toLowerCase();
          break;
        case "sep-mat" :
          headerStatement = headerStatement  + "Separate Materials ".toLowerCase();
          break;
        case "sep-people" :
          headerStatement = headerStatement  + "Separate People ".toLowerCase();
          break;


        case "int-func" :
          headerStatement = headerStatement  + "Integrate Functions ".toLowerCase();
          break;
        case "int-parts" :
          headerStatement = headerStatement  + "Integrate Parts ".toLowerCase();
          break;
        case "int-life" :
          headerStatement = headerStatement  + "Integrate Life-Cycle Processes ".toLowerCase();
          break;
        case "int-mat" :
          headerStatement = headerStatement  + "Integrate Materials ".toLowerCase();
          break;
        case "int-people" :
          headerStatement = headerStatement  + "Integrate People ".toLowerCase();
          break;

        case "reuse-func" :
          headerStatement = headerStatement  + "Re-Use Functions ".toLowerCase();
          break;
        case "reuse-parts" :
          headerStatement = headerStatement  + "Re-Use Parts ".toLowerCase();
          break;
        case "reuse-life" :
          headerStatement = headerStatement  + "Re-Use Life-Cycle Processes ".toLowerCase();
          break;
        case "reuse-mat" :
          headerStatement = headerStatement  + "Re-Use Materials ".toLowerCase();
          break;
        case "reuse-people" :
          headerStatement = headerStatement  + "Re-Use People ".toLowerCase();
          break;


        case "stand-func" :
          headerStatement = headerStatement  + "Standardize Functions ".toLowerCase();
          break;
        case "stand-parts" :
          headerStatement = headerStatement  + "Standardize Parts ".toLowerCase();
          break;
        case "stand-life" :
          headerStatement = headerStatement  + "Standardize Life-Cycle Processes ".toLowerCase();
          break;
        case "stand-mat" :
          headerStatement = headerStatement  + "Standardize Materials ".toLowerCase();
          break;
        case "stand-people" :
          headerStatement = headerStatement  + "Standardize People ".toLowerCase();
          break;

        case "add-func" :
          headerStatement = headerStatement  + "Add Functions ".toLowerCase();
          break;
        case "add-parts" :
          headerStatement = headerStatement  + "Add Parts ".toLowerCase();
          break;
        case "add-life" :
          headerStatement = headerStatement  + "Add Life-Cycle Processes ".toLowerCase();
          break;
        case "add-mat" :
          headerStatement = headerStatement  + "Add Materials ".toLowerCase();
          break;
        case "add-people" :
          headerStatement = headerStatement  + "Add People ".toLowerCase();
          break;
      }
      headerStatement = headerStatement +
        "to solve the problem that " +
        $(".selectedProblem").attr("id").split("-")[2] +
        "?";
      $("h4#suggestion-header").text(headerStatement);

    });

    $("#submit").click(function(){
      $("#formSuggestion").submit();
      $("#myModal").modal('hide');
    });

    $(".problemOption").click(function(event){
      var problemAuthor = $(this).attr("id");
      $.get("/update-suggestion-points/"+problemAuthor, function(data){
        for(var key in data){
          $( "#" + key ).text(data[key]);
        }
        $(".btn-primary").each(function(index){
          var value = parseInt($(this).text().slice(1));
        
          if( value == 50){
            $(this).attr("class", "btn btn-primary suggest");
          } else if(value < 50 && value > 20){
            $(this).attr("class", "btn btn-primary suggest oneSugg");
          } else if (value < 25 && value > 10) {
            $(this).attr("class", "btn btn-primary suggest twoSugg");
          } else if (value < 10 && value > 5) {
            $(this).attr("class", "btn btn-primary suggest threeSugg");
          } else if (value < 5 ){
            $(this).attr("class", "btn btn-primary suggest fourSugg");
          }
        });
      });

      $(".selectedProblem").removeClass("selectedProblem");
      $(this).addClass("selectedProblem");
    });

    $(".btn-primary").each(function(index){
      var value = parseInt($(this).text().slice(1));
      if( value == 50){
        $(this).attr("class", "btn btn-primary suggest");
      } else if(value < 50 && value > 20){
        $(this).attr("class", "btn btn-primary suggest oneSugg");
      } else if (value < 25 && value > 10) {
        $(this).attr("class", "btn btn-primary suggest twoSugg");
      } else if (value < 10 && value > 5) {
        $(this).attr("class", "btn btn-primary suggest threeSugg");
      } else if (value < 5 ){
        $(this).attr("class", "btn btn-primary suggest fourSugg");
      }
    });

    var input = document.getElementsByTagName ("input");

    // This is for the main solution text input
    var requiredText = "The solution of "
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 16) {
        this.selectionStart = 16;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 16) {
        this.selectionStart = 16;
      }
    }, false);

    $("#show-hindsight-etc").click(function(event){
      event.preventDefault();
      $("#show-hindsight-etc").hide();
      $(".hindsight").show();
      $(".foresight").show();
      $(".outsight").show();

      
      //hindsight
      input[1].addEventListener ("mousedown", function () {
        if (String($(this).val()).indexOf("In hindsight, ") == -1) {
              $(this).val("In hindsight, ");
        }
        if (this.selectionStart < 14) {
          this.selectionStart = 14;
        }
      }, false);

      input[1].addEventListener ("keydown", function () {
        if (String($(this).val()).indexOf("In hindsight, ") == -1) {
              $(this).val("In hindsight, ");
        }
        if (this.selectionStart < 14) {
          this.selectionStart = 14;
        }
      }, false);

      
      //foresight
      input[2].addEventListener ("mousedown", function () {
        if (String($(this).val()).indexOf("In foresight, ") == -1) {
              $(this).val("In foresight, ");
        }
        if (this.selectionStart < 14) {
          this.selectionStart = 14;
        }
      }, false);

      input[2].addEventListener ("keydown", function () {
        if (String($(this).val()).indexOf("In foresight, ") == -1) {
              $(this).val("In foresight, ");
        }
        if (this.selectionStart < 14) {
          this.selectionStart = 14;
        }
      }, false);

      
      //outsight
      input[3].addEventListener ("mousedown", function () {
        if (String($(this).val()).indexOf("In outsight, ") == -1) {
              $(this).val("In outsight, ");
        }
        if (this.selectionStart < 14) {
          this.selectionStart = 14;
        }
      }, false);

      input[3].addEventListener ("keydown", function () {
        if (String($(this).val()).indexOf("In outsight, ") == -1) {
              $(this).val("In outsight, ");
        }
        if (this.selectionStart < 14) {
          this.selectionStart = 14;
        }
      }, false);

    });

