doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    .profile-headshot
      if headshot
        img.placeholder(src=headshot height="75" width="75")
        a.plus-overlay(href="/profile-picture")
          img(src='/plus-overlay.png' height="75" width="75")
      else  
        img.placeholder(src="/avatar.png" height="75" width="75")
        a.plus-overlay(href="/profile-picture")
          img(src='/plus-overlay.png' height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container
    h1 Title Your Invention
    h3 For:
    h4
      | #{idea.problem}
    h3 How:
    h4
      | #{idea.description}

    form(role='form', id="formTitleYourInvention" action="/title-your-invention", method="post", data-idea-doc=idea)
      h3 Using only words from your answers, what is the title of your invention?
      textarea.form-control(rows='6', cols="75", name="inventionName", placeholder='What is your idea for...')
      br
      button.btn.btn-success(type='submit') Continue >

  include ../partials/js-includes.jade
