doctype html
html
  head
    include ../partials/head.jade
  body
  .header.navbar.navbar-default
    include ../partials/header.jade

  .view-idea-suggestions
    h2 Name : #{idea.name}
    a.btn.btn-default#file-variant(data-toggle="modal" data-target="#fileVariantModal") File This Variant
    if allSignedOff
      a.btn.btn-default#generate-variant-application Build Variant Application
    
    .container
      h2 Suggestions
      - var suggestionText
      - var problemCategory
      - var accountName
      - var compHeadshot
      - var compHeadshotStyle
      each component, i in suggestionsList
        if(i % 3 === 0 )
          .row
            if (suggestionsList[i])
              .col-md-4
                - suggestionText = suggestionsList[i]['descriptions'][0]
                - accountName = suggestionsList[i]['creator']
                if headshotURLs[suggestionsList[i]['creator']]
                  - compHeadshot = headshotURLs[suggestionsList[i]['creator']][0]
                  - compHeadshotStyle = headshotURLs[suggestionsList[i]['creator']][1]
                include ../partials/suggestion-element.jade
            if (suggestionsList[i + 1])
              .col-md-4
                - suggestionText = suggestionsList[i + 1]['descriptions'][0]
                - accountName = suggestionsList[i + 1]['creator']
                if headshotURLs[suggestionsList[i + 1]['creator']]
                  - compHeadshot = headshotURLs[suggestionsList[i + 1]['creator']][0]
                  - compHeadshotStyle = headshotURLs[suggestionsList[i + 1]['creator']][1]
                include ../partials/suggestion-element.jade
            if (suggestionsList[i + 2])
              .col-md-4
                - suggestionText = suggestionsList[i + 2]['descriptions'][0]
                - accountName = suggestionsList[i + 2]['creator']
                if headshotURLs[suggestionsList[i + 2]['creator']]
                  - compHeadshot = headshotURLs[suggestionsList[i + 2]['creator']][0]
                  - compHeadshotStyle = headshotURLs[suggestionsList[i + 2]['creator']][1]
                include ../partials/suggestion-element.jade
       
      h2 Images with Components
      each image, i in images
        - var imageName
        - var imageURL
        - var compImageStyle
        - var componentList
        - var accountName
        - var compHeadshot
        - var compHeadshotStyle
        if(i % 3 === 0 )
          .row
            .col-md-4
              if(images[i])
                - imageName = images[i][0]
                - imageURL = images[i][4]
                - compImageStyle = images[i][5]
                - componentList = images[i][3]
                - accountName = images[i][1]
                if headshotURLs[images[i][1]]
                  - compHeadshot = headshotURLs[images[i][1]][0]
                  - compHeadshotStyle = headshotURLs[images[i][1]][1]
                include ../partials/image-block-element.jade
            .col-md-4
              if(images[i + 1])
                - imageName = images[i + 1][0]
                - imageURL = images[i + 1][4]
                - compImageStyle = images[i + 1][5]
                - componentList = images[i + 1][3]
                - accountName = images[i + 1][1]
                if headshotURLs[images[i + 1][1]]
                  - compHeadshot = headshotURLs[images[i + 1][1]][0]
                  - compHeadshotStyle = headshotURLs[images[i + 1][1]][1]
                include ../partials/image-block-element.jade
            .col-md-4
              if(images[i + 2])
                - imageName = images[i + 2][0]
                - imageURL = images[i + 2][4]
                - compImageStyle = images[i + 2][5]
                - componentList = images[i + 2][3]
                - accountName = images[i + 2][1]
                if headshotURLs[images[i + 2][1]]
                  - compHeadshot = headshotURLs[images[i + 2][1]][0]
                  - compHeadshotStyle = headshotURLs[images[i + 2][1]][1]
                include ../partials/image-block-element.jade

      br
      button.btn.btn-success#submit(type='submit') File this Variant > 

    br
    br
    a.home-logout.btn.btn-default( href="/ideas/" + idea.name) < Back to Idea Summary

  #fileVariantModal.modal.fade.annotate-modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close" data-dismiss="modal") &times;
          .modal-title 
            h2 File a Patent Application
            h5 Send each contributor an email to e-sign contract.
        .modal-body
          .row
            .col-md-3
              h3 Name
            .col-md-3
              h3 Status
            .col-md-3
              h3 Email
          each value, contributor in listOfContributors
            .row
              .col-md-3
                h5.contributor-name= contributor
              .col-md-3
                h5= value
              .col-md-6
                if value != "Approved"
                  form(role='form', class="shareForm" action="/send-variant-contract", method="post", style='max-width: 300px;')
                    .form-group
                      input#toEmailAddress.form-control(type="email", name="toEmailAddress" placeholder="To:" required data-contributorName=contributor)
                      input#fromEmailAddress.form-control(type="email", name="fromEmailAddress" placeholder="From:" required data-contributorName=contributor)
                      input(type="hidden", name="_csrf", value="#{csrfToken}" data-contributorName=contributor)
                      button.btn.btn-success.emailSend(data-contributorName=contributor) Send
                else
                  a(href=contributorContracts[contributor]['location'])
                    h5 Approved - Contract
        .modal-footer
          button.btn.btn-info(data-dismiss="modal") Ok




  include ../partials/js-includes.jade
  script(type="text/javascript").
    $(".btn.suggest").click(function(){
      $("#suggestion-category").val($(this).attr("id"));
      $("#point-value").val($(this).text());
      $("#problem-type").val($("#selectProblem option:selected").attr("id"));
    });

    $("#submit").click(function(){
      $("#formSuggestion").submit();
      $("#myModal").modal('hide');
    });

    $("#selectProblem").change(function(){
      var problem = $("#selectProblem option:selected").attr("id");
      $.get("/update-suggestion-list/"+problem, function(data){
        document.location.href = "/view-idea-suggestions";
      });
    });


    $('#myModal').on('show.bs.modal', function (event) {
      var link = $(event.relatedTarget); // Button that triggered the modal

      var modal = $(this);
      modal.find('.modal-title').empty();
      modal.find('.modal-body').empty();
      modal.find('.modal-title').append("<h2>" + $(link).text());

      $.get("/image-modal/" + $(link).text(), function(data){
        $(".modal-body").append("<img src="+data.imgURL+" height='300' width='550'>");
      });
    });


    $(".emailSend").click(function(event){
      event.preventDefault();
      var contributorName = $(this).attr("data-contributorname");
      var fromEmail = $("#fromEmailAddress[data-contributorname="+contributorName+"]").val();
      var toEmail = $("#toEmailAddress[data-contributorname="+contributorName+"]").val();

      $.post('/send-variant-contract',
        {
          _csrf : $('[name="_csrf"]').val(),
          toEmailAddress : fromEmail,
          fromEmailAddress : toEmail,
          inventor : "#{idea.inventorName}",
          contributorName : contributorName,
          variantName : "#{variantName}"
        },
        function(resp) {
          window.location.reload(true);
        });
    });
