doctype html
html
  head
    include ../partials/head.jade
  body
    .header.navbar.navbar-default
      include ../partials/header.jade
    .container-fluid.view-all-viabilities
      .row.top-row
        .col-xs-10
          h3.top-row-header Viability Scores
        .col-xs-2
          a.close-viability(href="/ideas/#{idea.name}")
            img(src="/close_button.png" height="30" width="30")
      .row.average-score
        .col-xs-12
          h4 Current Score : 
            span.average-score-number #{averageScore}
        - var numberCompleted = 0;
        each viability, index in viabilities
          - var scoreName = viability.reviewScore
          if currentReview[scoreName]
            - numberCompleted = numberCompleted + 1;
        .col-xs-12
          h4 Completed : #{numberCompleted} / 15


      - var numberDisplayed = 0;
      - var numberCompleted = 0;
      each viability, index in viabilities
        - var scoreName = viability.reviewScore
        - var problem = viability.reviewProb

        if !currentReview[scoreName] && numberDisplayed < 4
          - numberDisplayed = numberDisplayed + 1;
          .row.single-viability
            .row.viability-titles
              .col-xs-2
                img.viability-icon(src="/" + viability['iconId'] + ".png")
              .col-xs-10.specific-viability-name
                a(href='/' + viability.name + '-score')
                  h3 #{viability.name.charAt(0).toUpperCase() + viability.name.slice(1)}
            .row.viability-scores-and-problems
              .row.viability-scores-and-problems
                .col-xs-12.viability-score
                  a.btn.btn-lg(href="/" + viability.name + "-score")
                    p Score

      .row.idea-sumamart-buttons
        .col-xs-12
          .view-all-components-wrapper
            a.btn.btn-electric.btn-lg.btn-block#viewCompletedScores(type="button") View Completed Scores


      .row.already-scored
        .col-xs-12
          h3 Already Scored

      each viability, index in viabilities
        - var scoreName = viability.reviewScore
        - var problem = viability.reviewProb
        if currentReview[scoreName]
          .row.single-viability.scored-viabilities
            .row.viability-titles
              .col-xs-2
                img.viability-icon(src="/" + viability['iconId'] + ".png")
              .col-xs-7.specific-viability-name
                a(href='/' + viability.name + '-score')
                  h3 #{viability.name.charAt(0).toUpperCase() + viability.name.slice(1)}
              .col-xs-3.viability-score.specific-score-column
                if currentReview[scoreName]
                  a(href='/' + viability.name + '-score')
                    h3.specific-viability-score #{currentReview[scoreName]}
            .row.viability-scores-and-problems
            if currentReview[scoreName]
              .row.viability-scores-and-problems
                .col-xs-12
                  if problems[problem]
                    .row.specific-imperfection-column
                      a(href='/' + viability.name + '-problem')
                        .col-xs-9
                          h4.viability-problem-statement #{problems[problem]['text'].substring(0,40)+ "..."}
                        .col-xs-3
                          img.edit-imperfection(src="/pencil.png")
                  else
                    a.btn.btn-lg.add-imperfection-btn.btn-industry(href="/" + viability.name + "-problem")
                      p Add imperfection
              if problems[problem]
                .row.make-suggestion
                  .col-xs-12
                    a.btn.btn-electric(href='/imperfection-profile/' + problems[problem]['identifier']) Suggest a solution!
            else
              .row.viability-scores-and-problems
                .col-xs-12.viability-score
                  a.btn.btn-lg(href="/" + viability.name + "-score")
                    p Score


  include ../partials/js-includes.jade
  script(type="text/javascript").
    $(document).ready(function(){
      $("#viewCompletedScores").click(function(event){
        $(".row.idea-sumamart-buttons").hide(400);
        $(".already-scored").show(400);
        $(".scored-viabilities").show(400);
      })
    });