doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .view-idea-suggestions
    h2 Name : #{idea.name}
    h3 Einstein Points Earned : #{user.einsteinPoints}
    br
    
    if (Object.keys(categorizedSuggestions).length != 0 )

      form(role='form', id="incorporateSuggestion" action="/incorporate-suggestions", method="post")
        h2 Contributor Suggestions
        table.suggestion-table
          tr
            th.left-column Suggestion Type
            th Incorporate
          each suggestions, category in categorizedSuggestions
            each suggestion, i in suggestions
              if(suggestion['suggestionID'])
                tr
                tr
                  td.left-column 
                    - var suggestionText = suggestion['suggestion']
                    - var problemCategory = category
                    - var suggestionProblem = suggestion['problemType']
                    - var accountName = suggestion['contributor']
                    include ../partials/suggestion-element.jade
                  td 
                    .radio
                      input(type='radio', name=suggestion['suggestionID'], value="incorporate") 
                      |  Incorporate
                    .radio
                      input(type='radio', name=suggestion['suggestionID'], value="notIncorporate") 
                      |  Don't Incorporate
          
        h2 Images
        table.suggestion-table
          tr
            th.left-column
            th
          each image, index in images
            tr
            tr
              td.left-column 
                - var imageName = image[0]
                - var componentList = image[3]
                - var accountName = image[1]
                include ../partials/image-block-element.jade
              td 
                .radio
                  input(type='radio', name=idea[1], value="incorporate") 
                  |  Incorporate
                .radio
                  input(type='radio', name=idea[1], value="notIncorporate") 
                  |  Don't Incorporate
        br
        button.btn.btn-success#submit(type='submit') Create Variant >

    else
      h3 No suggestions yet for this idea!
    br
    br
    a.home-logout.btn.btn-default( href="/idea-summary" ) < Back to Idea Summary
    br
    br
    br

    #myModal.modal.fade.annotate-modal(role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button", class="close" data-dismiss="modal") &times;
            .modal-title
          .modal-body

          .modal-footer
            button.btn.btn-info(data-dismiss="modal") OK



  include ../partials/js-includes.jade
  script(type="text/javascript").
    $(".btn.suggest").click(function(){
      $("#suggestion-category").val($(this).attr("id"));
      $("#point-value").val($(this).text());
      $("#problem-type").val($("#selectProblem option:selected").attr("id"));
    });


    $("#selectProblem").change(function(){
      var problem = $("#selectProblem option:selected").attr("id");
      $.get("/update-suggestion-list/"+problem, function(data){
        document.location.href = "/view-idea-suggestions";
      });
    });

    $('#myModal').on('show.bs.modal', function (event) {
      var link = $(event.relatedTarget); // Button that triggered the modal

      var modal = $(this);
      modal.find('.modal-title').empty();
      modal.find('.modal-body').empty();
      modal.find('.modal-title').append("<h2>" + $(link).text());

      $.get("/image-modal/" + $(link).text(), function(data){
        $(".modal-body").append("<img src="+data.imgURL+" height='300' width='550'>");
      });
    });

