doctype html
html
  head
    include ../../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Alternative Ideas
    .alternative-ideas
      h4 Existing Alternative Ideas  
      ul
        each alternative, index in idea.alternatives
          li <b>Name</b> : #{alternative.name}
            ul
              li <b>Description</b>: #{alternative.description}
              li <b>Reason for not working</b>: #{alternative.failureReason}
              li <b>Differs by</b>: #{alternative.differsBy}

    br
    h3
      | Add another alternative
    form(role='form', id="formAlternativeIdeas" action="/alternative-ideas", method="post", style='max-width: 600px;', data-idea-doc=idea)
      h4 One other solution for TIME TRAVEL is: 
      input.form-control(type="text" name="alternativeName", placeholder='Is called...')
      p (ex. "growing older")
      
      p GROWING OLDER fails to meet the needs of the TIME TRAVEL industry because 
      input.form-control(type="text" name="failureReason", placeholder='The reason is...')
      p  (ex. “as you grow older, others grow older too.  Thus, others also have the opportunity to see sports scores in real time and bet on the games.  The playing field, alas, remains level.”)
      
      p The #{idea.name} differs from GROWING OLDER because unlike GROWING OLDER, which 
      input.form-control(type="text" name="description", placeholder='Is described by...')
      p (ex. “your body sadly ages as you traverse slowly into the future”),

      p FLUX CAPACITOR 
      input.form-control(type="text" name="differsBy", placeholder='The reason is...')
      p (ex. “enables you to rapidly progress into the future without paying the price of wrinkles, fat and general bodily deterioration.”)
      br
      a(href="/idea-summary").btn.btn-info View All
      |  
      button.btn.btn-success(type='submit') Continue >
      br
      br
      h3 Einstein Points: #{user.einsteinPoints}


  include ../../partials/js-includes.jade
  script(type="text/javascript").
    $("a").click(function(event){
      $(this);
    });